html{
	overflow-x: hidden;
}


body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

#intro-img{
	height: 130vh !important;
}

#nav-register-btn {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navbar-nav>li>a {
	    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.blue-text{
	color: #0091EA !important;
}

.navbar-nav>li {
    margin: 0px 10px;
}

.navbar-custom {
    background-image: none !important;
    background-color: white !important;
    border-radius: 0px !important;
    box-shadow: none;
    padding: 5px 0px;
    padding-bottom: 0px;
    border: none !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
   	height: 70px;
   	font-family: 'Roboto', sans-serif !important;
}

#introduction-tab{
	height: 120vh !important;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url('../icons/abstract1.svg');
	background-repeat: no-repeat;
	background-position: right;
	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(75%, rgba(247,247,247,1)), color-stop(100%, rgba(247,247,247,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0 )*/
}

#navbar-container{
	margin-bottom: 15px;
   
}

#rightfunds-info{
	margin: 0px auto;
}

#login{
	color: #0091EA !important;
	font-weight: 500;
}

#rightfunds-info{
	background-color: #FAFAFA;
}

.info-numbers{
    color: #333333;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 24px !important;
}

.info-text{
	color: #555555;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;

}

.info-images{
	height: 70px;
}

#rightfunds-container{
	padding: 20px 15px;
}

h2{
	font-size: 28px !important;
	color: #333333;
	margin: 45px auto 60px;
}

h3{
	font-size: 20px !important;
	margin-top: 0px;
}

h4{
	font-size: 20px !important;
	color: #333333;
}

.amc-image{
	height: 30px;
    margin-bottom: 20px;
}

.amc-year{
	font-size: 16px;
	margin-bottom: 5px;
}

.return-perc{
	font-size: 20px !important;
	font-weight: 400;
}

.amc-container{

    padding: 20px 10px;
    box-shadow: 0px 0px 20px rgba(216, 216, 216, 0.7);
    border-radius: 2px;
    width: 100%;
}

.feature-info{
	font-size: 16px;
    color: #555555;
    padding: 0px 35px;
}

.feature-container{
	margin: 10px auto;
}

.article-container{
	height: 370px;
    background-size: cover;
    background-position: center;
    width: 340px;
}

.amc-sec-image{
	height: 45px;
}

#article-one{
	background-image: url(../icons/pexels-photo.jpg);
}

#article-two{
	background-image: url(../icons/mutual-funds.jpg);
}

#article-three{
	background-image: url(../icons/piggy-bank.jpg);
}

.article-heading{
	position: absolute;
    top: 73.5%;
    padding: 15px;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
    transition: 0.2s;
    cursor: pointer;
}



.article-heading a {
	text-decoration: none;
	color: white !important;
}

.article-heading:hover > a > span{
	text-decoration: underline;
}

.material-icons{
	vertical-align: middle;
}

.article-heading span:first-child{
	width: 80%;
	display: inline-block;
}

.article-heading span:first-child:hover,.article-heading span:nth-child(2):hover{
	text-decoration: underline !important;
}

.article-heading span:nth-child(2){
	float: right;
    margin-right: 10px;
    display: inline-block;
    margin-top: 30px;
}

.logo-container{
	    margin: 30px auto;
}

.partners-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
}



/*Footer Section starts*/

#footer-section{
	color: #999999;
    background-color: #333333;
    margin-bottom: 0px;
    padding: 60px 0px 30px;
}


#disclaimer{
	font-size: 12px;
}


.footer-info{
	font-size: 16px;
	font-weight: 500;
}

ul{
	list-style-type: none;
	padding: 0px;
}

ul li{
	margin-bottom: 10px;
	margin-top: 20px;
}

ul li a {
	color: white;
}

.footer-social{
	height: 18px;
}

#footer-logo{
	margin-bottom: 10px;
	height: 30px;
}

#amc-names{
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}

.p-l-15{
	padding-left: 15px;
}

#cin{
	margin-right: 40px;
}

#cin-and-arn{
	margin: 20px auto;
}

#reg-company{
	margin-top: 20px;
}

.social-list{
	margin: 0px 10px 0px 0px;
}`

#social-parent{
	margin-top: 20px;
}

#partners-container{
	margin-top: 25px;
}

#intro-img{
	height: 530px;
	margin-top: -35px;
}

h1{
	color: #333333;
	font-size: 34px;
	margin-top: 0px;
}

.head-info{
	font-size: 20px;
    color: #555555;
    padding: 0px 100px 0px 0px;
    margin-top: 30px; 
}

#intro-text-container ~ h1{
	font-size: 50px;
}

#intro-text-container p:nth-child(3){
	padding-right: 200px;
	color: #333333;
	font-size: 18px;
}

#intro-text-container p:nth-child(2){
	padding-right: 180px;
	color: #333333;
	font-size: 18px;
}

#intro-text-container p:nth-child(4){
	padding-right: 350px;
    font-size: 20px;
    color: #555555;
    margin-top: 60px;
    color: #333333
}

#register-link{
	font-size: 16px;
    padding: 13px 20px;
    width: 150px;
    margin-top: 25px;
}

#intro-text-container{
	/*margin-bottom: 50px;*/
	padding-left: 40px;

}
#introduction-tab .container{
	margin-top: 140px;
}


.footer-list li a:hover{
	border-bottom: 1px solid white;
	color: white;
	padding-bottom: 2px;
}

#amc-names span{
	transition: 0.3s;
}

#amc-names span:hover{
	color:white;
	cursor: pointer;
}

#header-logo{
	height: 30px;
}

.intro-info-container{
	 margin-left: -30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro-info-sub{
	/*margin-left: -30px;*/
	padding-left: 0px;
}

#zero-sub-text{
	font-size: 16px;
	color: #333333;
	font-weight:400;
}


#intro-register-link{
	padding: 5px;
    background-color: #0091EA;
    border-radius: 50px;
    color: white;
    padding-left: 25px;
    font-size: 16px;
    display: inline-block;
    font-weight: 500;
    /* width: 56%; */
    margin-top: 10px;
}

#link-arrow{
	margin-left: 5px;
}

#scheme-card-two{
	display: none;
}

#toggle-card-parent{
	margin: 40px auto 0px;
}

.toggle-scheme > i{
	font-size: 36px !important;
    color: gray;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0px 1px 5px #ddd;
}

#show-two{

	float: right;
	margin-right: -10px;

}

#show-one{

	float: left;
	margin-left: -10px;
}

.toggle-scheme > i:hover{
	color: #0091EA !important;
	border-radius: 50% !important;
	padding: 10px !important;
	box-shadow: 0px 4px 10px #ddd;
}

.toggle-scheme{
/*	margin: 15px;
	margin-top: -275px;
	position: relative;*/
}

#intro-container{
	margin-top: 45px;
}

#show-one{
	/*display: none;*/
}
.amc-parent-container{
	width: 280px;
    display: inline-block;
    margin: 10px 15px;
}

#performing-funds-container{
	width: 100vw;
    overflow-x: scroll;
    padding: 10px 0px;
}


#scheme-card-one{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    overflow-x: scroll;
}




/*Testing */


.return-block{
	display: block !important;
	clear: both;
}

.return-perc-div{
	margin: 0px 15px;
}

.scheme-info-header{
	float: left;
	margin-left: 25px;
}

.scheme-info-detail{
	float: right;
	margin-right: 25px;
}

#top-scheme-container {
  position: relative;
  width: 1250px;
  margin: 2px auto;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align:middle;
  z-index: -10;
}

#direction-holder{
  width: 1250px;
  margin: 0px auto;
  text-align: center;
      margin-top: -275px;
    margin-bottom: 275px;
}

#top-scheme-container div {
  display: inline-block;
/*  width: 14em;
  height: 6em;
  margin: 0.5em;
  border: 1px solid blue;
  padding: 3px;
  white-space: normal;*/
  text-align: center;
}