@media(min-width: 1800px){
	#intro-img {
		height: 700px;
		float: right;
		margin-top: 0px;
	}

	body{
		background-color: white !important;
	}

	.info-images {
	    height: 100px;
	}

	.info-text{
		font-size: 24px;
	}

	.info-numbers{
		font-size: 30px;
	}

	#zero-sub-text {
    	font-size: 26px;
    }

    h1{
    	font-size: 32px;
    }

    #intro-text-container p:nth-child(2){
    	font-size: 22px;
    }

    .info-images{
    	height: 80px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -40px;
	}

	#zero-sub-text{
		margin-top: 40px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 130px;
		padding-top: 45px;
	}

	#introduction-tab{
		height: 90vh;
	}

}

@media(min-width: 1600px) and (max-width: 1799px){
	#intro-img {
		height: 600px;
		float: right;
		margin-top: 0px;
	}

	body{
		background-color: white !important;
	}

	.info-images {
	    height: 100px;
	}

	.info-text{
		font-size: 24px;
	}

	.info-numbers{
		font-size: 30px;
	}

	#zero-sub-text {
    	font-size: 26px;
    }

    h1{
    	font-size: 32px;
    }

    #intro-text-container p:nth-child(2){
    	font-size: 22px;
    }

    .info-images{
    	height: 80px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -5px;
	}

	#zero-sub-text{
		margin-top: 40px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 130px;
		padding-top: 25px;
	}

	#introduction-tab{
		height: 90vh;
	}
}


@media(min-width: 1400px) and (max-width: 1599px) {
	#intro-img {
		height: 550px;
		float: right;
		margin-top: 0px;
	}

	body{
		background-color: white !important;
	}

	.info-images {
	    height: 100px;
	}

	.info-text{
		font-size: 22px;
	}

	.info-numbers{
		font-size: 30px;
	}

	#zero-sub-text {
    	font-size: 26px;
    }

    h1{
    	font-size: 28px;
    }

    #intro-text-container p:nth-child(2){
    	font-size: 20px;
    }

    .info-images{
    	height: 70px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -5px;
	}

	#zero-sub-text{
		margin-top: 10px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 130px;
		padding-top: 25px;
	}

	#introduction-tab{
		height: 90vh;
	}
}

@media(min-width: 1201px) and (max-width: 1300px){
		#top-scheme-container,#direction-holder{
			width: 1000px;
		}
}

@media(min-width: 992px) and (max-width: 1200px){

	#intro-img{
		height: 400px;
		float: right;
		margin-top: 0px;

	}

	#top-scheme-container,#direction-holder{
			width: 900px;
		}


	h1{
		font-size: 28px;
	}
	h2{
		font-size: 24px !important;
	}
	#intro-text-container p:nth-child(2),p:nth-child(3) {
		font-size: 16px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 18px;
		padding-right: 200px;
	}

	#intro-text-container {
	    /* margin-bottom: 50px; */
	    /*margin-left: 40px;*/
	}

	.info-images{
		height: 70px;
	}

	.info-numbers{
		margin-left: 10px;
	}

	.info-text{
		margin-left: 10px;
		font-size: 14px;
		margin-top: 10px;
	}

	.choose-image{
		height: 90px;
	}

	h4{
		font-size: 18px !important;
	}

	.article-container{
		width: 280px;
	}

	.article-heading{
		font-size: 18px;
		top: 76.9%;
	}

	/*.article-heading:hover {
    	padding-bottom: 150px;
    	top: 136px;
	}*/
}



@media(min-width: 768px) and (max-width: 992px){

	#intro-img{
		height: 375px;
    	margin-top: -10px;
	}

	#intro-register-link{
		font-size: 14px;
		    margin-bottom: 30px;
	}

	
	#introduction-tab {
    	height: auto !important;
	    margin-bottom: 50px;
	}

	#top-scheme-container,#direction-holder{
			width: 700px;
		}

	h1{
		font-size: 24px;
	}
	h2{
		font-size: 22px !important;
	}

	#intro-text-container p:nth-child(2) {
    	padding-right: 90px;
	}
	#intro-text-container p:nth-child(2),p:nth-child(3) {
		font-size: 14px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 18px;
		padding-right: 200px;
	}

	#intro-text-container p:nth-child(3) {
    	padding-right: 100px;
    	font-size: 16px;
	}

	#intro-text-container p:nth-child(4) {
		margin-top: 15px;
	}
	#intro-text-container {
	    /* margin-bottom: 50px; */
	    /*margin-left: 40px;*/
	    z-index: 10;
	}


	#introduction-tab {
    	height: auto !important;
	    margin-bottom: 50px;
	}

	#register-link {
	    font-size: 16px;
	    padding: 10px;
	    width: 130px;
	    margin-top: 25px;
	}

	#nav-register-btn{
		width: 100px;
		font-size: 14px;
	}

	.navbar-nav>li>a {
    	font-size: 16px;
    	font-weight: 400;
	}

	.info-images{
		height: 50px;
	}

	.info-numbers{
		color: #555555;
    	font-weight: 500;
    	margin-bottom: 2px;
    	margin-top: 0px;
    	margin-left: 15px;
    	font-size: 20px !important;
	}

	.info-text{
		margin-left: 15px;
    	font-size: 14px;
	}

	.choose-image{
		height: 65px;
	}

	#zero-sub-text{
		font-size: 15px;
	}

	h4{
		font-size: 16px !important;
	}

	.article-container{
		width: 210px;
		height: 270px;
	}

	.article-heading{
		font-size: 14px;
		top: 68.9%;
	}

	/*.article-heading:hover {
    	padding-bottom: 100px;
    	top: 100px;
	}*/

	.amc-container{
		width: 275px;
	}

	.amc-image{
		height: 25px;
	}

	.amc-info-text{
		font-size: 12px;
	}

	.return-perc{
		font-size: 20px !important;
	}

	.amc-year{
		font-size: 13px;
	}

	.margin-logo{
		margin: 10px auto;
	}

	.logo-container{
		margin: 10px auto 0px;
	}

	#reliance{
		height: 45px;
	}

	#lt,#dsp{
		height: 35px;
	}

	#dsp{
		height: 30px;
	}

	#icici,#franklin{
		height: 60px;
	}

	#birla{
		height: 50px;
	}

	#hdfc{
		height: 40px;
	}

	#sbi{
		height: 28px;
	}
	#kotak{
		height: 40px;
	}

	#axis{
		height: 28px;
	}

	#tata{
		height: 50px;
	}

	#sundaram{
		height: 28px;
	}

	ul li a{
		font-size: 12px;
	}

	.social-list{
		margin: 0px;
	}

	.footer-social{
		height: 16px;	 
	}

	#reg-company{
		font-size: 12px;
	}

	#disclaimer{
		font-size: 10px;
	}

	#amc-names{
		font-size: 12px;
	}

}

@media(min-width: 500px) and (max-width: 767px){
	.navbar-toggle {
		margin-top: 12px;
	}


	#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}

	#introduction-tab {
    	height: auto !important;
	    margin-bottom: 50px;
	}

	.intro-info-container{
		margin-left: 0px;
	}

	#top-scheme-container,#direction-holder{
		width: 400px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 28px;
	}

	#intro-text-container p:nth-child(2) {
    	padding: 0px 40px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 60px;
	}

	h2{
		font-size: 24px !important;
		padding: 0px 50px;
		line-height: 34px;		
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: #e7e7e7 !important;
	    background-color: white !important;
	    text-align: center !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		     background-color: transparent !important; 
		    border: none !important;
	}

	.navbar-default .navbar-toggle{
		border: none;
	}

	#nav-register-btn{
		margin-right: 0px;
	}

	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 330px;
	}

	.feature-info{
		padding: 0px 140px;
	}

	.article-heading{
		top: 76.5%;
		font-size: 20px
	}
/*
	.article-heading:hover {
    	padding-bottom: 150px;
    	top: 148px;
	}
*/
	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
	}

	#franklin{

	}

	#reliance{
		height: 45px;
	}

	#lt,#dsp{
		height: 35px;
	}

	#dsp{
		height: 30px;
	}

	#icici,#franklin{
		height: 50px;
	}

	#birla{
		height: 50px;
	}

	#hdfc{
		height: 40px;
	}

	#sbi{
		height: 28px;
	}
	#kotak{
		height: 40px;
	}

	#axis{
		height: 28px;
	}

	#tata{
		height: 50px;
	}

	#sundaram{
		height: 28px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px 80px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 14px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 14px;
	}

	#intro-register-link{
		font-size: 16px;
        margin-bottom: 30px;
	}
}




@media(min-width: 350px) and (max-width: 500px){
			#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}

	#top-scheme-container,#direction-holder{
		width: 300px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
		    padding: 0px;
	    margin-top: 10px;
	    font-size: 16px;
	}

	.info-images{
		height: 60px;
	}

	.navbar-toggle {
margin-top: 12px;
}

	#introduction-tab {
    	height: auto !important;
    	
	}

	#intro-register-link{
		font-size: 16px;
    	margin: 37px;
    	padding: 9px;
        margin-bottom: 30px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	.intro-info-container{
		margin-left: 0px;
		padding-right: 0px;
	}

	#intro-container{
		margin-top: 40px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: #e7e7e7 !important;
	    background-color: white !important;
	    text-align: center !important;
	    border-bottom: 1px solid;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		     background-color: transparent !important; 
		    border: none !important;
	}

	.navbar-default .navbar-toggle{
		border: none;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 24px;
	}

	#intro-text-container p:nth-child(2) {
    	padding: 0px;

	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
	}

	h2{
		font-size: 22px !important;
		padding: 0px 20px;
	}

	#cin{
		display: block;
		margin-right: 0px;
	}

	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 330px;
	}



	.feature-info{
		padding: 0px 40px;
	}

	.choose-image{
		height: 70px;
	}

	.article-heading{
		top: 69%;
		font-size: 17px
	}

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 260px;
    height: 280px;
	}


	#reliance{
	height: 35px;
	}

	#lt,#dsp{
		height: 23px;
	}

	#dsp{
		height: 20px;
	}

	#icici,#franklin{
	height: 40px;
	}

	#birla{
	height: 40px;
	}

	#hdfc{
		height: 34px;
	}

	#sbi{
		height: 16px;
	}
	#kotak{
		height: 30px;
	}

	#axis{
		height: 20px;
	}

	#tata{
		height: 40px;
	}

	#sundaram{
		height: 17px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 14px;
	}

}



@media(min-width: 300px) and (max-width: 350px){

	#intro-container {
    margin-top: 30px;
}

	#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}


	#introduction-tab {
    	height: auto !important;
    	
	}
	.intro-info-container{
		margin-left: 0px;
		padding-right: 0px;
	}


	#top-scheme-container,#direction-holder{
		width: 300px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
		    padding: 0px;
	    margin-top: 10px;
	    font-size: 16px;
	}

	.toggle-scheme > i{
		font-size: 28px !important;
		padding: 5px;
	}

	.info-images{
		height: 60px;
	}
	.navbar-toggle {
	margin-top: 12px;
	}
	.return-perc-div {
	    margin: 0px 10px;
	}

	#nav-register-btn{
		margin-right: 0px;
	}

	#top-performing-mutual-fund h2{
		margin-bottom: 0px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: none !important;
	    background-color: white !important;
	    text-align: center !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		     background-color: transparent !important; 
		    border: none !important;
	}

	.navbar-default .navbar-toggle{
		border: none;
	}

	.info-text{
		font-size: 16px;
	}

	.info-numbers{
		font-size: 20px !important
	}

	.intro-info-sub{
		padding-right: 0px;
	}

	#show-two{
		margin-right: 0px;
	}

	#show-one{
		margin-left: 15px;
	}

	#intro-register-link{
		font-size: 13px;
		    margin-bottom: 30px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 20px;
	}

	#intro-text-container p:nth-child(2) {
    	padding: 0px 10px;
    	font-size: 14px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
 	   font-size: 14px;
 	   padding: 0px 10px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 14px;
	}

	#register-link {
    	font-size: 14px;
    	padding: 10px 20px;
    	margin-top: 70px;
    	width: 120px;
	}

	h2{
		font-size: 20px !important;
    	margin: 20px 20px !important;
	}

	h4 {
    font-size: 16px !important;
    color: #333333;
	}
	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 370px;
	}

	.feature-info{
		padding: 0px 40px;
	}

	.choose-image{
		height: 70px;
	}

	.article-heading{
		top: 70%;
		font-size: 15px
	}

	

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 230px;
    height: 280px;
	}

	#franklin{

	}

	#reliance{
		    height: 22px;
	}

	#lt,#dsp{
		    height: 16px;
	}

	#dsp{
		    height: 17px;
	}

	#icici,#franklin{
		    height: 30px;
	}

	#birla{
		    height: 37px;
	}

	#hdfc{
		    height: 36px;
	}

	#sbi{
		    height: 15px;
	}
	#kotak{
		height: 22px;
	}

	#axis{
		    height: 17px;
	}

	#tata{
		height: 38px;
	}

	#sundaram{
		height: 12px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 12px;
    	padding-left: 0px;
	}

	#cin{
		margin-right: 10px;
	}



}