@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.mont{
  font-family: 'Montserrat', sans-serif;
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}


#oops{
    font-size: 160px;
    margin: 5% auto 0px auto;
    color: #e2e2e2;
    font-weight: 500;
    letter-spacing: 0.03em;
}

#exist{
  font-size: 40px;
  font-weight: 600;
}

#go-home{
      background-color: #0091EA;
    border-color: #0091EA;
    color: white;
    font-family: gotham_book;
    font-size: 20px;
    margin: 40px auto;
}


@media(min-width: 992px) and (max-width: 1200px){

  #oops{
    font-size: 180px;

}

#exist{
  font-size: 32px;
      margin-top: -20px;

}

#go-home{

    font-size: 18px;
    margin: 20px auto;
}
  
}



@media(min-width: 768px) and (max-width: 992px){


  #oops{
    font-size: 150px;

}

#exist{
  font-size: 26px;
      margin-top: -20px;

}

#go-home{

    font-size: 16px;
    margin: 20px auto;
}
  

}

@media(min-width: 500px) and (max-width: 767px){

  #oops{
    font-size: 100px;

}

#exist{
  font-size: 18px;
      margin-top: -20px;

}

#go-home{

    font-size: 14px;
    margin: 20px auto;
}
  

}




@media(min-width: 350px) and (max-width: 500px){
  #oops{
    font-size: 80px;

}

#exist{
  font-size: 16px;
      margin-top: -15px;

}

#go-home{

    font-size: 12px;
    margin: 10px auto;
}
    
}



@media(min-width: 300px) and (max-width: 350px){

  #oops{
    font-size: 80px;

}

#exist{
  font-size: 16px;
      margin-top: -15px;

}

#go-home{

    font-size: 12px;
    margin: 10px auto;
}
         

}