
.article-section{
	margin-top: 70px;

}
.container-indexmod{
width: 900px;

}
.main-title{
	font-weight: 500;
    width: 600px;
    font-size: 46px;
    line-height: 1.4;
    font-family: 'Frank Ruhl Libre', serif;
}
.main-para{
	margin-top: 20px;
	font-weight: 400;

    font-size: 20px ;
    line-height: 1.5;
}

.index-share{color: #333;
    margin-top: 15px;
}
.share-icon{
vertical-align: middle;
}
.img-spacing{
	margin-top: 25px;
}
.main-img{
	width: 100%;

}
.latestpub-head{
	margin-left: 15px;
}

#latest-article{
	 margin-bottom: 30px;
}

.article-headsize{
	height: 80px;
    overflow: hidden;
}

.article-parasize{
    height: 110px;
    overflow: hidden;
}


.article-card{
    margin-bottom: 20px;
}



@media (max-width: 996px) and (min-width: 768px){
.main-para{
     width: 90%; 
   }
   
}


@media (max-width: 767px) and (min-width: 200px){
	.container-indexmod {
    width: auto;
}
.article-parasize {
    height: 80px;
    overflow: hidden;
}

.main-title{
    width: auto;
    font-size: 38px;
  
}
.main-para{
	
    font-size: 18px ;
   
}


}