.article-img{
	display: block;
    margin: auto;
	    margin-top: 72px;
	
	    width: 100%;
}
.article-spacing {
	margin-top: 20px;
	font-family: 'Frank Ruhl Libre', serif;
}

.share{
	
	margin-top: 10px;
	    padding: 4px 15px;
}

.container-mod{
	width: 800px;
}

.content-spacing{
	margin-top: 30px;
}
.article-content{

	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
	
}
.content-header{
    font-size: 38px;
}
.content-subhead{

	margin-top: 25px;
	margin-bottom:  15px;
	font-size: 20px;
	line-height: 1.8;
	font-weight: 600;
}

.endline{
	width: 100px;
}
.sepration-line{
	margin-bottom: 0px;
	border-top: 1px solid #333;
}

.recommend-end{
	border-top: 0px solid #333;
}
.img-spacing{
	margin: 30px 0px;
}
.article-rep{
	font-weight: 400;
}
.strong{
	font-weight: 600;
}

.article-headtxt {
     margin-top: 0px;
     font-weight: 500;
    }
.latest-img{
	width: 100%;
	height: 100%;
}
.button-spacing{
	margin-top: 5px;
}
.break-line{
	color: #333;
}
#recommended-article{
	background-color: #f7f7f7;
}


#article-para p{
	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
}

@media (max-width: 996px) and (min-width: 768px){
.container-mod {
    width: 700px !important;
}



}
@media (max-width:768px) and (min-width: 200px){
.container-mod {
    width: auto!important;
}
.content-header {
    font-size: 28px;
    line-height: 1.4;
}
#article-para p, .article-content {
    font-size: 16px;
}
.article-headtxt {
    
    font-size: 24px;
}
.share{
	background-color: #fff;
	padding: 10px 16px !important;
}
.share li{

	 padding: 0px 25px;
display: inline-block;
vertical-align: bottom;
}

}	