 
.roman-list{
 list-style-type:decimal ;
text-align:left;
}

.roman-list li{
font-size: 16px;
 margin: 20px 0px;
 text-align: left;
 padding-left: 5px;
font-weight: 400;
}
.horz-seperator{

border-left: 1px solid #eee;
}

.tax-value,.incometax{

	text-align: right;
}
.income-value,.tax-value{
	font-size: 18px;
	font-weight: 400;
	color: #555;


}
.tax-value{
	font-size:32px !important	;
	color: #0091ea;

}

.incometax-section2{
	padding-top: 30px;
}

.cess{
	padding-bottom: 30px;
}
.table{
	background-color: #f7f7f7;
}

.table{

}

.table thead tr th{
	text-align: left;
	font-size: 15px;
	padding:15px ;
}

.table tbody tr td{
text-align: left;
font-size: 15px;
padding:15px ;
}