#faq{
	margin-top: 60px;
}

.panel-heading{
	background-color: white !important;
	background-image: none !important;
	border:none!important;
	border-bottom: none !important;
	border-color: transparent;
}


h3{
	margin-bottom: 40px;
}

.sub-faq-content{
	display: inline-block;
	margin: 10px auto;
}

.sub-faq-content span{
	font-weight: 500;
}


.panel{
	margin-bottom: 20px !important;
}

.faq-container{
	border: 1px solid gainsboro;
    border-radius: 7px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.faq-exp{
	font-size: 18px;
    color: #333333;
    letter-spacing: 0.03rem;
    line-height: 28px;
}

.faq-heading{
	display: inline-block;
	margin-bottom: 15px;
	    width: 80%;
    line-height: 25px;
}

.material-icons:hover{
	background-color: white !important;
}

.arrow-icon{
	font-size: 28px !important;
}

#faq-header{
	padding-left: 0px;
	margin-top: 10px;
	color: #555;

}
.faq-image{
	display: block;
    margin: auto;

}




@media(min-width: 300px) and (max-width: 350px){

	.faq-image{
			display: block;
    margin: auto;
    width: 100% !important;
	}

}