body{
	font-family: 'Roboto', sans-serif !important;
	color: #555555 !important;
	background-color: #fdfdfd;
}

.fl{
	font-weight: 300;
}

.fr{
	font-weight: 400;
}

.fm{
	font-weight: 500;
}

.fb{
	font-weight: 700;
}

.p-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.p-l-zero{
	padding-left: 0px;
}


.p-r-zero{
	padding-right: 0px;
}


.box-shadow-all{

	 box-shadow: 0px 2px 15px rgba(220, 220, 220, 0.79);
}

.box-shadow-sub{
	box-shadow: 0px 0px 15px rgba(226, 226, 226, 0.6) !important;
}


.navbar-custom{
	
	background-image: none !important;
	background-color: white !important;
	border-radius: 0px !important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 2px 5px rgba(0,0,0,.075);
	padding: 5px;
    padding-bottom: 0px;
    z-index: 25;
    position: relative;
}


.navbar-nav>li>a {
    padding-top: 15px !important;
    padding-bottom: 25px !important;
    font-size: 16px;
    font-weight: 500;
    color: #555555 !important;
 
}

.navbar-nav>li{
	   margin: 0px 2px;
}

.navbar-brand{
	padding: 15px !important;
	margin-left: 10px !important;
    margin-right: 10px !important;
}


#blue-btn,.blue-btn:active,.blue-btn:focus,{
	background-color: #0091EA !important;
	color: white;
	background-image: none !important;
}

.btn-primary{
    background-color: #0091EA !important;
    background-image: none !important;
    padding: 8px;
    width: 110px;
    border-radius: 5px;
    border-color: #0091EA !important;
    box-shadow: none !important;
}

.btn-primary:focus,.btn-primary:active{
	outline: none;
	background-color: #0091EA !important;
    color: #fff !important;
}



.nav-logo{
       height: 28px;
}

.active-menu{
        border-bottom: 2px solid #0091EA;
}

#nav-invest-btn{
        margin-top: 10px !important;
}

#nav-notification{
    font-size: 20px !important;
    margin: 14px !important;
    background-color: #EEEEEE;
    border-radius: 50px;
    padding: 7px;
    color: #555555;

}

#nav-initial{
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 0px;
    background-color: #0091EA;
    padding: 6px 11px;
    border-radius: 50px;
    color: white;
    height: 32px;
    width: 32px;
    text-align: center;

}

.nav-user-details{
    margin-bottom: 0px;
    font-size: 12px;
}

.nav-user-name{
    margin-bottom: -2px;
    margin-top: 12px;
}

.nav-user-details,.nav-user-name{
    margin-left: 10px;
    margin-right: 10px;
}


#nav-dropdown{
    font-size: 26px !important;
    margin-top: 15px !important;
    color: #747474; 
}

a:hover{
	text-decoration: none;
	color: none;
}

.material-icons:hover{
	cursor: pointer;
}

.border-bot{
	    border-bottom: 1px solid #E6E6E6;
}


.green{
	color: #04D298 !important;
}

.red{
	color: #FD353A !important;
}

.blue{
	color: #0091EA !important;
}

.header-pad{
	padding: 20px 0px;
}

.cont-header{
	font-size: 16px;
    color: #555;
    font-weight: 400;
}

.br{
	border-radius: 7px;
}


.pl-10{
	padding-left: 10px;
}

.pl-30{
	padding-left: 30px;
}

.pr-30{
	padding-right: 30px;
}

.p-lr-35{
	padding-left: 35px;
	padding-right: 35px;
}

.p-lr-30{
	padding-left: 30px;
	padding-right: 30px;
}

.p-r-35{
	padding-right: 35px;
}

.p-30{
	padding: 30px;
}

.m-l-30{
	margin-left: 30px;
}

.m-t-20{
	margin-top: 20px;
}


.gray-btn,.gray-btn:active{
	    background-color: #b7b7b7 !important;
    border-color: #b7b7b7 !important;
    width: 100px;
    box-shadow: none;
}


section{
	margin: 15px auto;
}


.sub-cont-header{
	font-size: 16px;
    color: #555555;
}

.blue-text{
	color: #0091EA !important;
}

.mb-0{
	margin-bottom: 0px;
}

.text-green{
	color: #04D298;
}

.text-red{
	color: #FD353A;
}

.border-all{
	 border: 1px solid #E6E6E6;
	 /*box-shadow: 0px 0px 4px rgba(210, 210, 210, 0.6);*/
}


.p-tb-20{
	padding-top: 20px;
    padding-bottom: 20px;
}

.border-top{
	border-top: 1px solid #E6E6E6;
}

.border-right{
	border-right: 1px solid #E6E6E6;
}

.border-bottom{
	border-bottom: 1px solid #E6E6E6;
}

.p-t-20{
	padding-top: 20px;
}

.p-b-20{
	padding-bottom: 20px;
}

.p-tb-20{
	padding-top: 20px;
	padding-bottom: 20px;
}


.section-header{
	font-size: 18px;
    color: #555555;
    font-weight: 500;
    margin-bottom: 0px;
}

.section-header-info{
	float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #555555;
    margin-bottom: 0px;
    margin-top: 5px;
}

label{
	font-size: 14px;
	font-weight: 400;
	color: #555555;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.inline{
	display: inline;
}

.dropdown-menu{
	border :none;
	padding: 0px;
}

.material-icons:hover{
	/*background-color: #F2F2F2 !important;*/
	border-radius: 4px;
	transition: 0.3s;
}

#nav-dropdown:hover{
	background-color: #F2F2F2 !important;
	border-radius: 4px;
	transition: 0.3s;
}

ul.dropdown-menu{
	  /*transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;*/
	  transition: 0.3s;
}

.left-label-span{
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.right-label-span{
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

input[type="radio"]:checked + label.radio-label span.radio {
    background-color: #0091EA;
    color: white;
    /*border-radius: 4px !important;*/
}

.input-field {
    background-color: transparent !important;
    border: medium none;
    transition: background-color 0.3s ease 0s;
    padding: 7px 0px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    width: 100%;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
    font-size: 14px;
}


.ui-widget{
	font-family: 'Roboto', sans-serif !important;
}


select{
    border: none;
    font-weight: 400;
    background-image: url(../img/arrow_down_32.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
}

#ui-datepicker-div{
	font-family: 'Roboto', sans-serif !important;
	    width: 290px;
    height: 310px;
    background-color: white;
}


input[type=radio]{
	display: none;
}

.general-info{
	font-size: 18px;
}


.text-danger {
    color: #FD353A !important;
    display: inline-block;
    margin-top: 5px !important;
    font-size: 12px !important;
}

select:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}

option{
	font-size: 16px !important;
}

.gray-btn:hover{
	cursor: default;
}

.dropdown-menu{
	min-width: 80px !important;
	text-align: center !important;
}

.dropdown-menu>li>a{
	color: #777777 !important;
}

.dropdown-menu>li>a:hover{
	background-color: #c6c6c6 !important;
}

.notify-drop{
	min-width: 160px !important;
	width: 350px;
	text-align: left !important;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
     background-color: transparent !important; 
     border: none !important; 
     border-radius: 0px !important; 
    border-bottom: 1px solid #BFBFBF !important;
}

a:visited,a:active,a:link,a:hover{
	text-decoration: none;
}


input:focus ~ label , input:valid ~ label{
	top: -12px;
	font-size: 11px;
	
	color: #0091EA;
}




input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
	background-color: transparent !important; 
}

input:valid ~ label , input:disabled ~ label {
	top: -12px;
	font-size: 11px;
	
	color: #555555;
}

input:focus ~ label{
		top: -12px;
	font-size: 11px;
	color: #0091EA;
}

.close{
	display: none !important;
}


.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999999;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top: 8px solid #0091EA;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#logout-dropdown{
    min-width: 115px !important;
    text-align: center !important;
}

#logout-dropdown li a{
	padding: 0px;
    font-size: 17px;
    text-align: center;
    padding: 8px 0px; 
    border:none !important;
    font-weight: 500;
}

#logout-dropdown li a:hover{
	background-color: white !important;
	color: #0091EA !important;

}

#logout-icon{
	vertical-align: middle !important;
	font-size: 20px !important;
	margin-left: 10px !important;
}

.open>#logout-dropdown{
	margin-top: 5px !important;
	box-shadow: 0px 1px 10px gainsboro !important;
}

.dropdown-toggle{
	background-color: transparent !important;
}


@media (min-width: 768px) and (max-width: 3000px) {
	.modal-dialog {
	    width: 600px;
	    margin: 110px auto;
	}
}


@media(min-width: 500px) and (max-width: 767px){

	.modal-dialog {
	     margin: 0px; 
	    position: relative !important;
	       margin: 0% 25% !important;
	    display: flex !important;
	     justify-content: center; 
	    align-items: center !important;
	    height: 95vh !important;
	}
}


@media(min-width: 350px) and (max-width: 500px){

	.modal-dialog {
	     margin: 0px; 
	    position: relative !important;
	        margin: 0% 18% !important;
	    display: flex !important;
	     justify-content: center; 
	    align-items: center !important;
	    height: 95vh !important;
	}
}




@media(min-width: 300px) and (max-width: 350px){

	.modal-dialog {
	     margin: 0px; 
	    position: relative !important;
	        margin: 0% 8%  !important;
	    display: flex !important;
	     justify-content: center; 
	    align-items: center !important;
	    height: 95vh !important;
	}

	.section-header {
    font-size: 15px !important;
    color: #555555 !important;
    font-weight: 500 !important;
    margin-bottom: 0px !important;
	}

	.section-header-info {
     margin-right: 0px !important; 
     margin-top: 0px !important; 
	}
}