@font-face{
	font-family:gotham_medium;
	src:url(GothamRounded-Medium.otf)
}
@font-face {
    font-family: gotham_book;
    src: url(GothamRounded-Book.otf);
}
@font-face {
    font-family: gotham_light;
    src: url(GothamRounded-Light.otf);
}
.gotham_book {
    font-family: gotham_book;
}
.gotham_medium {
    font-family: gotham_medium;
}
.gotham_light {
    font-family: gotham_light;
}
.panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
.fund-title {
    margin-left: 20px;
    color: #333;
    font-size: 16px;
    font-family: gotham_book;
    font-weight: 700;
}
.custom-amount {
    border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 60%;
    padding-bottom: 2px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0;
    font-size: 20px;
    font-family: gotham_medium;
}
#equity-sm, #gold-sm, #hybrid-sm, #debt-sm, #elss-sm {
    color: #0091EA;
    font-family: gotham_book;
    font-size: 14px;
}
#equity-panel>.panel-heading, #debt-panel>.panel-heading, #bal-panel>.panel-heading, #elss-panel>.panel-heading, #total_amount_panel>.panel-heading {
    border-bottom: 1px solid #ddd;
}
#total_amount_panel>.panel-heading {
    border;
}
#portfolio_done_div {
    text-align: center;
}
.padding-lr-zero {
    padding-left: 0;
    padding-right: 0;
}
.padding-r-zero {
    padding-right: 0;
}
.padding-l-zero {
    padding-left: 0;
}
.navbar {
    border-radius: 0;
    padding-left: 12%;
    padding-right: 12%;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 0;
    font-family: gotham_medium;
    margin-bottom: 0;
    box-shadow: 0 5px 5px -5px #ccc;
    z-index: 10;
}
.navbar-brand>img {
    height: 24px;
}
.nav-logout-btn {
    font-size: 11px;
    background-color: #0091EA;
    border-color: #0091EA;
    padding: 8px 28px;
    border-radius: 3px;
    font-weight: lighter;
}
.nav-logout-btn:hover {
    background-color: #008BE0;
    border-color: #008BE0;
}
.navbar-right {
    margin-right: 0%}
.navbar-btn {
    padding-top: 8px;
}
.navbar-toggle {
    border-color: none;
}
.container {
    width: 850px;
}
.icon-bar {
    background-color: gray;
}
ul.nav {
    margin-top: 5px;
    margin-bottom: -1px;
}
li.menu-text>a {
    color: #333;
    font-size: 14px;
}
li.menu-text:hover {
    background-color: none;
}
li.menu-text-active {
    border-bottom: 3px solid #0091EA;
}
body {
    background-color: #f7f7f7;
    padding-right: 0;
}
.content {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
}
.profile-bar {
    background-color: white;
    padding: 22px 0;
    font-family: gotham_medium;
    -webkit-box-shadow: 0 0 2px 0 rgba(189, 189, 189, 1);
    -moz-box-shadow: 0 0 2px 0 rgba(189, 189, 189, 1);
    box-shadow: 0 0 1px 1px rgba(189, 189, 189, .3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.fs-content {
    margin-left: 3%;
    padding: 0;
}
.profile-name {
    font-size: 22px;
    color: #333;
    padding-top: 4px;
    margin-bottom: 0;
}
.invest-text {
    color: #777;
    font-family: gotham_book;
    font-weight: 700;
    font-size: 14px;
}
.zero-fee {
    padding-top: 1.2%}
.zero-fee>img {
    height: 44px;
}
.info-container {
    display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}
.highlight-text {
    font-size: 10px;
    color: #676767;
    display: block;
}
.highlight-bot-text {
    margin-top: -4px;
}
.investment-summary {
    background-color: white;
    font-family: gotham_medium;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(189, 189, 189, .3);
}
.is-head {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    font-family: gotham_book;
    font-weight: 700;
    color: #333;
    margin-bottom: 0;
}
.is-details {
    text-align: center;
    font-size: 16px;
    color: #696969;
    margin-top: -12px;
    font-family: gotham_book;
    font-weight: bolder;
}
.one {
    margin-top: -20px;
    display: none;
}
.inv-amount-block {
    width: 30%;
    margin-top: 20px;
}
.center-amount-block {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.invest-plan-text {
    font-family: gotham_book;
    font-size: 16px;
    text-align: center;
    color: #333;
    font-weight: 700;
}
.invest-plan-date {
    font-family: gotham_medium;
    font-size: 14px;
    text-align: center;
    color: #333;
    margin-top: 5px;
}
.i-icon {
    margin-left: 10px;
    height: 22px;
    margin-top: -6px;
    cursor: pointer;
}
.invest-plan-radio {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
span.radio {
    cursor: pointer;
    margin-left: 125px;
}
span.radio>img {
    height: 30px;
}
.custom-port-div, .conser-port-div, .mod-port-div, .aggr-port-div, .elss-port-div {
    background-color: white;
    margin: 0 -10px;
    width: 18%;
    height: 206px;
    background-repeat: no-repeat;
    width: 174px;
    color: #797979;
    font-family: gotham_medium;
    font-size: 18px;
    text-align: center;
}
.mod-port-div>img, .conser-port-div>img, .custom-port-div>img, .aggr-port-div>img, .elss-port-div>img {
    height: 158px;
}
#custom-div {
    width: 50%;
    margin: 0 auto;
    border-top: 2px solid #ececec;
    padding: 20px 0;
    text-align: center;
}
#custom-port-text {
    font-size: 16px;
    margin-left: 10px;
    font-family: gotham_book;
}
#own-img {
    height: 30px;
}
.port-text {
    margin-top: 10px;
    position: relative;
    z-index: 10;
    margin-bottom: -35px;
    font-size: 16px;
    font-family: gotham_book;
    font-weight: 700;
    color: #777;
}
.portfolio-type-div {
    padding: 10px 35px 10px 118px;
    margin: 20px 0 30px 0;
}
.port-below-text {
    text-align: center;
    font-size: 12px;
}
span.port-radio {
    margin-left: 12px;
    cursor: pointer;
}
span.port-radio>img {
    height: 30px;
}
.port-name {
    margin: 0;
    font-size: 11px;
    font-family: gotham_medium;
    text-align: center;
}
.port-perc {
    margin: 0;
    font-size: 16px;
    font-family: gotham_medium;
    text-align: center;
    padding-left: 5px;
}
.port-comp-data {
    border-bottom: 1px solid #dadada;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f7f7f7;
    border-color: #ddd;
}
.canvas-in-div {
    margin-top: -115px;
    margin-bottom: 70px;
    margin-left: 0;
}
.donut-chart {
    display: block;
    margin: 0 auto;
}
.grad-border {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid;
    border-image: linear-gradient(to top, #dcdcdc, rgba(0, 0, 0, 0)) 1 100%}
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}
.show-less {
    color: #0091EA;
    font-size: 16px;
    margin-bottom: 0;
    text-align: right;
    padding-right: 50px;
}
.table {
    margin-bottom: 0;
}
.table-head {
    padding: 10px 0;
    background-color: #EEE;
}
.modal-table-head {
    background-color: #f7f7f7;
}
.modal-table-head>th {
    border-bottom: none;
}
.fund-name, .modal-fund-name {
    width: 78%;
    border-right: 1px solid #dadada;
    font-size: 17px;
}
.modal-fund-name {
    border-right: none;
}
.fund-amount {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.fund-amount-inner, .span-fund-amount-inner {
    margin-top: 0;
    margin-top: 0;
    font-family: gotham_book;
    font-weight: 700;
    color: #333;
    margin: 5px auto;
}
.span-fund-amount-inner {
    text-align: left;
    font-size: 14px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px 0 0 0;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.save-now-btn, .save-now-btn:hover, .save-now-btn:active, .save-now-btn:visited, .save-now-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}
.save-now-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-family: gotham_book;
    font-weight: 700;
    padding: 6px 24px;
    border-radius: 2px;
}
.save-now-btn:active:hover {
    background-color: #0091EA;
    border-color: #0091EA;
}
.inv-now-btn, .inv-now-btn:hover, .inv-now-btn:active, .inv-now-btn:visited, .inv-now-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}
.inv-now-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    margin-left: 20px;
    margin-bottom: 5px;
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.inv-now-btn:active:hover {
    background-color: #0091EA;
    border-color: #0091EA;
}
.yes-p-btn, .yes-p-btn:hover, .yes-p-btn:active, .yes-p-btn:visited, .yes-p-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}
.yes-p-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    display: block;
    width: 40%;
    margin-top: 30px;
}
.yes-p-btn:active:hover {
    background-color: #0091EA;
    border-color: #0091EA;
}
.no-p-btn, .no-p-btn:hover, .no-p-btn:active, .no-p-btn:visited, .no-p-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}
.no-p-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    display: block;
    margin-top: -10px;
}
.no-p-btn:active:hover {
    background-color: #0091EA;
    border-color: #0091EA;
}
.yes-p-btn, .no-p-btn {
    font-family: gotham_medium;
    width: 40%;
    border-radius: 2px;
}
span.checkbox {
    margin-left: 0;
    margin-right: 10px;
    margin-top: -10px;
}
span.checkbox:hover {
    cursor: pointer;
}
.currently-inv {
    font-size: 14px;
    font-family: gotham_book;
    color: #777;
}
.span-fund-name, .modal-span-fund-name {
    color: #333;
    font-family: gotham_book;
    font-size: 16px;
    font-weight: 700;
}
.span-fund-name:hover {
    cursor: pointer;
    color: #0091EA;
}
.modal-span-fund-name {
    font-size: 14px;
    font-family: gotham_book;
    color: black;
}
.curr-span-amt {
    color: black;
}
.modal-fund-name-div {
    padding: 0;
}
.modal-dialog {
    margin-top: 10vh;
}
.comm-mode {
    font-family: gotham_book;
    font-size: 16px;
    margin-left: 10px;
}
.notify-radio>img {
    height: 20px;
}
.notify-radio>img:hover {
    cursor: pointer;
}
.modal-title {
    text-align: center;
    font-family: gotham_medium;
    color: #797979;
}
.modal-backdrop {
    background-color: white;
    opacity: .8;
}
.modal-backdrop.in {
    opacity: .8;
}
.modal-dialog {
    width: 700px;
    vertical-align: middle;
}
.modal-header {
    border-bottom: none;
}
.modal-content {
    box-shadow: 0 1px 15px rgba(169, 169, 169, .5);
    border: none;
}
.inv-modal-p {
    text-align: center;
}
.inv-info-text, .inv-date, .col {
    display: inline-block;
    padding: 0 30px;
    font-family: gotham_book;
    font-size: 16px;
    margin: 6px 0;
}
.inv-date {
    font-weight: bolder;
}
.inv-details-row {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 40px;
}
.col {
    padding: 0 10px;
}
.cancel-inv {
    font-family: gotham_medium;
    font-size: 16px;
    margin-left: 20px;
}
.cancel-inv>img {
    height: 20px;
}
.cancel-inv-link:hover {
    text-decoration: none;
    cursor: pointer;
}
.amount-progress {
    width: 74%;
    margin-left: auto;
    height: 22px;
    margin-right: auto;
    display: inline-block;
}
.cancel-inv-body {
    margin-top: -20px;
}
.modal-table-head {
    background-color: #f7f7f7;
}
.modal-table-head>th {
    background-color: #f7f7f7;
    border-bottom: none;
}
.inv-summary-dialog {
    width: 650px;
}
.inv-summary-body {
    margin-top: -20px;
}
.checkbox>img {
    height: 18px;
}
select {
    font-family: gotham_book;
    border: 1px solid #c1c1c1;
    font-size: 14px;
    height: 34px;
    width: 30%;
    border-radius: 3px;
    color: #797979;
    font-family: gotham_book;
    font-weight: 700;
    text-align: center;
}
#to {
    font-family: gotham_book;
    font-weight: 700;
    color: #777;
}
.withdraw-info-text {
    font-size: 16px;
    color: #777;
    font-family: gotham_book;
    font-weight: 700;
}
.withdraw-ul {
    margin: 20px 0;
    font-size: 14px;
    color: #777;
    font-family: gotham_book;
}
.withdraw-ul li {
    margin: 20px 0;
    font-size: 14px;
    color: #777;
    font-family: gotham_book;
}
.withdraw-radio-div {
    margin-left: 40px;
}
.wd-radio>img {
    height: 30px;
    margin-right: 10px;
}
.wd-radio:hover {
    cursor: pointer;
}
.wd-amount-block {
    width: 25%;
    margin-top: -20px;
    margin-left: 85px;
    margin-bottom: 20px;
}
.wd-text {
    font-size: 20px;
    color: #6b6b6b;
    display: inline-block;
    margin-bottom: 30px;
}
.schedule-dialog {
    width: 500px;
}
.schedule-inv-body {
    padding: 0;
}
.empty-sugg {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    font-family: gotham_book;
    font-weight: 700;
}
.empty-alert {
    color: #f33;
}
#w-s-text {
    padding: 30px 40px 0;
}
#wd-btn {
    display: block;
    margin: 20px auto;
    width: 140px;
    border-radius: 2px;
    color: white;
    background-color: #0091EA;
    border-color: #0091EA;
}
#tax-free {
    margin-left: -14px;
}
#inv-rs, #inv-amount {
    border-radius: 2px;
}
#automated {
    margin-left: 8px;
}
#min-val {
    text-align: center;
    font-family: gotham_book;
    color: #797979;
    font-size: 15px;
}
#min-val-text {
    text-align: center;
    font-family: gotham_book;
    color: #797979;
    font-size: 15px;
}
#reco-port {
    margin-bottom: 10px;
}
#inv-amount {
    font-family: gotham_book;
}
#inv-amount:focus {
    outline: none;
    box-shadow: none;
}
#inv-rs {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#recom-spl {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: -10px;
    font-family: gotham_book;
}
#alert-div {
    margin: 20px auto;
    background-color: #c72222;
    color: white;
    border-radius: 3px;
    display: none;
}
#mini-div {
    padding: 10px 0;
}
#equity-div {
    background: white;
}
#debt-div {
    background: white;
}
#hybrid-div {
    background: white;
}
#elss-div {
    background: white;
}
#elss-div, #hybrid-div, #debt-div, #equity-div {
    padding: 0;
}
#equity-text, #modal-equity-text, #modal-elss-text {
    margin-left: 40px;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 50px;
    padding-top: 2px;
    padding-bottom: 4px;
}
#modal-equity-text, #modal-elss-text {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 8px;
    font-family: gotham_medium;
    padding-top: 12px;
    padding-left: 60px;
}
#eq-show-less, #gold-show-less, #elss-show-less, #debt-show-less, #eq-show-more {
    color: #0091EA;
    font-size: 16px;
    margin-bottom: 0;
    text-align: right;
    padding-right: 14px;
    cursor: pointer;
    padding-top: 4px;
}
#total-amt-inv {
    font-size: 20px;
    color: #0091EA;
    padding-left: 40px;
    padding-top: 4px;
}
#total-amt {
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    font-size: 18px;
    color: #333;
    font-family: gotham_book;
}
#built-port {
    font-size: 18px;
    margin: 8px 0 25px;
    display: inline-block;
    font-family: gotham_book;
    font-weight: 700;
}
#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date {
    border: none;
    border-bottom: 1px solid gainsboro;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 37%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0;
    font-size: 14px;
    font-family: gotham_medium;
    text-align: center;
}
#no-inv-text {
    font-family: gotham_book;
    font-size: 18px;
    padding: 10px 0 60px;
    font-weight: 700;
}
#sche-sel-date:hover {
    cursor: pointer;
    text-decoration: none;
}
#month-start-date:hover {
    cursor: pointer;
    text-decoration: none;
}
#month-end-date:hover {
    cursor: pointer;
    text-decoration: none;
}
#one-sel-date:hover {
    cursor: pointer;
    text-decoration: none;
}
#cancel-inv-txt {
    margin-left: 10px;
    font-size: 14px;
}
#modal-disc {
    font-family: gotham_book;
    color: #777;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0 50px 0 0;
    margin-bottom: 20px;
}
#as-can-inv {
    font-family: gotham_medium;
    font-size: 30px;
    padding: 0 80px;
    color: black;
    text-align: center;
}
#perc-goal-rem {
    text-align: center;
    color: #777;
    font-size: 24px;
    font-family: gotham_medium;
    padding: 0 80px;
    margin-bottom: 40px;
}
#month-start-date, #month-end-date {
    text-align: center;
}
#progress-div {
    margin-left: 94px;
}
#prog-zero {
    margin: 0 20px 0 0;
    display: inline-block;
    font-family: gotham_medium;
    color: #797979;
}
#prog-no {
    margin: 0 0 0 20px;
    display: inline-block;
    font-family: gotham_medium;
    color: #797979;
}
#inv-summary {
    font-size: 20px;
    color: black;
    font-family: gotham_medium;
    padding-left: 45px;
    margin-top: 0;
    margin-bottom: 15px;
}
#span-fund-amount-total {
    padding-top: 15px;
    font-size: 14px;
    font-family: gotham_medium;
}
#great {
    text-align: left;
    color: #0091EA;
    font-size: 20px;
    font-family: gotham_book;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 30px;
}
#you-have {
    font-family: gotham_book;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 41px;
}
#notify-opt-div {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 10px;
}
#notify-done {
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    border-radius: 3px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
#once-amt {
    font-family: gotham_book;
    font-size: 16px;
    padding-top: 40px;
}
.blue {
    color: #0091EA;
}
input[type=radio] {
    visibility: hidden;
}
input[type=checkbox] {
    visibility: hidden;
}
input[disabled] {
    background-color: white;
}
#one-sel-date[disabled]:hover, #sche-sel-date[disabled]:hover, #month-start-date[disabled]:hover, #month-end-date[disabled]:hover {
    cursor: default;
}
#notify-via {
    font-family: gotham_light;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
#amount-required, #amount-required-port {
    color: #de4242;
    font-size: 16px;
    display: none;
}
progress, {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
progress {
    border-radius: 2px;
    width: 80%;
    height: 22px;
    margin-left: 0%}
progress::-webkit-progress-bar {
    background-color: #eaeaea;
    border-radius: 2px;
    color: #18C3A1;
}
progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #18C3A1, #18C3A1);
    border-radius: 4px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.col-scheme-offset {
    margin-left: 3.3333%}
.panel-group .panel+.panel {
    margin-top: 1px;
}
#onetime-date, #schedule-date, #monthly-date {
    display: none;
}
#sip-duration {
    margin-left: 4px;
    border-radius: 3px;
    font-family: gotham_book;
}
#divLoading {
    display: none;
}
.showbox {
    position: fixed;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
}
.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
    z-index: 99999999;
}
.loader:before {
    content: '';
    display: block;
    padding-top: 100%}
.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 2s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 2s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
@-webkit-keyframes rotate {
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes rotate {
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-webkit-keyframes dash {
    0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
}
100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
}
}
@keyframes dash {
    0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
}
100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
}
}
@-webkit-keyframes color {
    100%, 0% {
    stroke: #0091EA;
}
40% {
    stroke: #0091EA;
}
66% {
    stroke: #0091EA;
}
80%, 90% {
    stroke: #0091EA;
}
}
@keyframes color {
    100%, 0% {
    stroke: #0091EA;
}
40% {
    stroke: #0091EA;
}
66% {
    stroke: #0091EA;
}
80%, 90% {
    stroke: #0091EA;
}
}
@font-face {
    font-family: gotham_medium;
    src: url(GothamRounded-Medium.otf);
}
@font-face {
    font-family: gotham_book;
    src: url(GothamRounded-Book.otf);
}
@font-face {
    font-family: gotham_light;
    src: url(GothamRounded-Light.otf);
}
body {
    font-family: gotham_medium;
}
.padding-lr-zero {
    padding-left: 0;
    padding-right: 0;
}
.padding-r-zero {
    padding-right: 0;
}
.padding-l-zero {
    padding-left: 0;
}
.fund-name {
    color: black;
    font-family: gotham_book;
    text-align: left!important;
    font-size: 20px;
    border-right: none;
}
.fund-span {
    border-bottom: 3px solid #0091EA;
    padding-bottom: 4px;
}
.modal-header {
    padding: 20px;
    padding-bottom: 0;
}
.close {
    font-size: 24px!important;
}
.modal-body {
    position: relative;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}
.modal-dialog {
    width: 600px;
}
.modal-content {
    border-radius: 3px;
    box-shadow: 2px 3px 54px rgba(111, 111, 111, .3);
    border: none;
}
.modal-footer {
    padding: 0px!important;
    text-align: right;
    border-top: none!important;
    padding-bottom: 15px!important;
}
.gotham_light {
    font-family: gotham_light;
}
.gotham_medium {
    font-family: gotham_medium;
}
.gotham_book {
    font-family: gotham_book;
}
.header_table {
    font-family: gotham_book;
    font-size: 14px;
    font-weight: 700;
}
.table-sec {
    color: black;
    font-size: 13px;
    border-right: 1px solid #e4e4e4;
}
.table-first {
    font-size: 13px;
}
.duration-list {
    padding: 0;
    border-bottom: 1px solid #d0d0d0;
}
.duration-time {
    color: #333;
}
.duration-list>li {
    display: inline-block;
    border-right: 1px solid #d0d0d0;
    color: #484848;
    transition: 0.5s;
    width: 19.2%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#scheme_panel {
    border: 1px solid #dadada!important;
    margin-top: 20px;
    border-radius: 6px!important;
}
.panel-body {
    padding: 0px!important;
}
.modal-backdrop {
    background-color: white;
    opacity: .6;
}
#disclosure {
    text-align: left;
    font-size: 12px;
    color: #6f6f6f;
    margin-top: 15px;
}
#sid {
    color: #8a8a8a;
}
#sid:hover {
    background-color: white;
    color: #0091EA;
    border-color: #0091EA;
}
#graph-container {
    padding: 0 20px;
}
#graph-div {
    width: 100%}
td {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    text-align: left;
    padding-left: 20px;
}
table {
    width: 100%;
    text-align: center;
}
table>tbody>tr:last-child {
    border-bottom: 1px solid #d0d0d0!important;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #0091EA;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.span-fund-name < div <td <tr:hover {
    background-color: red;
}
#sid {
    margin-top: 15px;
}
#port_modal_name {
    text-align: left;
}
#port_explanation {
    font-size: 15px;
    margin: 10px auto;
    font-family: gotham_book;
    padding: 10px 15px 30px;
    line-height: 24px;
}
.port-text:hover {
    color: #0091EA;
    cursor: pointer;
}
