.body {
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;


}
.padding-lr-zero{
	padding-left: 0px!important;
	padding-right: 0px!important;

}
.padding-l-zero{
	padding-left: 0px!important;
}
.padding-r-zero{
	padding-right: 0px!important;
}
.nav-logo{
	height: 40px;
}

.navbar-brand {
    padding: 6px 4px !important;
}

.share-icon{
vertical-align: middle;
}

.nav>li{
    padding-left: 20px;
}

.nav>li>a{
	color: #333!important;
	font-weight: 600;
        padding-bottom: 0px;

}

.nav>li>a::after {
    
    content: '';
    display:block;
    width: 0;
    height: 2px;
    background: #555;
    transition: width .2s;
    margin-top: 24px;
}

.nav>li>a:hover::after{
    width: 100%;
}


.nav-bar{
    padding: 10px 100px 0px 115px;
	color: #555 !important;
}



.navbar-default {
    background-image:none!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
     background-repeat: no-repeat !important; 
     border-radius: 0px ; 
     box-shadow: none!important; 
}

.navbar-default {
     background-color:white !important;

}

.button-spacing{
    font-weight: 600;

}

.button{
   display: inline-block;
    padding: 10px 25px;
    background: transparent;
    border: 1.2px solid #333;
    border-radius: 0px;
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
    margin-top: 10px !important;
}
.button:hover,.button:focus{
background: #333;
    border: 1.2px solid transparent;
    color: #fff;
    transition-duration: 0.5s ;
    text-decoration: none;
}

#footer-section{
color: #999999;
    background-color: #333333;
    margin-bottom: 0px;
    padding: 40px 0px 30px;
}
.footer-info {
    font-size: 16px;
    font-weight: 500;
}
#reg-company {
    margin-top: 20px;
        font-size: 14px;
}

.footer-list {
    padding-top: 10px;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 10px;
    padding-top: 15px !important;
}
.footer-list li {
	font-size: 14px;
padding-bottom: 12px;
color: #f7f7f7;
}
.footer-list li a{
     display: inline-block;
	color: #f7f7f7!important;
text-decoration: none;
}
.footer-list li a::after {
    
   content: '';
    display:block;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: width .2s;
    margin-top: 6px;

}


.footer-list li a:hover::after{
    width: 100%;
    
}



#disclaimer{
	    font-size: 13px;
}
#partners-container{
	margin-top: 25px;
margin-left: 15px; }

#amc-names {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.social-list{
	margin-top: 5px;
}
.footer-social{
	height:18px; 
}


.container-mod{
    width: 800px;
}
.seperator{
	margin-left: 15px;
	height: 1px;
	font-size: 18px;
	background-color: #333;
	width: 70px;
}

.sub-head{
   
    border-bottom: 1px solid #333;
	margin-top:20px;
	padding:15px 0px 25px 0px;
	    font-size: 16px;
    font-weight: 400;
display: inline-block;
}
.latest-articles{
	margin-top:30px;

}
.latest-img{
	width: 100%;
}
.article-headtxt{
	
    margin-top: 20px;
    font-size: 26px;
font-family: 'Frank Ruhl Libre', serif;
    line-height: 1.6;
    word-break: break-word;
}
.article-para{

word-break: break-word;
font-weight: 400;
	line-height: 1.8;
}

.copy-right{
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}

.share{
    
    margin-top: 0px; 
    border:1px solid #eee;
   /* box-shadow: 0px 0px 15px rgba(176,176,176,0.5);*/
    border-left: none!important;
    position: fixed;
    top: 30%;
    box-shadow: 
	background-color: #fff;
  list-style-type: none;
   padding: 18px 16px !important;
   text-align: center;
    color: #0091ea;
}
.share li{
    padding-bottom: 10px;
}
.facebook,.twitter,.linkedin{
	padding-top: 15px;
    height: 35px;
    color: #555;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}
.navbar-default .navbar-toggle {
     border-color: transparent; 
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent; 
}
@media (max-width:768px) and (min-width: 200px){

.nav-bar {
    padding: 10px 10px;
   
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:transparent;
}
.navbar-menulist{
text-align: center;
background-color: #f7f7f7;
    padding: 0px;
    margin-top: 10px;
}
.navbar-menubar{
        
    float:none!important; 
      display: inline-block;     
}
    

.share{
    border-bottom: none;
    background-color: #fff;
    width: 100%;
    top: 89%;
    bottom: -6%;
}

.facebook,.twitter,.linkedin{
    padding-top: 15px;
    height: 35px;
    color: #555;
}


#footer-section{

 text-align: center;
   
}
.footer-info {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.nav>li>a {
    color: #333!important;
    font-weight: 600;
    padding-bottom: 15px;
}


.nav>li>a::after {
    
    content: '';
    display:block;
    width: 0;
    height: 2px;
    background: #555;
    transition: width .2s;
    margin-top: 5px;
}

.navbar-nav>li>a {
    padding-top: 15px !important;
    
}

}