@font-face {
    font-family: gotham_medium;
    src: url(GothamRounded-Medium.otf);
}
@font-face {
    font-family: gotham_book;
    src: url(GothamRounded-Book.otf);
}
@font-face {
    font-family: gotham_light;
    src: url(GothamRounded-Light.otf);
}
.padding-lr-zero {
    padding-left: 0;
    padding-right: 0;
}
.padding-r-zero {
    padding-right: 0;
}
.padding-l-zero {
    padding-left: 0;
}
.navbar {
    border-radius: 0;
    padding-left: 0%;
    padding-right: 0%;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 0;
    font-family: gotham_medium;
    margin-bottom: 0;
    box-shadow: 0 5px 5px -5px #ccc;
    z-index: 10001;
}
.navbar-brand>img {
    height: 24px;
}
.nav-logout-btn {
    font-size: 11px;
    background-color: #0091EA;
    border-color: #0091EA;
    padding: 8px 28px;
    border-radius: 3px;
    font-weight: lighter;
}
.nav-logout-btn:hover {
    background-color: #008BE0;
    border-color: #008BE0;
}
.navbar-right {
    margin-right: 0%
}
.navbar-btn {
    padding-top: 8px;
}
.navbar-toggle {
    border-color: none;
}
.container {
    width: 850px;
}
.icon-bar {
    background-color: gray;
}
ul.nav {
    margin-top: 5px;
    margin-bottom: -1px;
}
li.menu-text>a {
    color: #333;
    font-size: 14px;
}
li.menu-text:hover {
    background-color: none;
}
li.menu-text-active {
    border-bottom: 3px solid #0091EA;
}
body {
    background-color: #f7f7f7;
}
.content {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
}
.profile-bar {
    background-color: white;
    padding: 25px 0;
    font-family: gotham_medium;
    -webkit-box-shadow: 0 0 2px 0 rgba(189, 189, 189, 1);
    -moz-box-shadow: 0 0 2px 0 rgba(189, 189, 189, 1);
    box-shadow: 0 0 1px 1px rgba(189, 189, 189, .3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.profile-content {
    margin-left: 0%;
    padding: 0;
}
.profile-image {
    height: 55px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.input-group-addon:first-child {
    border-right: 0;
    background-color: white!important;
}
.profile-name {
    font-size: 18px;
    color: #333;
    padding-top: 4px;
    margin-bottom: 0;
    font-family: gotham_book;
    font-weight: 700;
}
.invest-text {
    color: #777;
    font-family: gotham_book;
    font-weight: 700;
    font-size: 14px;
}
.zero-fee {
    padding-top: 1.2%}
.zero-fee>img {
    height: 44px;
}
.info-container {
    display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}
.highlight-text {
    font-size: 10px;
    color: #777;
    display: block;
    margin-bottom: 0;
}
.highlight-bot-text {
    margin-top: -4px;
}
.investment-summary {
    background-color: white;
    font-family: gotham_medium;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(189, 189, 189, .3);
}
.is-head {
    text-align: center;
    font-size: 22px;
    margin-top: 40px;
    font-family: gotham_book;
    font-weight: 700;
    color: #333;
}
.is-details {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: -10px;
    font-family: gotham_book;
    font-weight: 700;
}
.in-det-row, .goal-ach-row {
    font-size: 17px;
    color: #5D5D5D;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}
.int-topic {
    margin-bottom: 2px;
    color: #333;
    font-size: 19px;
}
.rs {
    font-family: gotham_book;
    display: inline-block;
    color: #333;
}
.amount {
    font-family: gotham_book;
    font-size: 20px;
    color: #333;
    display: inline-block;
}
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 0em 0;
    padding: 0;
}
.scale-row {
    margin-left: 0%}
.goal_scale {
    font-family: gotham_book;
    font-size: 14px;
    padding-bottom: 10px;
}
#goal_scale_div {
    text-align: left;
}
.goal-ach-row {
    margin-bottom: 26px;
}
.canvas-in-div {
    margin-top: -113px;
    margin-bottom: 70px;
    margin-left: 0;
}
progress, {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
progress {
    border-radius: 2px;
    width: 80%;
    height: 22px;
    margin-left: -11.5%}
progress::-webkit-progress-bar {
    background-color: #eaeaea;
    border-radius: 2px;
    color: #0091EA;
}
progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #0091EA, #0091EA);
    border-radius: 4px;
}
.amount-progress {
    width: 90%;
    margin-left: -10%;
    height: 22px;
    margin-top: 15px;
}
.goal-amount-div {
    margin-right: 40px;
    margin-top: -77px;
}
#goal_holder {
    margin-left: 0%}
#change_goal {
    background-color: #0091EA;
    border-color: #0091EA;
    color: white;
    margin-top: -4px;
    font-size: 12px;
}
.donut-chart {
    display: block;
    margin: 0 auto;
}
.port-name {
    margin: 0;
    font-size: 11px;
    font-family: gotham_medium;
    text-align: center;
}
.port-perc {
    margin: 0;
    font-size: 16px;
    font-family: gotham_medium;
    text-align: center;
    padding-left: 5px;
}
.port-comp {
    background-color: white;
    font-family: gotham_medium;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(189, 189, 189, .3);
}
.port-comp-text {
    color: #333;
    font-family: gotham_book;
    margin-bottom: -4px;
    font-size: 18px;
}
.port-comp-data {
    border-bottom: 1px solid rgba(128, 128, 128, .3);
}
.port-comp-amount {
    font-size: 18px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 6px;
}
.port-comp-amount-dis {
    font-size: 16px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 6px;
}
.port-comp-details {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.gl-perc {
    margin-left: 6px;
    color: #17C3A0;
    font-size: 16px;
}
.gl-pos-perc {
    margin-left: 6px;
    color: #17C3A0;
    font-size: 16px;
}
.gl-neg-perc {
    margin-left: 6px;
    color: #f66;
    font-size: 16px;
}
.doing-great {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.footer-row {
    font-family: gotham_book;
    font-size: 17px;
    font-weight: 700;
    margin-top: 4%;
    margin-bottom: 2%}
.footer-row>div>a:hover {
    text-decoration: none;
}
.footer-row>div>a {
    margin-right: 5.2%}
.footer-row>div>a>span {
    color: #2F3640;
    font-size: 20px;
}
.footer-comp-div {
    margin-left: 8px;
    margin-top: 68px;
}
.list-inline>li {
    margin: 0 4px;
}
.social_icons {
    height: 20px;
}
.grad-border {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid;
    border-image: linear-gradient(to top, #dcdcdc, rgba(0, 0, 0, 0)) 1 100%}
.modal-title {
    text-align: center;
    font-family: gotham_medium;
    color: #797979;
}
.modal-backdrop {
    background-color: white;
    opacity: .8;
}
.modal-backdrop.in {
    opacity: .8;
}
.modal-dialog {
    width: 400px;
    vertical-align: middle;
}
.modal-header {
    border-bottom: none;
}
.modal-content {
    box-shadow: 0 1px 15px rgba(169, 169, 169, .5);
    border: none;
}
.goal-amount-block {
    width: 50%;
    display: table;
    font-size: 14px;
    margin-top: 20px;
}
.zero_fee_div {
    margin-top: 5px;
}
.top_img {
    height: 40px;
}
#close-inv-btn {
    font-size: 28px;
    color: #CCCDCF;
    margin-right: 10px;
    position: relative;
    float: right;
    margin-bottom: -20px;
}
#close-inv-btn:hover {
    cursor: pointer;
    color: #797979;
}
#edit-goal-link:hover {
    cursor: pointer;
}
#invest-today-text {
    font-size: 18px;
    padding-left: 22%;
    padding-right: 2%;
    display: inline-block;
    color: #333;
}
#add-goal-text-link {
    float: right;
    margin-right: 58px;
    color: #0091EA;
    font-size: 14px;
    display: none;
}
#add-goal-text-link:hover {
    cursor: pointer;
}
#set-g-track {
    text-align: center;
    font-size: 18px;
    font-family: gotham_book;
    font-weight: 700;
    color: #333;
    margin-bottom: 2px;
}
#inv-worth {
    text-align: center;
    font-size: 16px;
    color: #777;
    font-family: gotham_book;
    font-weight: 700;
}
#set-g-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    color: white;
    font-family: gotham_medium;
    margin: 20px auto;
    border-radius: 3px;
    font-size: 12px;
}
#setGoalModalBody {
    margin-top: -10px;
    padding-top: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
#automated {
    margin-left: 8px;
}
#tax-free {
    margin-left: -14px;
}
#equity-det-row {
    z-index: 1000000001;
    margin-bottom: 0;
    margin-bottom: -100px;
    padding-top: 60px;
}
#goal-amount {
    margin-left: -19%;
    display: block;
    margin-top: 21px;
    font-size: 18px;
    color: #333;
}
#edit-goal {
    display: block;
    color: #0091EA;
    margin-left: -18px;
    font-size: 16px;
}
#goal-amt-inn-div {
    margin-top: -10px;
}
#goal-away-text {
    font-size: 16px;
    color: #333;
    font-family: gotham_book;
    font-weight: 700;
    margin-bottom: 0;
}
#invest-now-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0%;
    margin-left: 25px;
}
#port-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0%;
    margin-left: 25px;
}
#inv-today {
    margin-bottom: 0;
}
#ach_away {
    margin: 20px auto;
    text-align: center;
}
.ekyc-alert {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: rgb(119, 119, 119);
    font-family: gotham_book;
    font-weight: 700;
    padding: 10px 0;
}
#ekyc_link {
    color: #0091EA;
    text-decoration: underline;
}
.blue-kyc {
    color: #0091EA;
}
.close-tab {
    float: right;
    color: #999;
    font-size: 22px;
    margin-right: 10px;
}
.close-tab:hover {
    cursor: pointer;
}
#meet-goal {
    margin: 20px auto;
    display: none;
}
#meet-goal-text, #meet-det-text {
    font-size: 16px;
    color: #333;
    display: block;
    margin-top: 0;
    font-family: gotham_book;
    font-weight: 700;
}
#meet-det-text {
    margin-bottom: 0;
}
#view-portfolio {
    margin: 10px auto;
}
#footer-disc {
    font-size: 13px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #333;
}
#footer-comp {
    font-size: 13px;
    color: #b3b3b3;
    margin-left: -24px;
    margin-top: -10px;
}
#fb-icon {
    padding-left: 40%}
#equity-div {
    background: white;
}
#debt-div {
    background: white;
}
#elss-div {
    background: white;
}
#hybrid-div {
    background: white;
}
#edit-goal {
    cursor: pointer;
}
#growth_type {
    font-size: 12px;
    color: #0091EA;
    margin-bottom: 2px;
}
#growth_type:hover {
    cursor: pointer;
    color: #0091EA;
}
#ekyc_here, #download_mandate {
    color: #0091EA;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin: 10px auto;
}
.stepwizard-step button[disabled] {
    opacity: 1!important;
    filter: alpha(opacity=100)!important;
}
.stepwizard-row:before {
    top: 56px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #18C3A1;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 25%}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.download_forms, .download_forms:hover {
    cursor: pointer;
    color: #0091EA;
}


.stepwizard-row::before {
    top: 49px;
    bottom: 0px;
    position: absolute;
    content: " ";
    width: 78%;
    height: 3px;
    background-color: rgb(24, 195, 161);
    left: 90px;
}


#remove_reg_bar{
	font-size: 26px;
    color: #999;
    float: right;
}

#remove_reg_bar:hover{
	cursor: pointer;
}

.stepwizard{
	margin-bottom: 25px;
}

#goal-row {
    display: none;
}