@media(min-width: 1800px){
	#intro-img {
		height: 700px;
		float: right;
		margin-top: 0px;
	}

	body{
		background-color: white !important;
	}

	.info-images {
	    height: 100px;
	}

	.info-text{
		font-size: 24px;
	}

	.info-numbers{
		font-size: 30px;
	}

	#zero-sub-text {
    	font-size: 26px;
    }

    h1{
    	font-size: 32px;
    }

    #intro-text-container p:nth-child(3){
    	font-size: 26px;
    	margin-top: 40px;
    }

    #reg-container{
    	display: inline-flex;
	    height: 70vh;
	    align-items: center;
    }

    #reg-form-holder{
    	height: 620px;
    	width: 475px;
    }

    .article-parent{
    	margin-bottom: 60px !important;
    }

    .form-group{
    	margin-top: 20px !important;
    }

    .info-images{
    	height: 60px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -40px;
	}

	#zero-sub-text{
		margin-top: 40px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 0px;
		padding-top: 5px;
	}

	#introduction-tab{
		height: 100vh;
	}

	#intro-container ~ img {
    	height: 400px;
    }

    #intro-text-container h1{
    	font-size: 50px;
    }

}

@media(min-width: 1600px) and (max-width: 1799px){
	#intro-img {
		height: 600px;
		float: right;
		margin-top: 0px;
	}

	body{
		background-color: white !important;
	}

	.info-images {
	    height: 600px;
	}

	.info-text{
		font-size: 24px;
	}

	.info-numbers{
		font-size: 30px;
	}

	#zero-sub-text {
    	font-size: 26px;
    }

    h1{
    	font-size: 32px;
    }

    #intro-text-container p:nth-child(2){
    	font-size: 22px;
    }

    .info-images{
    	height: 60px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -5px;
	}

	#zero-sub-text{
		margin-top: 40px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 0px;
		padding-top: 25px;
	}

	#introduction-tab{
		height: 100vh !important;
	}

	    #intro-text-container p:nth-child(3){
    	font-size: 26px;
    	margin-top: 40px;
    }

    #reg-container{
    	display: inline-flex;
	    height: 70vh;
	    align-items: center;
    }

    #reg-form-holder{
    	height: 620px;
    	width: 475px;
    }

    .article-parent{
    	margin-bottom: 60px !important;
    }

    .form-group{
    	margin-top: 20px !important;
    }

    .info-images{
    	height: 60px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -40px;
	}

	#zero-sub-text{
		margin-top: 40px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 0px;
		padding-top: 5px;
	}

	#introduction-tab{
		height: 100vh;
	}

	#intro-container ~ img {
    	height: 350px;
    }

    #intro-text-container h1{
    	font-size: 50px;
    }
}


@media(min-width: 1400px) and (max-width: 1599px) {
	#intro-img {
		height: 550px;
		float: right;
		margin-top: 0px;
	}

	body{
		background-color: white !important;
	}

	.info-images {
	    height: 100px;
	}

	.info-text{
		font-size: 22px;
	}

	.info-numbers{
		font-size: 30px;
	}

	#zero-sub-text {
    	font-size: 26px;
    }

    h1{
    	font-size: 28px;
    }

    #intro-text-container p:nth-child(2){
    	font-size: 20px;
    }

    .info-images{
    	height: 60px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -5px;
	}

	#zero-sub-text{
		margin-top: 10px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 0px;
		padding-top: 25px;
	}

    #intro-text-container p:nth-child(3){
    	font-size: 26px;
    	margin-top: 40px;
    }

    #reg-container{
    	display: inline-flex;
	    height: 80vh;
	    align-items: center;
    }

    #reg-form-holder{
    	height: 600px;
    	width: 475px;
    }

    .article-parent{
    	margin-bottom: 60px !important;
    }

    .form-group{
    	margin-top: 15px !important;
    }

    .info-images{
    	height: 60px;
    }

    .intro-info-container {
	    margin-left: -30px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.intro-info-sub{
		margin-left: -40px;
	}

	#zero-sub-text{
		margin-top: 40px;
		font-size: 20px;
	}

	#intro-text-container{
		padding-left: 0px;
		padding-top: 5px;
	}

	#introduction-tab{
		height: 100vh;
	}

	#intro-container ~ img {
    	height: 300px;
    }

    #intro-text-container h1{
    	font-size: 50px;
    }
}

@media(min-width: 1201px) and (max-width: 1300px){
		#top-scheme-container,#direction-holder{
			width: 1000px;
		}

		#intro-text-container h1{
			font-size: 36px !important;
		}

		#intro-text-container p:nth-child(3){
			font-size: 20px!important;
		}

		#articles h1{
			font-size: 24px !important;
		}

		#invest-now-text{
			font-size: 24px;
		}

		.testimony-text{
			font-size: 20px !important;
		}

		.detail-holder > h3{
			font-size: 24px !important;
		}
}

@media(min-width: 992px) and (max-width: 1200px){

	#intro-img{
		height: 400px;
		float: right;
		margin-top: 0px;

	}

	.input-field{
		font-size: 14px;
	}

	#reg-form-holder {
    	height: 490px;
    	width: 370px;
	}

	.carousel{
		width: 930px;
	}

	#reg-form-holder h3 {
    	font-size: 20px !important;
	}

	#submit {
    	padding-top: 10px;
    	padding-bottom: 10px;
    	width: 100px;
	}

	#top-scheme-container,#direction-holder{
			width: 930px;
		}


	h1{
		font-size: 30px !important;
	}
	h2{
		font-size: 24px !important;
	}

	.article-content {
    	padding: 20px;
    	height: 219px;
	}
	.article-content h3{
		font-size: 18px !important;
		width: 100%;
		height: 60px;
	}
	.article-intro{
		font-size: 14px;
	}

	.article-content ~ h3{
		height: 50px;
	}

	#intro-text-container p:nth-child(2) {
		font-size: 20px !important;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 18px;
		padding-right: 200px;
	}

	#intro-text-container {
	    /* margin-bottom: 50px; */
	    /*margin-left: 40px;*/
	}

	.info-images{
		height: 70px;
	}

	.info-numbers{
		margin-left: 0px;
		font-size: 22px !important;
	}

	.feature-heading ~ p{
		font-size: 16px !important;
	}

	#invest-now-text{
		font-size: 22px;
	}

	.img-holder > .img-circle{
		margin-left: 0%;
		height: 60px;
	}

	.detail-holder > h3{
		font-size: 24px !important;
	}

	.detail-holder > h6{
		font-size: 14px;
	}

	.testimony-text{
		font-size: 20px;
	}

	#disclaimer {
    	font-size: 12px !important;
	}

	#intro-container ~ img{
		height: 220px;
	}

	#cin-and-arn {
    	font-size: 14px !important;
	}

	.info-text{
		margin-left: 0px;
		font-size: 14px;
		margin-top: 10px;
	}

	.choose-image{
		height: 90px;
	}

	h4{
		font-size: 18px !important;
	}

	.article-container{
		width: 280px;
	}

	.article-heading{
		font-size: 18px;
		top: 76.9%;
	}

	/*.article-heading:hover {
    	padding-bottom: 150px;
    	top: 136px;
	}*/

	.amc-container h4~p{
		font-size: 16px !important;
	}

	.scheme-info-header{
		margin-left: 10px;
	}

	.scheme-info-detail{
		margin-right: 10px;
	}
}



@media(min-width: 768px) and (max-width: 992px){

#intro-container {
    margin-top: 10px;
}

	#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}

	.carousel{
		padding-top: 0px;
		width: 620px;
	}


	#introduction-tab {
    	height: auto !important;
    	
	}
	.intro-info-container{
		margin-left: 0px;
		padding-right: 0px;
	}

	#plane{
		display: none;
	}

	#reg-form-holder {
	    height: 450px;
	    width: 375px;
	    margin-bottom: 40px;
	}

	.input-field{
		font-size: 14px;
	}

	#submit {
	    padding-top: 8px;
	    padding-bottom: 8px;
	    width: 100px;
	    font-size: 14px;
	}

	#reg-form-holder h3 {
    	padding-top: 20px;
    	font-size: 18px !important;
	}

	#company-info-container .col-md-4{
		padding-right: 0px;
	}


	#top-scheme-container,#direction-holder{
		width: 300px;
		margin-bottom: 0px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
		    padding: 0px;
	    margin-top: 10px;
	    font-size: 16px;
	}

	.toggle-scheme > i{
		font-size: 28px !important;
		padding: 5px;
	}

	.info-images{
		height: 40px;
	}
	.navbar-toggle {
	margin-top: 12px;
	}
	.return-perc-div {
	    margin: 0px 10px;
	}

	#nav-register-btn{
		margin-right: 0px;
	}

	#top-performing-mutual-fund h2{
		font-size: 24px !important;
    margin-bottom: 30px;
    line-height: 24px;
    padding: 0px 20px;
    margin-top: 30px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: none !important;
	    background-color: white !important;
	    text-align: center !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		     background-color: transparent !important; 
		    border: none !important;
	}

	.navbar-default .navbar-toggle{
		border: none;
	}

	.info-text{
		font-size: 16px;
	}

	.info-numbers{
		font-size: 20px !important
	}

	.intro-info-sub{
		padding-right: 0px;
	}

	#show-two{
		margin-right: 0px;
	}

	#show-one{
		margin-left: 15px;
	}

	#intro-register-link{
		font-size: 13px;
		    margin-bottom: 30px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
	    font-size: 28px !important;
		margin-bottom: 15px;
		line-height: 30px;
		padding: 0px 20px;		
	}

	.head-info{
		margin-top: 10px;
	}

	.article-content h3 {
	    width: 100%;
	    line-height: 20px;
	    font-size: 16px !important;
	}

	#articles h1{
		font-size: 24px !important;
	    margin-bottom: 30px;
	    line-height: 24px;
	    padding: 0px 20px;
	    margin-top: 30px;
	}

	.article-intro {
    	font-size: 14px;
    	height: 125px;
    }

    .article-parent{
    	margin-bottom: 20px;
    }

    .article-link{
    	font-size: 14px;
    }

	#intro-text-container p:nth-child(2) {
    	padding: 0px 10px;
    	font-size: 14px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
 	   font-size: 18px;
 	   padding: 0px 10px;
 	   margin-bottom: 40px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 14px;
	}

	#register-link {
    	font-size: 14px;
    	padding: 10px 20px;
    	margin-top: 70px;
    	width: 120px;
	}

	h2{
    font-size: 24px !important;
    margin-bottom: 30px;
    line-height: 24px;
    padding: 0px 20px;
    margin-top: 30px;
	}



	.carousel-inner{
		height: 275px!important;
		display: inline-block;
	}

	.testimony-text {
    	margin-top: 10px;
    	font-size: 16px;
    	font-weight: 300;
    	text-align: center;
	}

	#myCarousel {
    	height: 300px;
	}

	h4 {
    font-size: 18px !important;
    color: #333333;
	}
	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 370px;
	}

	.feature-info{
		padding: 0px 40px;
		font-size: 14px;
	}

	.choose-image{
		height: 70px;
	}

	.article-heading{
		top: 70%;
		font-size: 15px
	}

	.detail-holder{
		display: block;
	     margin-left: 0%; 
	    text-align: center;
	}

	.img-holder > .img-circle {
	    /* margin-left: 30%; */
	    height: 50px;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	.detail-holder > h3 {
	    margin-bottom: 0px;
	    font-size: 18px !important;
	    margin-top: 10px;
	}

	#inv-link{
		    display: block;
	    padding: 10px 9px !important;
	    width: 150px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 20px;
	    font-size: 16px !important;
	}

	.detail-holder > h6{
		font-size: 14px;
	}

	#invest-now-text{
		font-size: 18px;
	}

	

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 230px;
    height: 280px;
	}

	#franklin{

	}

	#reliance{
		    height: 22px;
	}

	#lt,#dsp{
		    height: 16px;
	}

	#dsp{
		    height: 17px;
	}

	#icici,#franklin{
		    height: 30px;
	}

	#birla{
		    height: 37px;
	}

	#hdfc{
		    height: 36px;
	}

	#sbi{
		    height: 15px;
	}
	#kotak{
		height: 22px;
	}

	#axis{
		    height: 17px;
	}

	#tata{
		height: 38px;
	}

	#sundaram{
		height: 12px;
	}

	#boi{
		height: 35px;
	}

	#idfc{
		height: 45px;
	}

	#uti{
		height: 36px;
	}

	#iifl{
		height: 50px;
	}

	#principal{
		height: 45px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 12px;
    	padding-left: 0px;
	}

	#cin{
		margin-right: 10px;
	}

		#articles h1 {
	    font-size: 24px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	     padding: 30px 40px; 
	}

	.return-perc{
		font-size: 16px !important;
	}

	.scheme-info-header{
		margin-left: 0px;
	}

	.scheme-info-detail{
		margin-right: 0px;
	}

}

@media(min-width: 500px) and (max-width: 767px){
	#intro-container {
	    margin-top: 10px;
	}

	.head-info{
		margin-bottom: 40px;
	}

	#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}

	.carousel{
		padding-top: 0px;
		width: 310px;
	}


	#introduction-tab {
    	height: auto !important;
    	
	}
	.intro-info-container{
		margin-left: 0px;
		padding-right: 0px;
	}

	#plane{
		display: none;
	}

	#reg-form-holder {
	    height: 450px;
	    width: 375px;
	    margin-bottom: 40px;
	}

	.input-field{
		font-size: 14px;
	}

	.article-banner{
		height: 280px !important;
	}

	#submit {
	    padding-top: 8px;
	    padding-bottom: 8px;
	    width: 100px;
	    font-size: 14px;
	}

	#reg-form-holder h3 {
    	padding-top: 20px;
    	font-size: 18px !important;
	}

	#company-info-container .col-md-4{
		padding-right: 0px;
	}


	#top-scheme-container,#direction-holder{
		width: 300px;
		margin-bottom: 0px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
		    padding: 0px;
	    margin-top: 10px;
	    font-size: 16px;
	}

	.toggle-scheme > i{
		font-size: 28px !important;
		padding: 5px;
	}

	.info-images{
		height: 40px;
    	margin-top: 20px;
	}
	.navbar-toggle {
	margin-top: 12px;
	}
	.return-perc-div {
	    margin: 0px 10px;
	}

	#nav-register-btn{
		margin-right: 0px;
	}

	#top-performing-mutual-fund h2{
		font-size: 18px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	    padding: 0px 20px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: none !important;
	    background-color: white !important;
	    text-align: center !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		     background-color: transparent !important; 
		    border: none !important;
	}

	.navbar-default .navbar-toggle{
		border: none;
	}

	.info-text{
		font-size: 16px;
	}

	.info-numbers{
		font-size: 20px !important
	}

	.intro-info-sub{
		padding-right: 0px;
	}

	#show-two{
		margin-right: 0px;
	}

	#show-one{
		margin-left: 15px;
	}

	#intro-register-link{
		font-size: 13px;
		    margin-bottom: 30px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 24px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	    padding: 0px 20px;
	}

	.head-info{
		margin-top: 10px;
	}

	.article-content h3 {
	    width: 75%;
	    line-height: 20px;
	    font-size: 16px !important;
	}

	#articles h1{
		line-height: 30px;
	}

	.article-intro {
    	font-size: 12px;
    }

    .article-parent{
    	margin-bottom: 20px;
    }

    .article-link{
    	font-size: 14px;
    }

	#intro-text-container p:nth-child(2) {
    	padding: 0px 10px;
    	font-size: 14px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
 	   font-size: 18px;
 	   padding: 0px 10px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 14px;
	}

	#register-link {
    	font-size: 14px;
    	padding: 10px 20px;
    	margin-top: 70px;
    	width: 120px;
	}

	h2{
		font-size: 18px !important;
    margin-bottom: 20px;
    line-height: 24px;
    padding: 0px 20px;
    margin-top: 20px;
	}



	.carousel-inner{
		height: 275px!important;
		display: inline-block;
	}

	.testimony-text {
    	margin-top: 10px;
    	font-size: 14px;
    	font-weight: 300;
    	text-align: center;
	}

	#myCarousel {
    	height: 300px;
	}

	h4 {
    font-size: 18px !important;
    color: #333333;
	}
	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 370px;
	}

	.feature-info{
		padding: 0px 40px;
		font-size: 16px;
	}

	.choose-image{
		height: 70px;
	}

	.article-heading{
		top: 70%;
		font-size: 15px
	}

	.detail-holder{
		display: block;
	     margin-left: 0%; 
	    text-align: center;
	}

	.img-holder > .img-circle {
	    /* margin-left: 30%; */
	    height: 50px;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	.detail-holder > h3 {
	    margin-bottom: 0px;
	    font-size: 16px !important;
	    margin-top: 10px;
	}

	#inv-link{
		    display: block;
	    padding: 10px 9px !important;
	    width: 150px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 20px;
	    font-size: 16px !important;
	}

	.detail-holder > h6{
		font-size: 12px;
	}

	#invest-now-text{
		font-size: 18px;
	}

	

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 230px;
    height: 280px;
	}

	#franklin{

	}

	#reliance{
		    height: 22px;
	}

	#lt,#dsp{
		    height: 16px;
	}

	#dsp{
		    height: 17px;
	}

	#icici,#franklin{
		    height: 30px;
	}

	#birla{
		    height: 37px;
	}

	#hdfc{
		    height: 36px;
	}

	#sbi{
		    height: 15px;
	}
	#kotak{
		height: 22px;
	}

	#axis{
		    height: 17px;
	}

	#tata{
		height: 38px;
	}

	#sundaram{
		height: 12px;
	}

	#iifl,#principal,#invesco,#boi,#idfc,#uti{
		height: 40px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 12px;
    	padding-left: 0px;
	}

	#cin{
		margin-right: 10px;
	}

	#articles h1 {
	    font-size: 28px !important;
	    font-size: 18px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	     padding: 30px 40px; 
	}

	.return-perc{
		font-size: 16px !important;
	}

	.scheme-info-header{
		margin-left: 0px;
	}

	.scheme-info-detail{
		margin-right: 0px;
	}
}




@media(min-width: 350px) and (max-width: 500px){
	#intro-container {
	    margin-top: 10px;
	}

	.head-info{
		margin-bottom: 40px;
	}

	#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}


	#introduction-tab {
    	height: auto !important;
    	
	}
	.intro-info-container{
		margin-left: 0px;
		padding-right: 0px;
	}

	#plane{
		display: none;
	}

	#reg-form-holder {
	    height: 450px;
	    width: 325px;
	    margin-bottom: 40px;
	}

	.input-field{
		font-size: 14px;
	}

	#submit {
	    padding-top: 8px;
	    padding-bottom: 8px;
	    width: 100px;
	    font-size: 14px;
	}

	#reg-form-holder h3 {
    	padding-top: 20px;
    	font-size: 18px !important;
	}

	#company-info-container .col-md-4{
		padding-right: 0px;
	}


	#top-scheme-container,#direction-holder{
		width: 300px;
		margin-bottom: 0px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
		    padding: 0px;
	    margin-top: 10px;
	    font-size: 16px;
	}

	.toggle-scheme > i{
		font-size: 28px !important;
		padding: 5px;
	}

	.info-images{
		height: 40px;
    	margin: 20px auto 10px;
	}
	.navbar-toggle {
	margin-top: 12px;
	}
	.return-perc-div {
	    margin: 0px 10px;
	}

	#nav-register-btn{
		margin-right: 0px;
	}

	#top-performing-mutual-fund h2{
		font-size: 18px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	    padding: 0px 20px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: none !important;
	    background-color: white !important;
	    text-align: center !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		     background-color: transparent !important; 
		    border: none !important;
	}

	.navbar-default .navbar-toggle{
		border: none;
	}

	.info-text{
		font-size: 16px;
	}

	.info-numbers{
		font-size: 20px !important
	}

	.intro-info-sub{
		padding-right: 0px;
	}

	#show-two{
		margin-right: 0px;
	}

	#show-one{
		margin-left: 15px;
	}

	#intro-register-link{
		font-size: 13px;
		    margin-bottom: 30px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 20px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	    padding: 0px 20px;
	}

	.head-info{
		margin-top: 10px;
	}

	.article-content h3 {
	    width: 75%;
	    line-height: 20px;
	    font-size: 16px !important;
	}

	.article-intro {
    	font-size: 12px;
    }

    .article-parent{
    	margin-bottom: 20px;
    }

    .article-link{
    	font-size: 14px;
    }

	#intro-text-container p:nth-child(2) {
    	padding: 0px 10px;
    	font-size: 14px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
 	   font-size: 14px;
 	   padding: 0px 10px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 14px;
	}

	#register-link {
    	font-size: 14px;
    	padding: 10px 20px;
    	margin-top: 70px;
    	width: 120px;
	}

	h2{
		font-size: 18px !important;
    margin-bottom: 20px;
    line-height: 24px;
    padding: 0px 20px;
    margin-top: 20px;
	}



	.carousel-inner{
		height: 275px!important;
		display: inline-block;
	}

	.testimony-text {
    	margin-top: 10px;
    	font-size: 14px;
    	font-weight: 300;
    	text-align: center;
	}

	#myCarousel {
    	height: 300px;
	}

	h4 {
    font-size: 16px !important;
    color: #333333;
	}
	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 370px;
	}

	.feature-info{
		padding: 0px 40px;
		font-size: 14px;
	}

	.choose-image{
		height: 70px;
	}

	.article-heading{
		top: 70%;
		font-size: 15px
	}

	.detail-holder{
		display: block;
	     margin-left: 0%; 
	    text-align: center;
	}

	.img-holder > .img-circle {
	    /* margin-left: 30%; */
	    height: 50px;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	.detail-holder > h3 {
	    margin-bottom: 0px;
	    font-size: 16px !important;
	    margin-top: 10px;
	}

	#inv-link{
		    display: block;
	    padding: 10px 9px !important;
	    width: 150px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 20px;
	    font-size: 16px !important;
	}

	.detail-holder > h6{
		font-size: 12px;
	}

	#invest-now-text{
		font-size: 18px;
	}

	

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 230px;
    height: 280px;
	}

	#franklin{

	}

	#reliance{
		    height: 22px;
	}

	#lt,#dsp{
		    height: 16px;
	}

	#dsp{
		    height: 17px;
	}

	#icici,#franklin{
		    height: 30px;
	}

	#birla{
		    height: 37px;
	}

	#hdfc{
		    height: 36px;
	}

	#sbi{
		    height: 15px;
	}
	#kotak{
		height: 22px;
	}

	#axis{
		    height: 17px;
	}

	#tata{
		height: 38px;
	}

	#sundaram{
		height: 12px;
	}

	#iifl,#principal,#invesco,#boi,#idfc,#uti{
		height: 40px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 12px;
    	padding-left: 0px;
	}

	#cin{
		margin-right: 10px;
	}

	.carousel{
		padding-top: 0px;
		width: 310px;
	}

	#articles h1 {
	    padding-bottom: 30px;
	    padding-top: 30px;
	    font-size: 28px !important;
	    font-size: 18px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	    /* padding: 0px 20px; */
	}

	.return-perc{
		font-size: 16px !important;
	}

	.scheme-info-header{
		margin-left: 0px;
	}

	.scheme-info-detail{
		margin-right: 0px;
	}

}



@media(min-width: 300px) and (max-width: 350px){

	#intro-container {
    	margin-top: 10px;
	}	

	.head-info{
		margin-bottom: 40px;
	}

	#intro-text-container h1 {
	    font-size: 24px;
	    font-weight: 300;
	}

	.carousel{
		padding-top: 0px;
		width: 310px;
	}

	#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}


	#introduction-tab {
    	height: auto !important;
    	
	}
	.intro-info-container{
		margin-left: 0px;
		padding-right: 0px;
	}

	#plane{
		display: none;
	}

	#reg-form-holder {
	    height: 450px;
	    width: 280px;
	    margin-bottom: 40px;
	}

	.input-field{
		font-size: 14px;
	}

	#submit {
	    padding-top: 8px;
	    padding-bottom: 8px;
	    width: 100px;
	    font-size: 14px;
	}

	#reg-form-holder h3 {
    	padding-top: 20px;
    	font-size: 16px !important;
	}

	#company-info-container .col-md-4{
		padding-right: 0px;
	}

	.scheme-info-header{
		margin-left: 0px;
	}

	.scheme-info-detail{
		margin-right: 0px;
	}


	#top-scheme-container,#direction-holder{
		width: 300px;
		margin-bottom: 0px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
		    padding: 0px;
	    margin-top: 10px;
	    font-size: 16px;
	}

	.toggle-scheme > i{
		font-size: 28px !important;
		padding: 5px;
	}

	.info-images{
	    height: 40px;
	    margin-top: 20px;
	}
	.navbar-toggle {
	margin-top: 12px;
	}
	.return-perc-div {
	    margin: 0px 10px;
	}

	#nav-register-btn{
		margin-right: 0px;
	}

	#top-performing-mutual-fund h2{
		font-size: 18px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	    padding: 0px 20px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: none !important;
	    background-color: white !important;
	    text-align: center !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		     background-color: transparent !important; 
		    border: none !important;
	}

	.navbar-default .navbar-toggle{
		border: none;
	}

	.info-text{
		font-size: 16px;
	}

	.info-numbers{
		font-size: 20px !important
	}

	.intro-info-sub{
		padding-right: 0px;
	}

	#show-two{
		margin-right: 0px;
	}

	#show-one{
		margin-left: 15px;
	}

	#intro-register-link{
		font-size: 13px;
		    margin-bottom: 30px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	#articles h1{
		padding-bottom: 20px !important;
	    padding-top: 20px !important;
	    font-size: 18px !important;
	    font-size: 18px !important;
	    margin-bottom: 5px;
	    line-height: 24px;
	}

	.head-info{
		margin-top: 10px;
	}

	.article-content h3 {
	    width: 75%;
	    line-height: 20px;
	    font-size: 16px !important;
	}

	.article-intro {
    	font-size: 12px;
    }

    .article-parent{
    	margin-bottom: 20px;
    }

    .article-link{
    	font-size: 14px;
    }

	#intro-text-container p:nth-child(2) {
    	padding: 0px 10px;
    	font-size: 14px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
 	   font-size: 14px;
 	   padding: 0px 10px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 14px;
	}

	#register-link {
    	font-size: 14px;
    	padding: 10px 20px;
    	margin-top: 70px;
    	width: 120px;
	}

	h2{
		font-size: 18px !important;
    margin-bottom: 20px;
    line-height: 24px;
    padding: 0px 20px;
    margin-top: 20px;
	}



	.carousel-inner{
		height: 275px!important;
		display: inline-block;
	}

	.testimony-text {
    	margin-top: 10px;
    	font-size: 14px;
    	font-weight: 300;
    	text-align: center;
	}

	#myCarousel {
    	height: 300px;
	}

	h4 {
    font-size: 16px !important;
    color: #333333;
	}
	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 370px;
	}

	.feature-info{
		padding: 0px 40px;
		font-size: 14px;
	}

	.choose-image{
		height: 70px;
	}

	.article-heading{
		top: 70%;
		font-size: 15px
	}

	.detail-holder{
		display: block;
	     margin-left: 0%; 
	    text-align: center;
	}

	.img-holder > .img-circle {
	    /* margin-left: 30%; */
	    height: 50px;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	.detail-holder > h3 {
	    margin-bottom: 0px;
	    font-size: 16px !important;
	    margin-top: 10px;
	}

	#inv-link{
		    display: block;
	    padding: 10px 9px !important;
	    width: 150px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 20px;
	    font-size: 16px !important;
	}

	.detail-holder > h6{
		font-size: 12px;
	}

	#invest-now-text{
		font-size: 18px;
	}

	

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 230px;
    height: 280px;
	}

	#franklin{

	}

	#reliance{
		    height: 22px;
	}

	#lt,#dsp{
		    height: 16px;
	}

	#dsp{
		    height: 17px;
	}

	#icici,#franklin{
		    height: 30px;
	}

	#birla{
		    height: 37px;
	}

	#hdfc{
		    height: 36px;
	}

	#sbi{
		    height: 15px;
	}
	#kotak{
		height: 22px;
	}

	#axis{
		    height: 17px;
	}

	#tata{
		height: 38px;
	}

	#sundaram{
		height: 12px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 12px;
    	padding-left: 0px;
	}

	#cin{
		margin-right: 10px;
	}

	.return-perc {
    	font-size: 16px !important;
	}

	.amc-container h4 ~ p{
		font-size: 12px;
	}


}