html{
	overflow-x: hidden;
}


body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

#intro-img{
	height: 135vh !important;
}

.btnNext,.btnPrevious{
	display: none;
}

#otp-info-text{
	font-size: 14px;
	font-weight: 300;
	margin-top: 20px;
	text-align: center !important;

}

#otp-ver{
	text-align: center;
}

.otp-field{
	    width: 15% !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    display: block;
    font-size: 16px;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    display: inline-block !important;
    text-align: center;
    font-size: 28px !important;
    font-weight: 300;
}

#otp_success_msg, #otp_error_msg{
	font-size: 16px;
    font-weight: 300;
    color: #0091EA;
    margin-bottom: 0px;
    margin-top: 15px;
}

#otp_error_msg{
	color: red !important;
}

#didn-t, #resend{
	font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px;
}

#resend{
	color: #0091EA;
}


#otp-ver{
	display: none;
}


.text-danger{
	    color: #FD353A !important;
    display: inline-block;
    margin-top: 5px !important;
    font-size: 12px !important;
    width: 80%;
    text-align: center;
}

#back-to-s{
	    margin-top: 30px;
    font-weight: 300;
    color: gray;
}

#nav-register-btn {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#verify-btn{
	margin-top: 40px;
}

.navbar-nav>li>a {
	    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.blue-text{
	color: #0091EA !important;
}

.navbar-nav>li {
    margin: 0px 10px;
}

section{
	margin: 0px auto;
	/*padding: 20px 0px 20px;*/
}

.navbar-custom {
    background-image: none !important;
    background-color: white !important;
    border-radius: 0px !important;
    box-shadow: none;
    padding: 5px 0px;
    padding-bottom: 0px;
    border: none !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
   	height: 70px;
   	font-family: 'Roboto', sans-serif !important;
}

#introduction-tab{
	height: 100vh !important;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url('../icons/abstract1.svg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(75%, rgba(247,247,247,1)), color-stop(100%, rgba(247,247,247,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 75%, rgba(247,247,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0 )*/
}

#navbar-container{
	margin-bottom: 15px;
   
}

#rightfunds-info{
	margin: 0px auto;
}

#login{
	color: #0091EA !important;
	font-weight: 500;
}

#rightfunds-info{
	background-color: #FAFAFA;
}

.info-numbers{
    color: #333333;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 24px !important;
}

.info-text{
	color: #555555;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;

}

.info-images{
	height: 50px;
    margin-bottom: 15px;
}

#rightfunds-container{
	padding: 20px 15px;
}

h2{
	font-size: 28px !important;
	color: #333333;
	margin: 45px auto 40px;
}

h3{
	font-size: 20px !important;
	margin-top: 0px;
}

h4{
	font-size: 20px !important;
	color: #333333;
}

.amc-image{
	height: 30px;
    margin-bottom: 20px;
}

.amc-year{
	font-size: 16px;
	margin-bottom: 5px;
}

.return-perc{
	font-size: 20px !important;
	font-weight: 400;
}

.amc-container{

    padding: 20px 10px;
    box-shadow: 0px 0px 20px rgba(216, 216, 216, 0.7);
    border-radius: 2px;
    width: 100%;
    background-color: white !important;
}

.feature-info{
	 font-size: 18px;
    color: #555555;
    padding: 0px 35px;
    font-weight: 300;

}

#invest-now-section{
	padding: 0px 0px;
	/*background-color: #f6fbff;*/
	/*background: linear-gradient(to bottom right, #0091EA, #0088FF), url('../icons/abstract1.svg'); /* Standard syntax (must be last) */
	/*background-image: ;*/
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(to bottom right, #0091EA, #0088FF);
    /* bottom, image */
    text-align: center;
}

#invest-now-text{
	    color: white;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
}

.img-holder > .img-circle{
	margin-left: 30%;
	height: 80px;
}

.detail-holder > h3{
	margin-bottom: 0px;
	font-size: 28px !important;
}

.detail-holder > h6{
	margin-top: 5px;
	font-size: 16px;
	font-weight: 300;
}

#testimony{
	background-image: url('../icons/abstract3.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

.detail-holder{
	display: inline-table;
	margin-left: 7%;
}

.testimony-text{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 300;
}

.carousel-inner{
	position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    height: 150px;
    align-items: center;
}

.carousel-inner .active{
	height: 150px !important;
}

.carousel-control{
	display: none;
}

.carousel-indicators{

}


.carousel-indicators li,li.active {
	border: 2px solid #0091EA;
	margin: 0px 10px;
}

.carousel-indicators .active{
	background-color: #0091EA;
	margin: 0px 10px;
}

#myCarousel{
	height: 220px;
}

.bg{
	    background-image: url(../icons/abstract2.svg);
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    display: inline-flex;
    align-items: center;
    background-size: cover;
}

#invest-now-section .container{
	width: 100%;
}

#inv-link{
	background-color: #67ACFF;
	font-size: 18px;
	margin: 0px 3%;
	padding: 15px 35px;
	color: white;
	border-radius: 7px;
	font-weight: 300 !important;
	box-shadow: 0 2px 13px -5px #000000;
}

.feature-container{
	    margin: 10px auto 30px;
}

.article-container{
	height: 370px;
    background-size: cover;
    background-position: center;
    width: 340px;
}

.amc-sec-image{
	height: 45px;
}

#article-one{
	background-image: url(../img/1.jpg);
}

#article-two{
	background-image: url(../icons/mutual-funds.jpg);
}

#article-three{
	background-image: url(../icons/piggy-bank.jpg);
}

.article-heading{
	position: absolute;
    top: 73.5%;
    padding: 15px;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
    transition: 0.2s;
    cursor: pointer;
}


.list-inline>li{
	padding: 0px;
}


.article-heading a {
	text-decoration: none;
	color: white !important;
}

.article-heading:hover > a > span{
	text-decoration: underline;
}

.material-icons{
	vertical-align: middle;
}

.article-heading span:first-child{
	width: 80%;
	display: inline-block;
}

.article-heading span:first-child:hover,.article-heading span:nth-child(2):hover{
	text-decoration: underline !important;
}

.article-heading span:nth-child(2){
	float: right;
    margin-right: 10px;
    display: inline-block;
    margin-top: 30px;
}

.logo-container{
	    margin: 30px auto;
}

.partners-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
}



/*Footer Section starts*/

#footer-section{
	color: #999999;
    background-color: #333333;
    margin-bottom: 0px;
    padding: 60px 0px 30px;
}


#disclaimer{
	font-size: 12px;
}


.footer-info{
	font-size: 16px;
	font-weight: 500;
}

ul{
	list-style-type: none;
	padding: 0px;
}

ul li{
	margin-bottom: 10px;
	margin-top: 20px;
}

ul li a {
	color: white;
}

.footer-social{
	height: 18px;
}

#footer-logo{
	margin-bottom: 10px;
	height: 30px;
}

#amc-names{
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}

.p-l-15{
	padding-left: 15px;
}

#cin{
	margin-right: 40px;
}

#cin-and-arn{
	margin: 20px auto;
}

#reg-company{
	margin-top: 20px;
}

.social-list{
	margin: 0px 10px 0px 0px;
}`

#social-parent{
	margin-top: 20px;
}

#partners-container{
	margin-top: 25px;
}

#intro-img{
	height: 530px;
	margin-top: -35px;
}

h1{
	color: #333333;
	font-size: 34px;
	margin-top: 0px;
}

.head-info{
	font-size: 24px;
    color: #555555;
    margin-top: 40px; 
    font-weight:300;
    
}

#intro-text-container  h1{
	font-size: 44px;
	font-weight: 300;
}

#intro-text-container p:nth-child(3){
	color: #333333;
	font-size: 22px;
	margin-top: 30px;
}

#intro-text-container p:nth-child(2){
	padding-right: 180px;
	color: #333333;
	font-size: 18px;
}

#intro-text-container p:nth-child(4){
	padding-right: 350px;
    font-size: 20px;
    color: #555555;
    margin-top: 60px;
    color: #333333
}

#register-link{
	font-size: 16px;
    padding: 13px 20px;
    width: 150px;
    margin-top: 25px;
}

#intro-text-container{
	/*margin-bottom: 50px;*/
	padding-left: 40px;

}
#info-container{
	
    background-color: rgba(226, 241, 255, 0.7);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #articles h1{
  	padding-bottom: 40px;
  	padding-top: 40px;
  	font-size: 28px !important;
  }

.article-banner img{
	    width: 100%;
    height: inherit;
}

.article-banner{
	    height: 210px !important;
	    background-position: center;
		background-size: cover;
}

#article-1{
	background-image: url('../img/article1.jpg');
}

#article-2{
	background-image: url('../img/article2.jpg');
}


#article-3{
	background-image: url('../img/article3.jpg');
}


.article-parent{
	margin-bottom: 60px !important;
}

#company-info-container{
	background-color: rgba(226, 241, 255, 0.7);
	padding-top: 30px;
	padding-bottom: 30px;
}

.box-shadow{
	border-radius: 4px;
    box-shadow: 0 0 20px rgba(181, 181, 181, 0.5);
}

#top-performing-mutual-fund{
	background-color: #F6FBFF;
}


.article-content h3{
	width: 75%;
    line-height: 28px;
    font-size: 22px !important;
}

.article-content{
	padding: 20px;
}

.blog-link{
	    margin: 40px auto 20px;
    display: inline-block;
    font-size: 20px;
    color: #0091EA;
}

.article-link{
	color: #0091EA;
	font-size: 16px;
	font-weight: 300;
}

.article-intro{
	font-size: 16px;
	font-weight: 300;
}


.footer-list li a:hover{
	border-bottom: 1px solid white;
	color: white;
	padding-bottom: 2px;
}

#amc-names span{
	transition: 0.3s;
}

#amc-names span:hover{
	color:white;
	cursor: pointer;
}

#header-logo{
	height: 30px;
}

.intro-info-container{
	 margin-left: -30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro-info-sub{
	/*margin-left: -30px;*/
	padding-left: 0px;
}

#zero-sub-text{
	font-size: 16px;
	color: #333333;
	font-weight:400;
}


#intro-register-link{
	padding: 5px;
    background-color: #0091EA;
    border-radius: 50px;
    color: white;
    padding-left: 25px;
    font-size: 16px;
    display: inline-block;
    font-weight: 500;
    /* width: 56%; */
    margin-top: 10px;
}

#link-arrow{
	margin-left: 5px;
}

#scheme-card-two{
	display: none;
}

#toggle-card-parent{
	margin: 40px auto 0px;
}

.toggle-scheme > i{
	font-size: 36px !important;
    color: gray;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0px 1px 5px #ddd;
}

#show-two{

	float: right;
	margin-right: -10px;

}

#show-one{

	float: left;
	margin-left: -10px;
}

.toggle-scheme > i:hover{
	color: #0091EA !important;
	border-radius: 50% !important;
	padding: 10px !important;
	box-shadow: 0px 4px 10px #ddd;
}

.toggle-scheme{
/*	margin: 15px;
	margin-top: -275px;
	position: relative;*/
}

#intro-container{
	margin-top: 50px;
}

#reg-form-holder{
	    height: 500px;
    width: 415px;
    background-color: white;
    margin-top: -10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(100,100,100);
    box-shadow: 0 0 20px rgba(195, 195, 195, 0.5);
}

#reg-form-holder  h3{
	color: #0091EA;
	padding-top: 30px;
	font-size: 24px !important;
	    padding-left: 30px;
    padding-right: 30px;
}

#intro-container ~ img{
	    height: 220px;
    position: absolute;
    bottom: 0;
}

#show-one{
	/*display: none;*/
}
.amc-parent-container{
	width: 280px;
    display: inline-block;
    margin: 10px 15px;
}

#performing-funds-container{
	width: 100vw;
    overflow-x: scroll;
    padding: 10px 0px;
}


#scheme-card-one{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    overflow-x: scroll;
}

.input-field{
	width: 76%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 16px;
}

.form-group{
	margin-bottom: 5px !important;
}

#submit{
	padding-top: 12px;
	padding-bottom: 12px;
	width: 120px;
	font-size: 16px;
}

#register-form{
	margin-top: 15px;
}

/*Testing */


.return-block{
	display: block !important;
	clear: both;
}

.return-perc-div{
	margin: 0px 10px;
	display: inline-block;
}

.scheme-info-header{
	float: left;
	margin-left: 25px;
}

.scheme-info-detail{
	float: right;
	margin-right: 25px;
}


.amc-container  div{
	background-color: white !important;
}

#top-scheme-container {
      position: relative;
    width: 1250px;
    margin: 2px auto;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 0;
    margin-bottom: 80px;
}

#direction-holder{
  width: 1250px;
  margin: 0px auto;
  text-align: center;
      margin-top: -275px;
    margin-bottom: 275px;
}

#top-scheme-container div {
  display: inline-block;
/*  width: 14em;
  height: 6em;
  margin: 0.5em;
  border: 1px solid blue;
  padding: 3px;
  white-space: normal;*/
  text-align: center;
  background-color: #F6FBFF;
}


.carousel{
    padding-top: 20px;
    width: 1250px;
    overflow: hidden;
    height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}.carousel ul{
    position: relative;
    list-style: none;
    list-style-type: none;
    margin: 0;
    height: 500px;
    padding: 0;
}.carousel ul li{
    position: absolute;
    width: 310px;
    float: left;
    margin-right: 0px;
    background: #F6FBFF;
    text-align: center;
    padding-top: 0px;
}