.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999999;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top: 8px solid #0091EA;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}