.navbar{background-color:#0091EA;padding:0;padding-top:10px;padding-bottom:10px}.navbar-toggle{border-color:white}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;color:white;border-color:white;background-color:white}#login-btn,#signup-btn{color:white}#login-btn:hover{border:none}#privacy_policy{font-size:32px;font-family:gotham_book;color:#3e3e3e;padding:30px 0;margin-bottom:0}.privacy-content,.sub-header,.side-header{font-family:gotham_book}.privacy-content{font-size:18px}.side-header{padding:15px 0;font-family:gotham_medium}.sub-header{font-family:gotham_medium;padding:10px 0;font-size:22px}.sub-header-div{padding-left:5%;margin:30px auto}.form-helper{font-size:20px;font-family:gotham_book}#section6{padding:40px 0;background-color:#f7f7f7;margin-top:20px}#found_name{margin-bottom:0;font-size:22px;margin-top:20px}#sip-div{box-shadow:0 0 8px #cacaca;margin:30px auto;border-radius:2px}#sip_inp_div{border-right:1px solid #c7c7c7}#sip_calc{font-family:gotham_medium;font-size:26px;padding:20px 0}#net_amount,#amount_invested,#net_return{font-family:gotham_medium;font-size:22px}#monthly_inv,#years_inv,#exp_ret{border:none;border-bottom:2px solid #c7c7c7;padding-left:5px;display:block;width:90%;padding-bottom:6px;outline:none;outline-style:none;outline-offset:0;margin-top:0%;margin-bottom:7%;font-size:24px;font-family:gotham_light;font-weight:700}#content-top{margin:20px auto;border-bottom:1px solid #c7c7c7}@media(min-width:500px) and (max-width:768px){.privacy-content{font-size:16px}.side-header{font-size:18px}.sub-header{font-size:16px}#privacy_policy{font-size:26px;padding:15px 0}}@media(min-width:350px) and (max-width:500px){.privacy-content{font-size:16px}.side-header{font-size:18px}.sub-header{font-size:16px}#privacy_policy{font-size:26px;padding:15px 0}}@media(min-width:300px) and (max-width:350px){.privacy-content{font-size:14px}.side-header{font-size:16px}.sub-header{font-size:14px}#privacy_policy{font-size:20px;padding:15px 0}input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}}


.sub-items{
	padding: 0 5%;
}

.table-content{
	font-family: gotham_book;
	font-size: 16px;
}

.privacy-content {
    font-size: 14px;
}

.portfolio-container{
	    padding: 50px;
    font-size: 22px;
    font-family: gotham_book;
    border-radius: 3px;
    background-color: #f7f7f7;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 40px;
    box-shadow: 0px 1px 5px #bdbdbd;
}

.portfolio-links{
	color: #555;
}

.portfolio-links:hover{
	color: #0091EA;
	transition: 0.3s;
}