@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.navbar{
	border-radius: 0px;
	padding-left: 12%;
	padding-right: 12%;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10001;

    
}

.navbar-brand{
	padding-top: 12px;
}

.navbar-brand>img{
	height: 24px;
}

.nav-back-btn{
	    font-size: 11px;
    background-color: #0091EA;
    border-color: #0091EA;
    border-radius: 3px;
    font-weight: lighter;
    padding: 8px 24px 8px 22px;
}

.nav-back-btn:hover{
    background-color: #0091EA;
    border-color: #0091EA;

}


.nav-back-btn,
.nav-back-btn:hover,
.nav-back-btn:active,
.nav-back-btn:visited,
.nav-back-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.nav-back-btn{
		background-color: #0091EA;
	border-color: #0091EA;
}

.nav-back-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}

.back-btn:active{
	    background-color: #0091EA;
    border-color: #0091EA;
}



.nav-logout-btn:hover{
	background-color: #008BE0;
	border-color: #008BE0;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 2px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 5px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #50565b;
	font-size: 16px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}

.profile-bar {
    background-color: white;
    padding: 25px 0px;
    font-family: gotham_medium;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.is-head{
		text-align: center;
		font-size: 22px;
		margin-top: 10px;
		font-family: gotham_medium;
}

.is-details{
	text-align: center;
	font-size: 16px;
		color: #797979;
		margin-top: -12px;
		font-family: gotham_book;
		font-weight: bolder;
}


.signup-adv-div{
	margin-top: 40px;
	margin-bottom: 40px;
	    padding: 0px 62px;
}

.contact-us-div{
	margin-top: 20px;
	margin-bottom: 0px;
}


.signup-adv-text{

}

.signup-adv-text>img{
	height: 44px;
}

.adv-row{
	margin-bottom: -15px;
}

.adv-head{
	text-align: center;
	font-size: 16px;
	margin: 15px 0px;
}

.adv-exp{
	text-align: center;
	color: #797979;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 13px;
}

.contact-exp,.cont-phone{
	font-size: 14px;
	margin-bottom: 4px;
}

.cont-phone{
	color: #0091EA;
	text-align: center;
	font-size: 16px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}

.form-row{
	margin-top: 20px;
	margin-bottom: 30px;
}

.per-det-div{
	margin-left: 35px;
	padding: 0px 69px 0px 10px;
	    margin-top: -15px;
}


.per-det{
		text-align: left;
	font-size: 16px;
	margin: 15px 0px;
}

.form-div{
	margin-top: 20px;
}


.form-helper{
	font-family: gotham_book;
	color: #81878C;
	font-size: 12px;
	font-weight: bold;
	    margin-bottom: 6px;
}

.signup-f-input{
	border-radius: 3px;
	width: 95%;
	height: 36px;
	border: 1px solid #c1c1c1;
	padding:0px 6px; 
}

.signup-f-inline{

		border-radius: 3px;
	width: 60%;
	height: 36px;
	border: 1px solid #c1c1c1;
	padding:0px 6px;

}

.sex-radio-divs,.marital-radio-divs,.resident-radio-divs{
	margin-top: -9px;
}

.male-radio-div span{
	border: 1px solid #0091EA;
	font-family: gotham_book;
	padding: 6px 20px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #0091EA;
}

.male-radio-div span:hover{
	cursor: pointer;
}

.female-radio-div span:hover{
	cursor: pointer;
}

.female-radio-div span{
	border: 1px solid #0091EA;
	font-family: gotham_book;
	padding: 6px 12px;
	margin-left: -16px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #0091EA;

}


.single-radio-div span{
	border: 1px solid #0091EA;
	font-family: gotham_book;
	padding: 6px 20px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #0091EA;
}

.single-radio-div span:hover{
	cursor: pointer;
}

.married-radio-div span:hover{
	cursor: pointer;
}

.married-radio-div span{
	border: 1px solid #0091EA;
	font-family: gotham_book;
	padding: 6px 17px;
	margin-left: -15px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #0091EA;
}


.res-radio-div span{
	border: 1px solid #0091EA;
	font-family: gotham_book;
	padding: 6px 18px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #0091EA;
}

.res-radio-div span:hover{
	cursor: pointer;
}

.nonres-radio-div span:hover{
	cursor: pointer;
}

.nonres-radio-div span{
	border: 1px solid #0091EA;
	font-family: gotham_book;
	padding: 6px 20px;
	margin-left: -15px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #0091EA;
}

.add-bank-btn{
	    padding: 9px 6px;
    border-radius: 0px;
    margin-left: 8px;
    background-color: #0091EA;
    border-color: #0091EA;
    border-radius: 3px;
    color: white;
    font-family: gotham_medium;
    font-size: 11px;
}

.add-bank-btn:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}

.bank-details{
	    font-family: gotham_book;
    font-size: 12px;
    color: #81878C;
    font-weight: bold;

}

.create-acc-btn{
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
   

}

.back-btn{
	    
	    padding: 5px 11px;
    background-color: #0091EA;
    border-color: #0091EA;
}

.back-btn:hover{
	    
	    padding: 5px 11px;
    background-color: #0091EA;
    border-color: #0091EA;
}


.btn-ekyc,
.btn-ekyc:hover,
.btn-ekyc:active,
.btn-ekyc:visited,
.btn-ekyc:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.btn-ekyc{
		background-color: #0091EA;
	border-color: #0091EA;
	margin-left: 30px;
	padding: 7px 18px;
	font-weight: normal;
	font-size: 12px;
}

.btn-ekyc:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}


.add-bank-btn,
.add-bank-btn:hover,
.add-bank-btn:active,
.add-bank-btn:visited,
.add-bank-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.add-bank-btn{
		background-color: #0091EA;
	border-color: #0091EA;
}

.add-bank-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}

.create-acc-btn,
.create-acc-btn:hover,
.create-acc-btn:active,
.create-acc-btn:visited,
.create-acc-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.create-acc-btn,.create-dir-btn{
		background-color: #0091EA;
	border-color: #0091EA;
	padding: 9px 18px;
	font-family: gotham_medium;
	font-size: 12px;

}

.create-acc-btn:active:hover,.create-dir-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}


.add-director-btn,
.add-director-btn:hover,
.add-director-btn:active,
.add-director-btn:visited,
.add-director-btn:focus {
    background-color: #ffffff;
    border-color: #0091EA;
    font-size: 12px;
    float: right;
    margin-right: 13px;
    color: #0091EA;
}

.add-director-btn:hover{

	    background-color: #0091EA;
    border-color: #0091EA;
    font-size: 12px;
    float: right;
    margin-right: 13px;
    color: white;
}



.add-director-btn,{
		background-color: #0091EA;
	border-color: #0091EA;
	padding: 9px 18px;
	font-family: gotham_medium;
	font-size: 12px;
	    float: right;
    margin-right: 12px;

}

.add-director-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}


.create-dir-btn,
.create-dir-btn:hover,
.create-dir-btn:active,
.create-dir-btn:visited,
.create-dir-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
        margin-bottom: 20px;
}

.create-dir-btn,{
		background-color: #0091EA;
	border-color: #0091EA;
	padding: 9px 18px;
	font-family: gotham_medium;
	font-size: 12px;
	    float: right;
    margin-right: 12px;

}

.create-dir-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}

.edit-dir-btn{

		    margin-top: 10px;
  padding: 4px 15px;
    font-size: 9px;
}

.edit-dir-btn,
.edit-dir-btn:hover,
.edit-dir-btn:active,
.edit-dir-btn:visited,
.edit-dir-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
        margin-bottom: 20px;
        
}

.edit-dir-btn,{
		background-color: #0091EA;
	border-color: #0091EA;
	padding: 9px 18px;
	font-family: gotham_light;
	font-size: 12px;
	    
    margin-right: 12px;

}

.edit-dir-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}


.upload-dir-btn{
	background-color: #0091EA;
	color: white;
	font-family: gotham_medium;
	margin-top: 10px;
	margin-left: 20px;
}

.upload-dir-btn:hover{
	background-color: #0091EA;
	color: white;
}

.upload-dir-btn,
.upload-dir-btn:hover,
.upload-dir-btn:active,
.upload-dir-btn:visited,
.upload-dir-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.upload-dir-btn,{
		background-color: #0091EA;
	border-color: #0091EA;
	padding: 9px 18px;
	font-family: gotham_medium;
	font-size: 12px;
	    float: right;
    margin-right: 12px;

}

.upload-dir-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}


.dir-image-show{
	height: 50px;

}

.director-dis-det
{
	font-size: 11px;
	margin: 6px 10px;
	color: #797979;
	font-family: gotham_book;
	font-weight: bold;

}

.dirpanel-name{
	display: inline;
}

.director-det{
border: 1px solid #c1c1c1;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 20px;
    width: 229px;
    margin-left: 15px;
    margin-right: 27px;
    font-family: gotham_medium;
    padding-right: 0px;

   
}

.dir-det-div{
	margin-top: 4px;
	padding: 0px;
	margin-left: 0px;

}

.remove-dir{
	margin-left: 45px;
	position: absolute;
	font-size: 18px;
	margin-top: -1px;
	color: #797979;
}

.remove-dir:hover{

	color: #dd3b49;
	cursor: pointer;
}

.photo-and-edit{
	    padding: 0px;
    margin-top: 10px;
    margin-left: -5px;
}



.modal-title{
	text-align: center;
	font-family: gotham_medium;
	color: #797979;
}

.modal-backdrop{
	background-color: white;
	opacity: 0.7;
}

.modal-backdrop.in {
    opacity: 0.8;
}


.modal-dialog{
	width: 850px;
}

.modal-content {
    /* -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); */
    box-shadow: 0 1px 15px rgba(169, 169, 169, 0.5);
    border:none;
}















#per-det-info{

		text-align: left;
	font-size: 13px;
		color: #797979;
		margin-top: -12px;
		font-family: gotham_book;
		font-weight: bolder;
		    line-height: 1.6;

}

#nri-addr,#f-s-name,#f-s-nat,#doi,#poi,#cin,#dir-name,#dir-din,#dir-pan,#dir-addr{
	border-radius: 3px;
	font-size: 14px;
	font-family: gotham_book;
}


#dir-addr{
	padding-left: 8px;
}

#kyc-ver{
	display: inline;
	font-family: gotham_book;
	font-size: 14px;
}

#tick{
	margin-right: 10px;
}

#person-name{
	margin-left: 30px;
	margin-top: 4px;
}

#comp-kyc{
	margin-left: 30px;
	margin-top: 4px;
}

#addDirModal{
	margin-top: 10vh;
}

#dir-pic{
	height: 120px;
	opacity: 0.9;
}

#pic-error{
	font-family: gotham_medium;
	color: #dd3b49;
	display: none;
}

#dir-pic-file{
	display: none;
}

#upload-helper{
	margin-top: 10px;
}

input:focus{

	outline: none;
	box-shadow: none;
}

textarea:focus{
		box-shadow: none;
		outline: none;
}

input[type = "radio"]{
	display: none;
}

input[type="radio"]:checked + label span.radio {
    background-color: #0091EA;
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}




select {

       border: 1px solid #c1c1c1;
    font-size: 14px;
    height: 34px;
    width: 95%;
    border-radius: 3px;
    color: #797979;
    font-family: gotham_book;
    font-weight: bold;
}

a:hover{
	cursor: pointer;
	text-decoration: none;
}

#send-mail-text{
	font-family: gotham_medium;
    font-size: 20px;
    color: #333;
}

.form-input{
	width: 100%;
	border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 4%;
    font-size: 16px;
    font-family: gotham_book;
    font-weight: bold;
}

.width-86{
	width: 86%;
}

#send-email{
	background-color: #0091EA;
    width: 15%;
    border-color: #0091EA;
     margin: 25px auto 10px;
    display: block;
}

#address-text{
	height: 80px;
	resize: none;	
}

.box-shadow{
	box-shadow: 0 0 5px #dad7d7;
}


.pm0{
	margin-bottom: 0px;
}


.info-group{
	padding : 10px;
}

.upload_icon{
	margin-top: 15px;
}

.upload_icon:hover{
	cursor: pointer;
}

.account-act-war{

	margin-top: 20px;
}


#acct_acti{
	text-align: left;
	margin: 0px;
	font-size: 18px;
	margin-left: 30px;

}

#acct_deta{
	text-align: left;
	margin: 0px;
	font-size: 14px;
	margin-left: 30px;

}

.ekyc-text{
	font-family: gotham_book;
	margin-bottom: 0px;
	font-weight: bold;
	color: #797979;
	font-size: 12px;
}

#ekyc-btn{

	font-family: gotham_book;
	background-color: #0091EA;
	border-color: #0091EA;
	font-weight: bold;
	margin-top: 10px;
	padding : 4px;
	width: 80px;
	border-radius: 2px;

}


.kyc-info-text{
	font-family: gotham_book;
	color: #797979;
	font-size: 12px;
	font-weight: bold;
}


.activation-file-error{
	
}

/*.upload-container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }


    .upload-cont-text{
    	text-align: center;
    }*/