@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #0091ea !important;
    border-color: #0091ea !important;
}

.save-spacing{
	margin-top: 15px;
}

.save-button{
	padding: 8px 20px;
}


.search-spacing{
	padding-left:30px; 
}

.search-icon{
margin-left: -13px;
    float: left;
    color: #555;
    }

.navbar{
	border-radius: 0px;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10001;

    
}

.navbar-brand>img{
	height: 24px;
}

.nav-logout-btn{
	font-size: 11px;
	background-color: #0091EA;
	border-color: #0091EA;
	padding: 8px 28px;
	border-radius: 3px;
	font-weight: lighter;
}

.nav-logout-btn:hover{
	background-color: #008BE0;
	border-color: #008BE0;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 8px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 2px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #333;
	    font-size: 13px;
    padding: 10px 6px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}


.profile-bar{
	background-color: white;
	padding: 25px 0px;
	font-family: gotham_medium;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.profile-content{
	    margin-left: 0%;
    padding: 0px 20px;
}

.user-content{
	margin-left:35px;
	padding: 0px;
}

.profile-image{
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}


.profile-name {
    font-size: 18px;
    color: #333;
    padding-top: 4px;
    margin-bottom: 0px;
    display: inline-block;
}

.invest-text{
	font-size: 14px;
	 display: inline-block;
}

.info-container {
display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}

.highlight-text{
	font-size: 10px;
	color: #676767;
	display: block;

}

.highlight-bot-text{
	margin-top: -4px;
}


.investment-summary{
		background-color: white;
		font-family: gotham_medium;
		margin-top: 15px;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
		
}

.is-head{
		text-align: center;
		font-size: 22px;
		margin-top: 40px;
}

.por-head{
	margin-top: 0px;
}

.is-details{
	text-align: center;
	font-size: 14px;
		color: #696969;
		margin-top: -12px;
		font-family: gotham_book;
		font-weight: bolder;
}


.in-det-row,.goal-ach-row{
    font-size: 17px;
    color: #5D5D5D;
    text-align: center;
    padding-left: 4%;
    padding-right: 2%;
    margin-top: 14px;
    margin-bottom: 14px;
}


.search-bar{
	    background-color: white;
    padding: 25px 15px;
    font-family: gotham_medium;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 15px;
}

.last-t{
    font-family: gotham_book;
    font-weight: bold;
    font-size: 16px;
}

.filter-search-date{
	margin-left: 10px;
	border-radius: 3px;
	height: 30px;
}


.srch-btn-div{
	margin-top: -5px;
}


.search-filter-btn,.search-filter-btn:hover,.search-filter-btn:focus{
	width: 90%;
	background-color: #0091EA;
	border-color: #0091EA;
	color: white;
	border-radius: 2px;
	text-align: center;
	font-family: gotham_book;
	font-weight: bold;
	padding: 6px 0px;
}

.srch-user-no{
	margin-bottom: 0px;
	color: #50565B;
	font-size: 12px;
	display: inline-block;
}

.srch-options{
color: #333;
    text-align: center;
    font-size: 14px;
}

.moderate-badge{
	text-align: center;
	background-color: #f2b135;
	width: 60%;
	border-radius: 2px;
	padding: 8px 4px;
	font-family: gotham_book;
}


.rs-sym{
	font-family: gotham_light;
}

.port-result-det{
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-family: gotham_book;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
}

.return-det{
	font-size: 22px;
	font-family: gotham_light;
	text-align: center;
	font-weight: bold;
}

.top-links{
	text-align: center;
}

.list-headings{
    font-size: 16px;
    color: #333;
    background-color: #f3f3f3;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: -11px;
    margin-bottom: -1px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: gotham_book;
    font-weight: bold;
}

.active-page{
	background-color: white;
}

.panel-heading{
	background-color: #f7f7f7;
}

.panel-nav{
	    margin-top: 10px;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-right: 0px;
}

.det-header{
	        text-align: left;
    font-size: 16px;
    margin: 15px 15px;
    font-size: 20px;
    font-family: gotham_book;
    /* margin-left: 25px; */
    color: #333;
    padding-top: 4px;
    font-weight: bold;
    margin-bottom: 10px

}

textarea{
	resize: none;
}

.det-sub-header{
    font-family: gotham_book;
    font-weight: bold;
    font-size: 18px;
}

.form-helper{
    font-family: gotham_book;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.srch-show-inp{
	    border-radius: 3px;
    width: 95%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;    
    font-family: gotham_book;
}


.info-div{
	margin: 8px auto;
}


.male-radio-div span{
    border: 1px solid #0091EA;
    font-family: gotham_book;
    padding: 6px 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #0091EA;
    margin-top: 0px;
}

.female-radio-div span {
    border: 1px solid #0091EA;
    font-family: gotham_book;
    padding: 6px 12px;
    margin-left: -16px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0091EA;
    margin-top: 0px;
}


.male-radio-div span:hover,.female-radio-div span:hover{
	cursor: pointer;
}

.married-radio-div span{
	margin-left: -15px;
}

.tax-radio-div span{
	margin-left: -16px;
}

.pol-radio-div span{
	padding: 6px 20px;
}

.nominee-div{
	padding: 0px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}

.bank-det-row{
	margin-left: 0px;
	margin-right: 0px;
}

.bank-details-row{
	margin: 15px 0px;
	padding-left: 0px;
}

.acc-type-name{
    font-family: gotham_book;
    margin-left: 10px;
    color: #333;
    font-weight: bold;
}

.checkbox img{
	height: 20px;
}


.tax-res{
	margin-left: 15px;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 16px;
	margin-right: 15px;
}


.srch-result-img{
	height: 130px;
	opacity: 0.3;
	margin-bottom: 20px;
	width: 160px !important;
	    
	    border-radius: 3px;
}

.srch-result-img:hover{
	box-shadow: 0px 5px 10px 5px #cccccc;
	cursor: pointer;
}

.srch-file-helper{
	font-size: 14px;
}


.twitter-typeahead{
	width : 100% !important;
}


.list-group,.search-results-dropdown{
	width : 100% !important;
}


.suggestion{
	width: 100% !important;
	text-align: left;
	border-radius: 4px;
	padding-left: 20px;
}




span.checkbox:hover{
cursor: pointer;
}


option{
	color: #5D5D5D;
	border-radius: 10px;
}

input[type = "radio"],input[type = "checkbox"]{
	display: none;
}

input[type="radio"]:checked + label span.radio {
    background-color: #0091EA;
    color: white;
}




#second-nav{
	padding-top: 10px;
}

#search-input{
	border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 90%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 14px;
    font-family: gotham_book;
    font-weight: bold;
}

#tab{
 margin-right: 25px;
}

#tab-icon{
	font-size: 20px;
	color: #888;
	cursor: pointer;
}

#user-det-row{
	padding: 20px 15px;
	display: none;
}

#update_kyc{
	    background-color: #0091EA;
    border-color: #0091EA;
    border-radius: 3px;
}

#search-email {
    margin-bottom: 0px;
    margin-top: -5px;
}

#srch-user-no{
    font-size: 14px;
    color: #333;
    display: inline-block;
}

#srch-per-pass{
	width: 56%;
}

#rebal-icon{
	height: 40px;
}

#update-pass{
	    background-color: #0091EA;
    border-color: #0091EA;
    border-radius: 2px;
    margin-left: 15px;
}


#srch-per-addr,#bank1-addr,#bank2-addr{
	width: 95%;
	border-radius: 3px;
	border-color: #c1c1c1;
}

#tax-res-div{
	display: inline;
}

#tax-res-col{
	margin: 25px auto;
}

#srch-img-div{
	margin: 20px auto;
}


#down-doc-div{
	margin: 15px auto;
	margin-top: 0px;
}



a:hover{
	text-decoration: none;
}


#upload-pan,#upload-apf,#upload-apb,#upload-sig,#upload-video{
	
}

#download-pan,#download-apf,#download-apb,#download-sig,#download-video{

}

input[type=file] {
    display: none !important;
}

.file-forms{
	display: inline;
}

.download-files{
	display: inline-block !important;
	float: right;
	font-weight: 500;
	margin-right: 20px;
	font-size: 14px !important;
}

label{
	font-weight: 500 !important;
	font-size: 14px !important;
}

#srch-img-div div{
	margin: 10px auto;
}

.info-text{
	font-size: 18px;
    font-family: gotham_book;
}

#confirm-btn{
	    margin: 20px auto;
    background-color: #0091EA;
    border-color: #0091EA;
}

.modal-header-text{
	color: #0091EA ;
	font-size: 18px;
	margin-bottom: 0px;
}

#save-div{
	width: 30% !important;
}

#save-p{
	margin-top: 13px;
    font-size: 25px !important;
}

#save-btn{
	margin-bottom: 21px;
    font-size: 18px !important;
}

.day-change{
    margin-right: 10px;
    font-size: 16px;
    padding-top: 9px;
}

#up-val{
 color: #05cb05e0;
}

#down-val{
	color: #db1f12cc;
}