@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.navbar{
	border-radius: 0px;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10;

    
}

.table{
	margin-bottom: 0px;
}

.navbar-brand>img{
	height: 24px;
}

.nav-logout-btn{
	font-size: 11px;
	background-color: #0091EA;
	border-color: #0091EA;
	padding: 8px 28px;
	border-radius: 3px;
	font-weight: lighter;
}

.nav-logout-btn:hover{
	background-color: #008BE0;
	border-color: #008BE0;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 8px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 2px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #50565b;
	    font-size: 13px;
    padding: 10px 6px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}


.profile-bar{
	background-color: white;
	padding: 25px 0px;
	font-family: gotham_medium;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.profile-content{
	    margin-left: 0%;
    padding: 0px 20px;
}

.user-content{
	padding-left: 5px;
}

.profile-image{
	height: 58px;
	border-radius: 50%;
	display: inline-block;
}


.profile-name{
	font-weight:bold;
	font-size: 22px;
	color: #3e3e3e;
	padding-top: 4px;
	margin-bottom: 0px;
}

.invest-text{
	color: #50565B;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 13px;
	margin-top: -4px;
}


.info-container {
display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}

.highlight-text{
	font-size: 10px;
	color: #676767;
	display: block;

}

.highlight-bot-text{
	margin-top: -4px;
}


.investment-summary{
		background-color: white;
		font-family: gotham_medium;
		margin-top: 15px;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
		
}

.is-head{
		text-align: center;
		font-size: 22px;
		margin-top: 40px;
}

.por-head{
	margin-top: 0px;
}

.is-details{
	text-align: center;
	font-size: 14px;
		color: #696969;
		margin-top: -12px;
		font-family: gotham_book;
		font-weight: bolder;
}


.in-det-row,.goal-ach-row{
    font-size: 17px;
    color: #5D5D5D;
    text-align: center;
    padding-left: 4%;
    padding-right: 2%;
    margin-top: 14px;
    margin-bottom: 14px;
}


.search-bar{
	    background-color: white;
    padding: 40px 15px;
    font-family: gotham_medium;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 15px;
}

.last-t{
	font-family: gotham_light;
	font-weight: bold;
	font-size: 15px;
}

.filter-search-date{
	margin-left: 10px;
	border-radius: 3px;
	height: 30px;
}


.srch-btn-div{
	margin-top: -5px;
}


.search-filter-btn,.search-filter-btn:hover,.search-filter-btn:focus{
	width: 90%;
	background-color: #0091EA;
	border-color: #0091EA;
	color: white;
	border-radius: 2px;
	text-align: center;
	font-family: gotham_book;
	font-weight: bold;
	padding: 6px 0px;
}

.srch-user-no{
	margin-bottom: 0px;
	color: #50565B;
	font-size: 12px;
}

.srch-options{
	    color: #50565B;
	    text-align: center;
}

.moderate-badge{
	text-align: center;
	background-color: #f2b135;
	width: 60%;
	border-radius: 2px;
	padding: 8px 4px;
	font-family: gotham_book;
}


.rs-sym{
	font-family: gotham_light;
}

.port-result-det{
	text-align: center;
	margin-top: 20px;
	color: #50565B;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 0px;
}

.return-det{
	font-size: 26px;
	font-family: gotham_light;
	text-align: center;
	font-weight: bold;
}

.top-links{
	text-align: center;
}

.list-headings{
	font-size: 16px;
	color: #3e3e3e;
	background-color: #f7f7f7;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: -11px;
    margin-bottom: -1px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.padding-small{
	background-color: #f7f7f7;
}

.active-page{
	background-color: white;
}

.panel-heading{
	background-color: #f7f7f7;
}

.panel-nav{
	    margin-top: 10px;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-right: 0px;
}

.det-header{
	    text-align: left;
    font-size: 16px;
    margin: 15px 15px;
}

.det-sub-header{
	font-family: gotham_light;
	font-weight: bold;
}



.srch-show-inp{
	    border-radius: 3px;
    width: 95%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;
}


.info-div{
	margin: 8px auto;
}






.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}

.statement-div {
    padding: 10px 10px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #E6E6E6;
}

.fin-text {
    color: #797979;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
}


.fin-year {
    color: #797979;
    font-family: gotham_book;
    font-size: 20px;
}










option{
	color: #5D5D5D;
	border-radius: 10px;
}

input[type = "radio"],input[type = "checkbox"]{
	display: none;
}

input[type="radio"]:checked + label span.radio {
    background-color: #0091EA;
    color: white;
}




#second-nav{
	padding-top: 10px;
}

#rebal-icon{
	height: 45px;
}

#search-input{
	border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 140%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 13px;
    font-family: gotham_medium;
}

#user-det-row{
	padding: 20px 15px;
}

#search-email{
	margin-bottom: 0px;
}

#srch-user-no{
	font-size: 11px;
	color: #50565B;
}

#srch-per-pass{
	width: 56%;
}



#update-pass{
	    background-color: #0091EA;
    border-color: #0091EA;
    border-radius: 2px;
    margin-left: 15px;
}




#tax-res-div{
	display: inline;
}

#tax-res-col{
	margin: 25px auto;
}

#srch-img-div{
	margin: 20px auto;
}


#down-doc-div{
	margin: 15px auto;
	margin-top: 0px;
}






a:hover{
	text-decoration: none;
}




/* INV history starts*/

.styled-select.slate select {
    border: 1px solid #c1c1c1;
    font-size: 12px;
    height: 34px;
    width: 25%;
    border-radius: 3px;
    color: #797979;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 10px;
}

.hereshow, .subnote {
    color: #81878C;
    font-family: gotham_book;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.funds-name {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color: #3e3e3e;
    margin: 20px 0px;
    padding: 3px 0px;
    margin-bottom: 0px;
}

.table-wrapper {
    overflow-x: scroll;
    margin-bottom: 25px;
}

.units-held-p{
	    background-color: #f1f1f1;
    text-align: center;
    border: 2px solid #dedede;
    border-radius: 2px;
}

.units-help-inp{
	width: 100%;
}

.units-held-p p{
	margin-bottom: 0px;
}
.unsucc{
	color: #0091EA;
}

.table>thead>tr>th {
    border-bottom: none;
    vertical-align: top;
    color: #81878C;
    font-family: gotham_book;
    font-size: 14px;
    width: 400px;
    padding: 8px 32px;
}

.table>thead>tr>th {
    font-size: 14px;
    padding: 12px 28px;
}

.table>tbody>tr>td {
    padding: 10px 28px;
    height: 25px;
}

td {
    margin-left: 20px;
    font-family: gotham_book;
    font-weight: bolder;
    width: 400px;
}

.bt-green {
    border-top: 0.1em solid;
    border-top-color: #BFE5F8 !important;
    border-bottom: 0.1em solid;
    border-bottom-color: #BFE5F8 !important;
}

.total{
	background-color: #F7FCFF;
}

.subnote {
    text-align: center;
    margin: 20px 0px;
}

#mutual {
    width: 260px;
    margin-left: -15px;
}
	
#export-row {
    margin-top: 26px;
}


#export-btn{
    border-color: #0091EA;
    color: #0091EA;
    background-color: white;
}

#equity-scroll, #debt-scroll, #hybrid-scroll {
    position: absolute;
    z-index: 10;
    background-color: red;
    visibility: hidden;
}

#contact-sub {
    margin-top: -20px;
}

/* INV History Ends*/


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.edit-portfolio{
	font-size: 20px;
}

.edit-portfolio:hover{
	cursor: pointer;
	transform: 0.1;
	transition: 0.3s;
}

.signup-f-input {
    border-radius: 3px;
    width: 90%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;
}


.modal-backdrop{
	background-color: white;
	opacity: 0.6;
}


.modal-content{
	border: none;
}


.modal-title{
	text-align: center;
	font-family: gotham_medium;
	color: #797979;
}

.modal-backdrop{
	background-color: white;
	opacity: 0.8;
}

.modal-backdrop.in {
    opacity: 0.8;
}


.modal-dialog{
	
	vertical-align: middle;
}

.modal-header{
	border-bottom: none;
}

.modal-content {
    /* -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); */
    box-shadow: 0 1px 15px rgba(169, 169, 169, 0.5);
    border:none;
}


.form-helper {
    font-family: gotham_book;
    color: #81878C;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
}


#update-portfolio{
	background-color: #0091EA;
	border-color: #0091EA;
	font-family: gotham_book;
	border-radius: 3px;
	margin: 30px auto 20px auto;
}

/* Withdraw Button*/

#wd-btn{
	background-color: white;
	border-color: #0091EA;
	color: #0091EA;
}

#wdModal{
	font-family: gotham_book;
}

#wd-submit{
	border-color: #0091EA;
	background-color: #0091EA;
	color: white;
	border-radius: 3px;
	width: 80px;
	margin : 15px auto;
}

.modal-title{
	color: #0091EA;
	font-family: gotham_book;
	font-size: 20px;
	font-weight: bold;
}

.modal-header{
	border-bottom: none;	
}

.modal-footer{
	border-top: none;
}

.form-helper {
    font-family: gotham_book;
    color: #81878C;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

.signup-f-input {
    border-radius: 3px;
    width: 100%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;
    margin: 0px auto;
    display: block;
}

.form-group{
	margin-bottom: 10px !important;
}


.modal-dialog{
	width: 475px !important;
}

#invModal .modal-dialog{
	width: 1000px !important;
}

.add-inv-select{
	width: 150px;
	    height: 35px;
    border-radius: 4px;
}

#add-portfolio{
	margin-top: 15px;
}

.portfolio-holder{
	    margin: 15px auto;
    margin-left: -15px;
}


#update-info{
	text-align: center;
	font-size: 22px;
	margin-bottom: 25px;
}

#header-holder-div{
	position: fixed;
	max-width: 100%;
	overflow-x: scroll;
}