

@media(min-width: 992px) and (max-width: 1200px){


}



@media(min-width: 768px) and (max-width: 992px){

		.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}



	.container{
		
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}

	li.menu-text>a {
    color: #50565b;
    font-size: 12px;
    padding: 10px 6px;
}

	.invest-text{
		font-size: 12px;
	}


	.profile-image{
		margin-top: 0px;
		height: 48px;
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}



    .profile-content{
    margin-left: 0px;
    padding: 0px;
    margin-top: 0px;
	}


    .profile-name{
	font-size: 22px;

    }














}

@media(min-width: 500px) and (max-width: 767px){

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
}




	.container{
		width: 500px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}


    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}


    .profile-name{
	font-size: 18px;
	text-align: center;

    }



	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}


	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}


	.from-to{
		margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

	}


	.search-bar{
		padding: 15px 15px;
	}




#logout-nav {
   margin-left: -10px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}

#nach-scroll {
    position: absolute;
    z-index: 10;
    background-color: white;
    visibility: visible;
    margin-left: 468px;
    margin-top: 71px;
    border-color: #0091EA;
    display: block;
}

#search-input{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
}


#export-text{
	display: block;
	text-align: center;
	margin-top: 15px;
	margin-right: 0px;
}

#export-btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 12px;
}




#user-det{
	text-align: center;
	margin: 15px auto;
}

#total-amt{
	margin-right: 0px;
	font-size: 12px;
}


.det-heading{
	    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.det-content{
	margin-bottom: 10px;
}

.margin-10{
	margin: 0px;
}

.margin-30{
	margin: 0px;
}


.moderate-badge{
	width: 80%;
}

.span-fund-name{
	font-size: 12px;
}

.checkbox>img{
	margin-top: 0px;
}

.fund-amount-inner{
	font-size: 12px;
}

	

}




@media(min-width: 350px) and (max-width: 500px){

		html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
}




	.container{
		width: 350px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}


    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}


    .profile-name{
	font-size: 18px;
	text-align: center;

    }



	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}


	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}


	.from-to{
		margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

	}


	.search-bar{
		padding: 15px 15px;
	}




#logout-nav {
   margin-left: -10px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}

#nach-scroll {
    position: absolute;
    z-index: 10;
    background-color: white;
    visibility: visible;
    margin-left: 320px;
    margin-top: 71px;
    border-color: #0091EA;
    display: block;
}

#search-input{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
	font-size: 13px;
}


#export-text{
	display: block;
	text-align: center;
	margin-top: 15px;
	margin-right: 0px;
}

#export-btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 12px;
}


#user-det{
	text-align: center;
	margin: 15px auto;
}

#total-amt{
	margin-right: 0px;
	font-size: 12px;
}


.det-heading{
	    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.det-content{
	margin-bottom: 0px;
}

.margin-10{
	margin: 0px;
}

.margin-30{
	margin: 0px;
}


.moderate-badge{
	    width: 80%;
    font-size: 10px;
    padding: 6px 4px;
}

.span-fund-name{
	font-size: 12px;
}

.checkbox>img{
	margin-top: 0px;
}

.fund-amount-inner{
	font-size: 12px;
}

.checkbox>img{
	margin-left: 10px;
}

.fund-title{
	margin-left: 30px;
}

#wd-btn{
	font-size: 12px;
}
}



@media(min-width: 300px) and (max-width: 350px){

			html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
}




	.container{
		width: 300px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}


    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}


    .profile-name{
	font-size: 18px;
	text-align: center;

    }



	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}


	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}


	.from-to{
		margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

	}


	.search-bar{
		padding: 15px 15px;
	}




#logout-nav {
   margin-left: -10px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}

#nach-scroll {
    position: absolute;
    z-index: 10;
    background-color: white;
    visibility: visible;
    margin-left: 268px;
    margin-top: 71px;
    border-color: #0091EA;
    display: block;
}

#search-input{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 75%;
	font-size: 12px;
}


#export-text{
	display: block;
	text-align: center;
	margin-top: 15px;
	margin-right: 0px;
}

#export-btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 12px;
}


#user-det{
	text-align: center;
	margin: 15px auto;
}

#total-amt{
	margin-right: 0px;
	font-size: 12px;
}


.det-heading{
	    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.det-content{
	margin-bottom: 0px;
}

.margin-10{
	margin: 0px;
}

.margin-30{
	margin: 0px;
}


.moderate-badge{
	    width: 100%;
    font-size: 10px;
    padding: 6px 4px;
}

.span-fund-name{
	font-size: 12px;
}

.checkbox>img{
	margin-top: 0px;
}

.fund-amount-inner{
	font-size: 12px;
}

.checkbox>img{
	margin-left: 10px;
}

.fund-title{
	margin-left: 30px;
}

#wd-btn{
	font-size: 12px;
}

}