@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.navbar{
	border-radius: 0px;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10001;

    
}

.navbar-brand>img{
	height: 24px;
}

.nav-logout-btn{
	font-size: 11px;
	background-color: #0091EA;
	border-color: #0091EA;
	padding: 8px 28px;
	border-radius: 3px;
	font-weight: lighter;
}

.nav-logout-btn:hover{
	background-color: #008BE0;
	border-color: #008BE0;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 8px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 2px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #50565b;
	    font-size: 13px;
    padding: 10px 6px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}


.profile-bar{
	background-color: white;
	padding: 25px 0px;
	font-family: gotham_medium;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.profile-content{
	    margin-left: 0%;
    padding: 0px 20px;
}

.user-content{
	margin-left:20px;
	padding: 0px;
}

.profile-image{
	height: 58px;
	border-radius: 50%;
	display: inline-block;
}


.profile-name{
	font-weight:bold;
	font-size: 22px;
	color: #3e3e3e;
	padding-top: 4px;
	margin-bottom: 0px;
}

.invest-text{
	color: #50565B;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 13px;
	margin-top: -4px;
}


.info-container {
display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}

.highlight-text{
	font-size: 10px;
	color: #676767;
	display: block;

}

.highlight-bot-text{
	margin-top: -4px;
}


.investment-summary{
		background-color: white;
		font-family: gotham_medium;
		margin-top: 15px;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
		
}

.is-head{
		text-align: center;
		font-size: 22px;
		margin-top: 40px;
}

.por-head{
	margin-top: 0px;
}

.is-details{
	text-align: center;
	font-size: 14px;
		color: #696969;
		margin-top: -12px;
		font-family: gotham_book;
		font-weight: bolder;
}


.in-det-row,.goal-ach-row{
    font-size: 17px;
    color: #5D5D5D;
    text-align: center;
    padding-left: 4%;
    padding-right: 2%;
    margin-top: 14px;
    margin-bottom: 14px;
}


.search-bar{
	    background-color: white;
    padding: 40px 15px;
    font-family: gotham_medium;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 15px;
}

.last-t{
	font-family: gotham_light;
	font-weight: bold;
	font-size: 15px;
}

.filter-search-date{
	margin-left: 10px;
	border-radius: 3px;
	height: 30px;
}


.srch-btn-div{
	margin-top: -5px;
}


.search-filter-btn,.search-filter-btn:hover,.search-filter-btn:focus{
	width: 90%;
	background-color: #0091EA;
	border-color: #0091EA;
	color: white;
	border-radius: 2px;
	text-align: center;
	font-family: gotham_book;
	font-weight: bold;
	padding: 6px 0px;
}

.srch-user-no{
	margin-bottom: 0px;
	color: #50565B;
	font-size: 12px;
}

.srch-options{
	    color: #50565B;
	    text-align: center;
}

.moderate-badge{
	text-align: center;
	background-color: #f2b135;
	width: 60%;
	border-radius: 2px;
	padding: 8px 4px;
	font-family: gotham_book;
}


.rs-sym{
	font-family: gotham_light;
}

.port-result-det{
	text-align: center;
	margin-top: 20px;
	color: #50565B;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 0px;
}

.return-det{
	font-size: 26px;
	font-family: gotham_light;
	text-align: center;
	font-weight: bold;
}

.top-links{
	text-align: center;
}

.list-headings{
	font-size: 16px;
	color: #3e3e3e;
	background-color: #f7f7f7;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: -11px;
    margin-bottom: -1px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.padding-small{
	background-color: #f7f7f7;
}

.active-page{
	background-color: white;
}

.panel-heading{
	background-color: #f7f7f7;
}

.panel-nav{
	    margin-top: 10px;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-right: 0px;
}

.det-header{
	    text-align: left;
    font-size: 16px;
    margin: 15px 15px;
}

.det-sub-header{
	font-family: gotham_light;
	font-weight: bold;
}



.srch-show-inp{
	    border-radius: 3px;
    width: 95%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;
}


.info-div{
	margin: 8px auto;
}






.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}

.statement-div {
    padding: 10px 10px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #E6E6E6;
}

.fin-text {
    color: #797979;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
}


.fin-year {
    color: #797979;
    font-family: gotham_book;
    font-size: 20px;
}










option{
	color: #5D5D5D;
	border-radius: 10px;
}

input[type = "radio"],input[type = "checkbox"]{
	display: none;
}

input[type="radio"]:checked + label span.radio {
    background-color: #0091EA;
    color: white;
}




#second-nav{
	padding-top: 10px;
}

#search-input{
	border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 90%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 13px;
    font-family: gotham_medium;
}

#user-det-row{
	padding: 20px 15px;
}

#search-email{
	margin-bottom: 0px;
}

#srch-user-no{
	font-size: 11px;
	color: #50565B;
}

#srch-per-pass{
	width: 56%;
}

#rebal-icon{
	height: 40px;
}

#update-pass{
	    background-color: #0091EA;
    border-color: #0091EA;
    border-radius: 2px;
    margin-left: 15px;
}


#srch-per-addr,#bank1-addr,#bank2-addr{
	width: 95%;
	border-radius: 3px;
	border-color: #c1c1c1;
}

#tax-res-div{
	display: inline;
}

#tax-res-col{
	margin: 25px auto;
}

#srch-img-div{
	margin: 20px auto;
}


#down-doc-div{
	margin: 15px auto;
	margin-top: 0px;
}



#export-row {
    margin: 0px 0px 60px;
}

#sende-btn,#savepdf-btn,#upload-ts{
	background-color: #0091EA;
	border-color: #0091EA;
	width: 80px;
    margin-right: 10px;
    border-radius: 2px;
    font-size: 12px;
}

a:hover{
	text-decoration: none;
}
