.pending-amount-details{
	margin-bottom: 0px;
	margin-top: 5px;
}

.padding-five{
	padding: 8px 0px;
}

.pending-amount-details{
	margin-top: 0px;
}

.green{
    color: #15BF75;
}

.red{
    color: #EA0030;
}

.orange{
    color: #F3961C;
}