/*@media(min-width: 1800px){
	.container{
		width: 1600px;
	}
}

@media(min-width: 1600px){
	.container{
		width: 1400px;
	}
}*/

@media(min-width: 1400px) {



	/*.navbar{
			padding-left: 35vh;
	padding-right: 35vh;
	}


	.container{
		width: 820px;
	}

	.profile-image{
		margin-top: 6px;
	}

	.zero-fee{
	padding-top: 1%;
}

	.zero-fee>img{
	height: 50px;
    }

    .profile-content{
	margin-left:-50px;
	padding: 0px;
	}

	.goal-amount-div{
    margin-right: 68px;
    margin-top: -84px;
}

    .profile-name{
	font-size: 30px;

    }

    .donut-chart {
    display: block;
    margin: 0 auto;
    margin-left: 35px;
}

    .invest-text{
	font-size: 16px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -44px;
	}

	.int-topic{
		font-size: 24px;
	}

	.amount{
		font-size: 32px;
	}

	.highlight-text{
	font-size: 16px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 28px;

	}

	.is-details{
		text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: gotham_book;
	}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 11px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 10.5%;
    color: #9A9A9A;
}

	.port-comp-text{
		font-size: 24px;
	}

	.port-comp-amount{
		font-size: 28px;
	}

	.port-comp-amount-dis{
    font-size: 24px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 6px;
}

	.footer-row>div>a{
	margin-right: 5.2%;
}

	.footer-row>div>a>span {
    color: #2F3640;
    font-size: 20px;
}

	#meet-det-text {
margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 28.2%;
    font-size: 26px;
	}

	#meet-goal-text{
		padding-left: 11.3%;
    font-size: 26px;
	}

	#goal-away-text{
		font-size: 26px;
		padding-left: 14%;
	}

	#footer-disc {
    font-size: 17px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #5F6369;
}

#inv-today{
	margin-bottom: 40px;
}

#footer-comp{
	font-size: 16px;
	margin-left: -12px;
}*/

}

@media(min-width: 992px) and (max-width: 1200px){

	.canvas-in-div {
    margin-top: -113px;
    margin-bottom: 70px;
    margin-left: -2px;
}
}



@media(min-width: 768px) and (max-width: 992px){

		.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}



	.container{
		
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}

	.invest-text{
		font-size: 12px;
	}


	.profile-image{
		margin-top: 0px;
		height: 48px;
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}

	.zero-fee{
	padding-top: 2%;
	padding-left: 0px;
}

	.zero-fee>img{
	height: 36px;
    margin-top: 8px;
    }

    .profile-content{
    margin-left: 0px;
    padding: 0px;
    margin-top: 0px;
	}

	.goal-amount-div{
    margin-right: 4px;
    margin-top: -74px;
}

    .profile-name{
	font-size: 22px;

    }

    .donut-chart {
    display: block;
    margin: 0 auto;
    margin-left: 137px;
}



    .invest-text{
	font-size: 12px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 17px;
	}

	.amount{
		font-size: 28px;
	}

	.amount-progress {
    width: 74%;
    margin-left: -10%;
    height: 22px;
}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 22px;

	}

	.is-details{
    font-size: 18px;
	}

	.scale-row {
    margin-left: -6%;
}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 11px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 8.5%;
    color: #9A9A9A;
}

	.port-comp-text{
		font-size: 16px;
	}

	.port-comp-amount{
		font-size: 14px;
	}

	.port-name{
		font-size: 10px;
	}

		.port-comp-amount-dis{
		font-size: 13px;
	}
		.gl-perc{
		font-size: 13px;
	}

	.donut-chart{
		margin-left: -20px;
	}

	.footer-row>div>a{
	margin-right: 5.2%;
}

	.footer-row>div>a>span {
    color: #2F3640;
    font-size: 13px;
}

.footer-comp-div{
	margin-left: 16px;
	margin-top: 55px;
}



	#meet-det-text {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 28.7%;
    font-size: 16px;
	}

	#meet-goal-text{
		padding-left: 12.4%;
    font-size: 16px;
	}

	#goal-away-text{
		    font-size: 16px;
    padding-left: 14%;
	}

	#footer-disc {
    font-size: 11px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #5F6369;
}

#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
}

	#inv-today{
	margin-bottom: 10px;
	}

	.list-inline>li {
    margin: 0px 4px;
    font-size: 14px;
}

}

@media(min-width: 500px) and (max-width: 767px){

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

	ul.nav{

	margin-bottom: 0px;
}


	.container{
		width: 100%;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}

	.zero-fee{
	padding-top: 2%;
	padding-left: 0px;
}

	.zero-fee>img{
	height: 36px;
    margin-top: 8px;
    }

    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}

	.goal-amount-div{
    margin-right: 0px;
    margin-top: 0px;
    float: left !important;
    margin-left: 42.5%;
    text-align: center;
    margin-top: -14%;

}

    .profile-name{
	font-size: 18px;
	text-align: center;

    }

    .invest-text{
	font-size: 11px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 20px;

	}



	.is-details{
    font-size: 14px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}

		.soc-div{
		margin: 10px auto;
	}


	.req-reb{
		margin-top: 0px;
	}

	.scale-row {
    margin-left: 4%;
}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 10px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 8.5%;

    color: #9A9A9A;
}

	.port-comp-text{
		font-size: 18px;
	}

	.port-comp-amount{
		font-size: 20px;
	}

	.port-comp-amount-dis{
		font-size: 18px;
	}
		.gl-perc{
		font-size: 18px;
	}

	.port-name{
		font-size: 10px;
	}

	.port-comp-details{
		padding-left: 8px;
		text-align: center;
	}



	.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 7%;
		margin-top: 2%;
}


.soc-img{
	height: 24px;
}


.likes-count {
    color: black;
    font-size: 16px;
}

.likes {
    margin-left: 8px;
    font-size: 14px;
}

.list-inline>li {
    margin: 0px 4px;
    font-size: 12px;
}


.modal-dialog{
	margin : 60px auto;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}


#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}


#footer-disc{
	color: #969696;
}
	

}




@media(min-width: 350px) and (max-width: 500px){

		html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

	ul.nav{

	margin-bottom: 0px;
}


	.container{
		width: 100%;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}

	.zero-fee{
	padding-top: 2%;
	padding-left: 0px;
}

	.zero-fee>img{
	height: 36px;
    margin-top: 8px;
    }

    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}


    .profile-name{
	font-size: 18px;
	text-align: center;

    }

    .invest-text{
	font-size: 11px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 20px;

	}



	.is-details{
    font-size: 14px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}


	.amount{
		font-size: 20px;
	}


	.req-reb{
		margin-top: 0px;
	}

	.scale-row {
    margin-left: 4%;
}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 10px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 8.5%;

    color: #9A9A9A;
}

.soc-div{


	margin: 10px auto;
}

	.port-comp-text{
		font-size: 18px;
	}

	.port-comp-amount{
		font-size: 20px;
	}

	.port-comp-amount-dis{
		font-size: 18px;
	}
		.gl-perc{
		font-size: 18px;
	}

	.port-name{
		font-size: 10px;
	}

	.port-comp-details{
		padding-left: 8px;
		text-align: center;
	}



	.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 7%;
		margin-top: 2%;
}


.soc-img{
	height: 18px;
}


.likes-count {
    color: black;
    font-size: 16px;
}

.likes {
    margin-left: 8px;
    font-size: 14px;
}

.list-inline>li {
    margin: 0px 4px;
    font-size: 12px;
}


.modal-dialog{
	margin : 60px auto;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}


#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}

#footer-disc{
	color: #969696;
}
}



@media(min-width: 300px) and (max-width: 350px){

			html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

	ul.nav{

	margin-bottom: 0px;
}


	.container{
		width: 100%;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}

	.zero-fee{
	padding-top: 2%;
	padding-left: 0px;
}

	.zero-fee>img{
	height: 36px;
    margin-top: 8px;
    }

    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}


    .profile-name{
	font-size: 18px;
	text-align: center;

    }

    .invest-text{
	font-size: 11px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 13px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 18px;

	}



	.is-details{
    font-size: 12px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}


	.amount{
		font-size: 18px;
	}


	.req-reb{
		margin-top: 0px;
	}

	.scale-row {
    margin-left: 4%;
}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 10px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 8.5%;

    color: #9A9A9A;
}

	.soc-div{
		margin: 10px auto;
	}



	.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 7%;
		margin-top: 2%;
}


.soc-img{
	height: 18px;
}


.likes-count {
    color: black;
    font-size: 16px;
}

.likes {
    margin-left: 8px;
    font-size: 14px;
}

.list-inline>li {
    margin: 0px 4px;
    font-size: 12px;
}


.modal-dialog{
	margin : 60px auto;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}


#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}

}