@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.navbar{
	border-radius: 0px;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10001;

    
}

.navbar-brand>img{
	height: 24px;
}

.nav-logout-btn{
	font-size: 11px;
	background-color: #0091EA;
	border-color: #0091EA;
	padding: 8px 28px;
	border-radius: 3px;
	font-weight: lighter;
}

.nav-logout-btn:hover{
	background-color: #008BE0;
	border-color: #008BE0;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 8px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 2px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #50565b;
	    font-size: 13px;
    padding: 13px 10px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}


.profile-bar{
	background-color: white;
	padding: 25px 0px;
	font-family: gotham_medium;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.profile-content{
	    margin-left: 0%;
    padding: 0px 20px;
}

.user-content{
	margin-left:0%;
	padding: 0px;
}

.profile-image{
	height: 58px;
	border-radius: 50%;
	display: inline-block;
}


.profile-name{
font-size: 22px;
    color: #333;
    padding-top: 4px;
    margin-bottom: 0px;
}

.invest-text{
    color: #777;
    font-family: gotham_book;
    font-weight: bold;
    font-size: 14px;
}

.zero-fee{
	padding-top: 1.2%;
}

.zero-fee>img{
	height: 44px;
}

.info-container {
display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}

.highlight-text{
	font-size: 10px;
	color: #676767;
	display: block;

}

.highlight-bot-text{
	margin-top: -4px;
}


.investment-summary{
		background-color: white;
		font-family: gotham_medium;
		margin-top: 15px;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
		
}

.is-head{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-family: gotham_book;
    font-weight: bold;
    color: #333;
}

.por-head{
	margin-top: 0px !important;
}

.is-details{
text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: -10px;
    font-family: gotham_book;
    font-weight: bold;
}

.in-det-row,.goal-ach-row{
    font-size: 17px;
    color: #5D5D5D;
    text-align: center;
    padding-left: 4%;
    padding-right: 2%;
    margin-top: 14px;
    margin-bottom: 14px;
}

.port-det-row{
	padding: 0% 16%;
}

.pen-det-row{
	padding: 0% 10%;
}

.dem-row{
	padding: 0% 16%;
}

.review-row>img{
	height: 40px;
}

.social-name{
	    text-align: center;
    font-size: 14px;
    color: #696969;
    margin-top: 10px;
    font-family: gotham_book;
    font-weight: bolder;
    margin-bottom: 0px;
}

.soc-img{
	height: 30px;
}

.likes-count{
	color: black;
	font-size: 22px;

}

.likes{
	margin-left: 8px;
}

.int-topic{
	margin-bottom: 4px;
	color: #333;
	font-size: 14px;
}

.rs{
	font-family: gotham_book;
	font-weight: bold;
	display: inline-block;
	color: black;
}

.amount{
	font-family: gotham_light;
	font-size: 20px;
	color: black;
	font-weight: bolder;
	display: inline-block;
	margin-top: 0%;
}

	
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}

.scale-row{
margin-left: -7%;
}

.scale-row>span{
    padding: 0px 0%;
    font-size: 11px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 9.4%;
    color: #9A9A9A;
}

.goal-ach-row{

    margin-bottom: 26px;
}

.canvas-in-div{
    margin-top: -113px;
    margin-bottom: 70px;
    margin-left: 0px;
}

/* Custom Progress bar starts*/

progress,          /* All HTML5 progress enabled browsers */
{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


progress {
  border-radius: 2px; 
  width: 80%;
  height: 22px;
  margin-left:-11.5%;
}
progress::-webkit-progress-bar {
 background-color: #eaeaea;
  border-radius: 2px;
  color: #0091EA;
}
progress::-webkit-progress-value {
	background-image:
	   -webkit-linear-gradient(left, #0091EA, #0091EA);
   border-radius: 4px; 
}
progress::-moz-progress-bar {
  /* style rules */
}


/* Custom Progress bar ends*/



.amount-progress{
	    width: 78%;
    margin-left: -10.7%;
    height: 22px;
}

.goal-amount-div{
    margin-right: 15px;
    margin-top: -77px;
}

.donut-chart{
	display: block;
	margin:0 auto;
    margin-left: -10px;
}

.port-name{
margin:0px;
font-size: 11px;
font-family: gotham_medium;
text-align: center;
}

.port-perc{
    margin: 0px;
    font-size: 16px;
    font-family: gotham_medium;
    text-align: center;
}

.port-comp{
	background-color: white;
    font-family: gotham_medium;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
}

.port-comp-text{
color: #5F6369;
    font-family: gotham_light;
    font-weight: bold;
    margin-bottom: -4px;
    font-size: 19px;
}

.port-comp-data{
	    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.port-comp-amount{
    font-size: 19px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 6px;
}

.port-comp-amount-dis{
    font-size: 16px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 6px;
}

.port-comp-details{
	padding-left: 14%;
	margin-top: -10px;
}

.gl-perc{
margin-left: 6px;
    color: #17C3A0;
    font-size: 16px;
}

.doing-great{
	display: block;
	margin: 0 auto;
}

.footer-row{
	font-family: gotham_book;
	font-size: 17px;
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 2%;

}

.footer-row>div>a:hover{
		text-decoration: none;
}

.footer-row>div>a{
	margin-right: 5.2%;
}

.footer-row>div>a>span{
	color: #2F3640;
	font-size: 20px;
}

.footer-comp-div{
	margin-left: 8px;
    margin-top: 68px;
}

.social-media{

}

.list-inline>li{

    margin: 0px 4px;
}


/*Gradient border Styling starts*/
	
.grad-border{
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid;
	    border-image:
      linear-gradient(to top, #dcdcdc, rgba(0, 0, 0, 0)) 1 100%;
}
	
/* Gradient Border Styling ends*/

/* Index add goal starts*/



.modal-title{
    text-align: center;
    font-family: gotham_medium;
    color: #797979;
}

.modal-backdrop{
    background-color: white;
    opacity: 0.8;
}

.modal-backdrop.in {
    opacity: 0.8;
}


.modal-dialog{
    width: 400px;
    vertical-align: middle;
}

.modal-header{
    border-bottom: none;
}

.modal-content {
    /* -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); */
    box-shadow: 0 1px 15px rgba(169, 169, 169, 0.5);
    border:none;
}

.goal-amount-block{
    width: 50%;
    display: table;
    font-size: 14px;
    margin-top: 20px;
}

#close-inv-btn{
    font-size: 28px;
    color: #CCCDCF;
    
margin-right: 10px;
margin-top: -10px;
position: relative;
float: right;
margin-bottom: -20px;
}

#close-inv-btn:hover{
cursor: pointer;
color: #797979;
}

#edit-goal-link:hover{
    cursor: pointer;
}

#invest-today-text{
        font-size: 18px;
    padding-left: 22%;
    padding-right: 2%;
    display: inline-block;
    color: #505050;
}

#add-goal-text-link{
    float: right;
    margin-right: 58px;
    color: #0091EA;
    font-size: 14px;
    display: none;

}

#add-goal-text-link:hover{
    cursor: pointer;
    
}


#set-g-track{
        font-size: 18px;
text-align: center;
    display: block;
    color: #505050;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: gotham_medium;
    color: #8c8c8c;
}

#inv-worth{
       font-family: gotham_book;
    font-size: 16px;
    margin-top: -6px;
    color: #8c8c8c;
}

#set-g-btn{
    background-color: #0091EA;
    border-color: #0091EA;
    color: white;
    font-family: gotham_medium;
    margin: 20px auto;

}

#setGoalModalBody{
    margin-top: -10px;
    padding-top: 0px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}





/* Index add goal ends*/

#top-nav{
	z-index: 9999999;
}

#bottom-nav{
	z-index: 999999;
	padding-top: 8px;
}

#logout-nav{

}

#automated{
	margin-left: 8px;
}

#tax-free{
	margin-left: -14px;
}


#equity-det-row{
	    z-index: 1000000001;
    margin-bottom: 0;
    margin-bottom: -100px;
    padding-top: 60px;
}

#goal-amount{
    margin-left: -19%;
    display: block;
    margin-top: 21px;
    font-size: 19px;
    color: #505050;
}

#edit-goal{
	display: block;
    margin-top: -4px;
    color: #0091EA;
    text-decoration: underline;
    margin-left: -18px;

}

#goal-amt-inn-div{
	margin-top: -10px;
}

#goal-away-text{
	font-size: 18px;
    padding-left: 13%;
    padding-right: 2%;
    display: inline-block;
    color: #505050;
}

#invest-now-btn{
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -1%;
}

#port-btn{
	    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -1%;
}

#inv-today{
	margin-bottom: 0px;
}

#ach-away{
	    margin-top: 1%;
    margin-bottom: 2%;
}

#meet-goal-text,#meet-det-text{
	font-size: 18px;
    padding-left: 11%;
    padding-right: 2%;
    display: inline-block;
    color: #505050;
    margin-top: 18px;
    margin-bottom: 10px;

}

#meet-det-text{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 27.5%;
}

#footer-disc{
	font-size: 13px;
	font-family: gotham_book; 
	margin-top: 14px;
	color: #5F6369;
}

#footer-comp {
font-size: 13px;
    color: #b3b3b3;
    margin-left: -24px;
    margin-top: -10px;
}

#fb-icon{
	padding-left: 40%;

}

#equity-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent,#ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent,#ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent,#ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent,#ffffff); /* Standard syntax */

}

#debt-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent,#fcfcfc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent,#fcfcfc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent,#fcfcfc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent,#fcfcfc); /* Standard syntax */


}


#gold-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #f3f3f3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #f3f3f3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #f3f3f3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #f3f3f3); /* Standard syntax */
}

#hybrid-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #f7f7f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #f7f7f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #f7f7f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #f7f7f7); /* Standard syntax */
}








