

@media(min-width: 992px) and (max-width: 1200px){


}



@media(min-width: 768px) and (max-width: 992px){

		.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}



	.container{
		
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}

	li.menu-text>a {
    color: #50565b;
    font-size: 12px;
    padding: 10px 6px;
}

	.invest-text{
		font-size: 12px;
	}


	.profile-image{
		margin-top: 0px;
		height: 48px;
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}



    .profile-content{
    margin-left: 0px;
    padding: 0px;
    margin-top: 0px;
	}


    .profile-name{
	font-size: 22px;

    }














}

@media(min-width: 500px) and (max-width: 767px){

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
}




	.container{
		width: 500px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}


    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}

	.goal-amount-div{
    margin-right: 0px;
    margin-top: 0px;
    float: left !important;
    margin-left: 42.5%;
    text-align: center;
    margin-top: -14%;

}

    .profile-name{
	font-size: 18px;
	text-align: center;

    }



	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}






#logout-nav {
   margin-left: -10px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}

#nach-scroll {
    position: absolute;
    z-index: 10;
    background-color: white;
    visibility: visible;
    margin-left: 468px;
    margin-top: 71px;
    border-color: #0091EA;
    display: block;
}



	

}




@media(min-width: 350px) and (max-width: 500px){

		html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

	ul.nav{

	margin-bottom: 0px;
	margin-left: 0px;
}


	.container{
		width: 350px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}

	.zero-fee{
	padding-top: 2%;
	padding-left: 0px;
}

	.zero-fee>img{
	height: 36px;
    margin-top: 8px;
    }

    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}


    .profile-name{
	font-size: 18px;
	text-align: center;

    }

    .invest-text{
	font-size: 11px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 20px;

	}



	.is-details{
    font-size: 14px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}


	.amount{
		font-size: 20px;
	}


	.req-reb{
		margin-top: 0px;
	}

	.scale-row {
    margin-left: 4%;
}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 10px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 8.5%;

    color: #9A9A9A;
}

.soc-div{


	margin: 10px auto;
}

	.port-comp-text{
		font-size: 18px;
	}

	.port-comp-amount{
		font-size: 20px;
	}

	.port-comp-amount-dis{
		font-size: 18px;
	}
		.gl-perc{
		font-size: 18px;
	}

	.port-name{
		font-size: 10px;
	}

	.port-comp-details{
		padding-left: 8px;
		text-align: center;
	}



	.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 7%;
		margin-top: 2%;
}


.soc-img{
	height: 18px;
}


.likes-count {
    color: black;
    font-size: 16px;
}

.likes {
    margin-left: 8px;
    font-size: 14px;
}

.list-inline>li {
    margin: 0px 4px;
    font-size: 12px;
}


.modal-dialog{
	margin : 60px auto;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}



#logout-nav {
   margin-left: -10px;
}


#nach-scroll {
    position: absolute;
    z-index: 10;
    background-color: white;
    visibility: visible;
    margin-left: 318px;
    margin-top: 71px;
    border-color: #0091EA;
    display: block;
}



#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}

#footer-disc{
	color: #969696;
}
}



@media(min-width: 300px) and (max-width: 350px){

			html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
}


	.container{
		width: 300px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}

	.zero-fee{
	padding-top: 2%;
	padding-left: 0px;
}

	.zero-fee>img{
	height: 36px;
    margin-top: 8px;
    }

    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}


    .profile-name{
	font-size: 18px;
	text-align: center;

    }

    .invest-text{
	font-size: 11px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 13px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 18px;

	}



	.is-details{
    font-size: 12px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}


	.amount{
		font-size: 18px;
	}


	.req-reb{
		margin-top: 0px;
	}

	.scale-row {
    margin-left: 4%;
}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 10px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 8.5%;

    color: #9A9A9A;
}

	.soc-div{
		margin: 10px auto;
	}



	.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 7%;
		margin-top: 2%;
}


.soc-img{
	height: 18px;
}


.likes-count {
    color: black;
    font-size: 16px;
}

.likes {
    margin-left: 8px;
    font-size: 14px;
}

.list-inline>li {
    margin: 0px 4px;
    font-size: 12px;
}


.modal-dialog{
	margin : 60px auto;
}

#logout-nav{
	margin-left: -10px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}


#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}

#nach-scroll {
    position: absolute;
    z-index: 10;
    background-color: white;
    visibility: visible;
    margin-left: 268px;
    margin-top: 71px;
    border-color: #0091EA;
    display: block;
}

}