@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.navbar{
	border-radius: 0px;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10001;

    
}

.navbar-brand>img{
	height: 24px;
}

.nav-logout-btn{
	font-size: 11px;
	background-color: #0091EA;
	border-color: #0091EA;
	padding: 8px 28px;
	border-radius: 3px;
	font-weight: lighter;
}

.nav-logout-btn:hover{
	background-color: #008BE0;
	border-color: #008BE0;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 8px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 2px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #50565b;
	    font-size: 13px;
    padding: 13px 6px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}


.profile-bar{
	background-color: white;
	padding: 25px 0px;
	font-family: gotham_medium;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.profile-content{
	    margin-left: 0%;
    padding: 0px 20px;
}

.user-content{
	margin-left:0%;
	padding: 0px;
}

.profile-image{
	height: 58px;
	border-radius: 50%;
	display: inline-block;
}


.profile-name{
	font-weight:bold;
	font-size: 22px;
	color: #3e3e3e;
	padding-top: 4px;
	margin-bottom: 0px;
}

.invest-text{
	color: #50565B;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 13px;
	margin-top: -4px;
}

.info-container {
display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}

.highlight-text{
	font-size: 10px;
	color: #676767;
	display: block;

}

.highlight-bot-text{
	margin-top: -4px;
}


.investment-summary{
		background-color: white;
		font-family: gotham_medium;
		margin-top: 15px;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
		
}

	
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 0em 0;
    padding: 0;
}


.span-show{
        font-family: gotham_light;
    color: #3e3e3e;
    margin-left: 30px;
    font-weight: bold;
}

.dropdown{
    display: inline;
}

.dropdown-menu{
    margin-top: 10px;
    margin-left: 15px;
    max-width: 20px !important;
    min-width: 100px !important;
        border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px;
    
}

.dropdown-menu li{
    font-size: 11px;
}

.dropdown-menu>li>a{
display: block;
    padding: 6px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: pre-line;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dropdown-menu>li>a:hover{
    background-color: white;
    cursor: pointer;
    color: #0091EA;
}


.open>.dropdown{
    border-bottom: none;
}

.fa-chevron-down{
    color: #0091EA;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: -15px;
}

.fa{
    font-size: 12px !important;
    
    color: #0091EA;
}



thead{
        background-color: #f7f7f7;
    
}

#search-input{
    border: none;
    border-bottom: 1.5px solid gainsboro;
    padding-left: 1px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 90%;
    padding-bottom: 2px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 14px;
    font-family: gotham_book;
}

.ui-datepicker table {
    background-color: white !important;
}


.table-row>td{
    padding: 10px 2px;
    font-size: 14px !important;
    color: #424242;
    
}

.table-row{
    border-bottom: 1px solid #ececec;
}


.cleared{
    color: #18C3A1;
}

.disapp{
    color: #c31717;
}

.heading>th{
    font-size: 14px !important;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.heading{
    padding: 10px 0px !important;
}

table{
    width: 100% !important;

}

.cus-name{
    margin-bottom: 0px;
    text-align: center;
    color: black;
    font-family: gotham_medium;
    font-size: 15px;
}

.cus-phone{
    color: black;
    font-family: gotham_book;
}


.search-bar {
    background-color: white;
    padding: 40px 15px;
    font-family: gotham_medium;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 15px;
}

.from-to{
        border: none;
    border-bottom: 1.5px solid gainsboro;
    padding-left: 1px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 30%;
    padding-bottom: 2px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 14px;
    font-family: gotham_book;
}




/* Index add goal ends*/

#top-nav{
	z-index: 1;
}

#bottom-nav{
	z-index: 999999;
	padding-top: 8px;
}

#top-div{
    margin-top: 10px;
    margin-bottom: 10px;
}


#nach-btn{
    border-color: #afafaf;
    background-color: white;
    color: #797979;
    margin-left: 15px;
    width: 100px;
    border-radius: 2px;

}

#nach-table{
    overflow-x: hidden;
}

#nach-table>table>td{
    padding: 10px 0px !important;
}

#nach-scroll{
    display: none;
}

#update-nach{
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_book;
    font-weight: bold;
    margin: 15px auto;
    width: 110px;
    border-radius: 2px;
    font-size: 12px;
}

#export-text{
    margin-right: 15px;
    color: #797979;
    font-family: gotham_light;
    font-weight: bold;
}


#export-btn{
    border-color: #0091EA;
    background-color: #0091EA;
    border-radius: 2px;
    font-family: gotham_book;
}




/* Pending Details Page starts*/
    
    .details-bar{
        background-color: white;
    padding: 25px 0px;
    font-family: gotham_medium;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 15px;
    }

    .det-prof-image{
        margin-left: 15px;
        height: 52px;
    }

    .det-per-name,.det-per-mail,.det-per-phone{
        margin-bottom: 0px;
        margin-left: 10px;
    }


    .det-per-name{
        font-size: 18px;

    }

    .det-per-mail,.det-per-phone{
        font-size: 13px;
        color: #797979;
    }

    .det-per-mail{
        font-family: gotham_book;
    }

    .det-per-phone{
        font-family: gotham_light;
        font-weight: bold;
    }


    .det-heading{
        font-size: 13px;
        font-weight: bold;
    }

    .det-content{
        text-align: center;
        color: #3e3e3e;
        font-family: gotham_book;
        font-weight: bold;
    }

    .moderate-badge {
    text-align: center;
    background-color: #f2b135;
    width: 90%;
    border-radius: 2px;
    padding: 8px 4px;
    font-family: gotham_book;
    font-size: 10px;
}


.det-amount{
    font-size: 16px;
    font-weight: bold;
      word-wrap: break-word;
      font-family: gotham_medium;
}

.margin-10{
    margin-left: -10px;
}

.margin-30{
    margin-left: -31px;
}

.fund-title {
    margin-left: 65px;
    color: #3e3e3e;
    font-size: 14px;
    font-family: gotham_medium;

}

.total-title{
    margin-left: 10px;
}

.panel{
    margin-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
}

.span-fund-name{
    color: #6f6f6f;
    font-family: gotham_book;
}


.fund-amount{
    padding-bottom: 0px !important;
    color: black;
    font-family: gotham_book;
    font-weight: bold;
    padding-left: 0px !important;
    border-left: none !important;
    text-align: center;
}

.table>tbody>tr>td{
    padding-bottom: 0px !important;
}

.checkbox{
    margin: 0px !important;
}

.checkbox:hover{
    cursor: pointer;
}

.checkbox>img{
    height: 15px;
    margin-top: -2px;
    margin-left: 20px;
}

input[type = 'checkbox']{
    display: none;
}

#total-amt {
        float: right;
    font-size: 16px;
}

#wd-btn{
    margin: 20px auto;
    display: block;
    border-color: #0091EA;
    background-color: #0091EA;
    font-family: gotham_book;
    border-radius: 2px;

}

#scheduleInvModal{
    margin-top: 5%;
}


#great{
        font-family: gotham_medium;
    color: #0091EA;
}

#you-have{
        font-family: gotham_book;
    font-size: 16px;
}

#notify-done{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-color: #0091EA;
    background-color: #0091EA;
    color: white;
    margin: 15px auto 10px;
    font-size: 16px;
    font-family: gotham_book;
    border-radius: 2px;
}

.remove-order{
        font-size: 22px;
    display: block;
    margin-top: -5px;
    color: #ff3939;
}

a:hover{
    text-decoration: none;
    color: #ff3939;

}

/* Pending Details Page Ends*/












