/*@media(min-width: 1800px){
	.container{
		width: 1600px;
	}
}

@media(min-width: 1600px){
	.container{
		width: 1400px;
	}
}*/

@media(min-width: 1400px) {



	/*.navbar{
			padding-left: 35vh;
	padding-right: 35vh;
	}


	.container{
		width: 820px;
	}

	.profile-image{
		margin-top: 6px;
	}

	.zero-fee{
	padding-top: 1%;
}

	.zero-fee>img{
	height: 50px;
    }

    .profile-content{
	margin-left:-50px;
	padding: 0px;
	}

	.goal-amount-div{
    margin-right: 68px;
    margin-top: -84px;
}

    .profile-name{
	font-size: 30px;

    }

    .donut-chart {
    display: block;
    margin: 0 auto;
    margin-left: 35px;
}

    .invest-text{
	font-size: 16px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -44px;
	}

	.int-topic{
		font-size: 24px;
	}

	.amount{
		font-size: 32px;
	}

	.highlight-text{
	font-size: 16px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 28px;

	}

	.is-details{
		text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: gotham_book;
	}

	.scale-row>span {
    padding: 0px 0%;
    font-size: 11px;
    font-family: gotham_book;
    font-weight: bold;
    margin-left: 0;
    text-align: left;
    margin-right: 10.5%;
    color: #9A9A9A;
}

	.port-comp-text{
		font-size: 24px;
	}

	.port-comp-amount{
		font-size: 28px;
	}

	.port-comp-amount-dis{
    font-size: 24px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 6px;
}

	.footer-row>div>a{
	margin-right: 5.2%;
}

	.footer-row>div>a>span {
    color: #2F3640;
    font-size: 20px;
}

	#meet-det-text {
margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 28.2%;
    font-size: 26px;
	}

	#meet-goal-text{
		padding-left: 11.3%;
    font-size: 26px;
	}

	#goal-away-text{
		font-size: 26px;
		padding-left: 14%;
	}

	#footer-disc {
    font-size: 17px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #5F6369;
}

#inv-today{
	margin-bottom: 40px;
}

#footer-comp{
	font-size: 16px;
	margin-left: -12px;
}*/

}

@media(min-width: 992px) and (max-width: 1200px){

	.canvas-in-div {
    margin-top: -113px;
    margin-bottom: 70px;
    margin-left: -2px;
}
}



@media(min-width: 768px) and (max-width: 992px){

		.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}



	.container{
		
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}

	li.menu-text>a {
    color: #50565b;
    font-size: 12px;
    padding: 10px 6px;
}

	.invest-text{
		font-size: 12px;
	}


	.profile-image{
		margin-top: 0px;
		height: 48px;
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}



    .profile-content{
    margin-left: 0px;
    padding: 0px;
    margin-top: 0px;
	}


    .profile-name{
	font-size: 22px;

    }



    .invest-text{
	font-size: 12px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 17px;
	}



	.is-head{
		font-size: 22px;

	}

	.is-details{
    font-size: 18px;
	}

	.srch-result-img {
    height: 110px;
    opacity: 0.3;
    margin-bottom: 20px;
}


	.footer-row>div>a{
	margin-right: 5.2%;
}

	.footer-row>div>a>span {
    color: #2F3640;
    font-size: 13px;
}

.footer-comp-div{
	margin-left: 16px;
	margin-top: 55px;
}





	#footer-disc {
    font-size: 11px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #5F6369;
}

#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
}

#sende-btn, #savepdf-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    width: 125px;
    margin-right: 10px;
}


	.list-inline>li {
    margin: 0px 4px;
    font-size: 14px;
}

}

@media(min-width: 500px) and (max-width: 767px){

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}



	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
	}




	.container{
		width: 500px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}


    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}



    .profile-name{
	font-size: 20px;
	text-align: center;

    }

    .invest-text{
	font-size: 14px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 20px;

	}



	.is-details{
    font-size: 14px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}

		.soc-div{
		margin: 10px auto;
	}


	.req-reb{
		margin-top: 0px;
	}

	.srch-show-inp {
    border-radius: 3px;
    width: 60%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;
}


.srch-show-sm-inp{
	width: 95%;
}

	.srch-btn-div{
		text-align: center;
		width: 100%;
		margin: 20px auto;
		margin-bottom: 0px;
	}

	.search-filter-btn{
		width: 30%;
		margin: 4px auto;
	}

	.user-content{
		margin-left: 0px;
		text-align: center;
	}

	.profile-name{
		margin: 4px auto;
	}

	.srch-options{
		font-size: 18px;
	}

	.moderate-badge{
		width: 50%;
	}


.list-headings {
    font-size: 17px;
    color: #3e3e3e;
    background-color: #f7f7f7;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -11px;
    margin-bottom: -1px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: gotham_book;
}

.padding-small{
	padding-top: 24px;
	padding-bottom: 24px;

}

.active-page {
    background-color: white;
    border-top: 3px solid #0091EA;
    padding: 10.5px;
    border-top-left-radius: 1px;
}

.det-header{
	text-align: center;
	margin: 15px auto;
}

.form-helper{
	text-align: center;
}

.srch-show-inp{
	text-align: center;
	    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

.sex-radio-divs{
	text-align: center;
}

.female-radio-div span {
	margin-left: -15px;
}

.srch-result-img {
    height: 90px;
    opacity: 0.3;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fin-text {
    text-align: center;
    margin-left: 0px;
}

.btn-div{
	text-align: center;
}








#srch-per-pass{
	    width: 40%;
    margin-left: 88px;
}

#update-pass{
	margin-left: 10px;
}


#srch-per-addr, #bank1-addr, #bank2-addr {
    width: 95%;
        margin-left: auto;
    margin-right: auto;
    display: block;

}

#srch-per-addr{
	width: 60%;
}




#logout-nav {
   margin-left: -10px;
}

#rebal-icon{
	height: 36px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}


#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}


#footer-disc{
	color: #969696;
}

#search-input{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
	margin-bottom: 25px;
	font-size: 16px;
}

#srch-user-no {
    font-size: 14px;
    color: #50565B;
}

.trans-filter{
	text-align: center;
}

#export-row {
    margin: 62px 0px 60px;
}
	

}




@media(min-width: 350px) and (max-width: 500px){

		html, body {
  width: auto !important;
  overflow-x: hidden !important;
}



	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
	}




	.container{
		width: 350px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}


    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}



    .profile-name{
	font-size: 20px;
	text-align: center;

    }

    .invest-text{
	font-size: 14px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 20px;

	}



	.is-details{
    font-size: 14px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}

		.soc-div{
		margin: 10px auto;
	}


	.req-reb{
		margin-top: 0px;
	}

	.srch-show-inp {
    border-radius: 3px;
    width: 90%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;
}


.srch-show-sm-inp{
	width: 100%;
}

.tax-res{
	display: block;
	text-align: center;
}

	.srch-btn-div{
		text-align: center;
		width: 100%;
		margin: 20px auto;
		margin-bottom: 0px;
	}

	.search-filter-btn{
		width: 45%;
		margin: 4px auto;
	}

	.user-content{
		margin-left: 0px;
		text-align: center;
	}

	.profile-name{
		margin: 4px auto;
	}

	.srch-options{
		font-size: 14px;
	}

	.moderate-badge{
		width: 75%;
	}

	.port-result-det{
		font-size: 15px;
	}

	.return-det{
		font-size: 18px;
	}


.list-headings {
    font-size: 12px;
    color: #3e3e3e;
    background-color: #f7f7f7;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -11px;
    margin-bottom: -1px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: gotham_book;
}

.padding-small{
    padding-top: 20px;
    padding-bottom: 21px;
}

.active-page {
    background-color: white;
    border-top: 3px solid #0091EA;
    padding: 10.5px;
    border-top-left-radius: 1px;
}

.det-header{
	text-align: center;
	margin: 15px auto;
}

.form-helper{
	text-align: center;
}

.srch-show-inp{
	text-align: center;
	    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

.sex-radio-divs{
	text-align: center;
}

.female-radio-div span {
	margin-left: -15px;
}

.srch-file-helper{
	font-size: 13px;
}

.srch-result-img {
    height: 90px;
    opacity: 0.3;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-div{
	text-align: center;
}

.fin-text{
	text-align: center;
	margin-left: 0px;
}












#srch-per-pass{
	    width: 57%;
    margin-left: 15px;
}

#update-pass{
	margin-left: 10px;
}


#srch-per-addr, #bank1-addr, #bank2-addr {
    width: 95%;
        margin-left: auto;
    margin-right: auto;
    display: block;

}

#srch-per-addr{
	width: 90%;
}




#logout-nav {
   margin-left: -10px;
}

#rebal-icon{
	height: 36px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}


#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}


#footer-disc{
	color: #969696;
}

#search-input{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 85%;
	margin-bottom: 25px;
	font-size: 15px;
}

#srch-user-no {
    font-size: 14px;
    color: #50565B;
}

#tax-res-div {
    display: block;
    margin-top: 15px;
    margin-bottom: -30px;
}

.trans-filter{
	text-align: center;
}

#export-row {
    margin: 49px 0px 60px;
}

#sende-btn, #savepdf-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    width: 103px;
    margin-right: 10px;
    font-size: 12px;
}

}



@media(min-width: 300px) and (max-width: 350px){

					html, body {
  width: auto !important;
  overflow-x: hidden !important;
}



	ul.nav{

	margin-bottom: 0px;
	margin-left: 10px;
	}




	.container{
		width: 300px;

	}

	.navbar {
    padding-left: 2%;
    padding-right: 0;

}


	.profile-image{
		margin-top: 16px;
    height: 68px;
    /* margin-left: 0; */
    margin-left: auto;
    margin-right: auto;
    display: block;
		
	}

	.profile-bar{
		
		padding: 15px 0px;		
	}


    .profile-content{
    margin-left: 0%;
    padding: 0px;
    margin-top: 14px;
    text-align: center;
	}



    .profile-name{
	font-size: 20px;
	text-align: center;

    }

    .invest-text{
	font-size: 14px;
	}

	.info-container {
    display: block;
    margin-top: 0;
    margin-left: 33%;
    margin-top: -36px;
	}

	.int-topic{
		font-size: 14px;
		margin-top: 10px;
	}

	.highlight-text{
	font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;

	}

	.highlight-bot-text{
		margin-top: -4px;
	}


	.is-head{
		font-size: 20px;

	}



	.is-details{
    font-size: 14px;
	}

	.in-det-row{
		padding: 0px;
		padding-right: 3%;
	}

		.soc-div{
		margin: 10px auto;
	}


	.req-reb{
		margin-top: 0px;
	}

	.srch-show-inp {
    border-radius: 3px;
    width: 90%;
    height: 36px;
    border: 1px solid #c1c1c1;
    padding: 0px 6px;
}


.srch-show-sm-inp{
	width: 100%;
}

.tax-res{
	display: block;
	text-align: center;
}

	.srch-btn-div{
		text-align: center;
		width: 100%;
		margin: 20px auto;
		margin-bottom: 0px;
	}

	.search-filter-btn{
		width: 45%;
		margin: 4px auto;
	}

	.user-content{
		margin-left: 0px;
		text-align: center;
	}

	.profile-name{
		margin: 4px auto;
	}

	.srch-options{
		font-size: 14px;
	}

	.moderate-badge{
		width: 75%;
	}

	.port-result-det{
		font-size: 15px;
	}

	.return-det{
		font-size: 18px;
	}


.list-headings {
    font-size: 10px;
    color: #3e3e3e;
    background-color: #f7f7f7;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -11px;
    margin-bottom: -1px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: gotham_book;
}

.padding-small{
	padding-top: 19px;
	padding-bottom: 19px;

}

.active-page {
    background-color: white;
    border-top: 3px solid #0091EA;
    padding: 10.5px;
    border-top-left-radius: 1px;
}

.det-header{
	text-align: center;
	margin: 15px auto;
	font-size: 14px;
}

.form-helper{
	text-align: center;
	font-size: 12px;
}

.srch-show-inp{
	text-align: center;
	    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

.sex-radio-divs{
	text-align: center;
}

.female-radio-div span {
	margin-left: -15px;
}

.srch-file-helper{
	font-size: 13px;
}

.srch-result-img {
    height: 90px;
    opacity: 0.3;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.fin-text{
	text-align: center;
	margin-left: 0px;
	font-size: 16px;
}

.btn-div{
	text-align: center;
}









#srch-per-pass{
	    width: 57%;
    margin-left: 12px;
}

#update-pass{
	
    margin-left: 10px;
    font-size: 10px;
    padding: 10px;
}


#srch-per-addr, #bank1-addr, #bank2-addr {
    width: 95%;
        margin-left: auto;
    margin-right: auto;
    display: block;

}

#srch-per-addr{
	width: 90%;
}




#logout-nav {
   margin-left: -10px;
}

#rebal-icon{
	height: 36px;
}

#admin-email{
	text-align: center;
	font-size: 14px;
}


#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}



#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}


#footer-disc{
	color: #969696;
}

#search-input{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 85%;
	margin-bottom: 25px;
	font-size: 13px;
}

#srch-user-no {
    font-size: 14px;
    color: #50565B;
}

#tax-res-div {
    display: block;
    margin-top: 15px;
    margin-bottom: -30px;
}

.trans-filter{
	text-align: center;
}

#export-row {
    margin: 49px 0px 60px;
}

#sende-btn, #savepdf-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    width: 103px;
    margin-right: 0;
    font-size: 12px;
}

}