@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.navbar{
	border-radius: 0px;
	padding-left: 12%;
	padding-right: 12%;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10001;

    
}

.navbar-brand>img{
	height: 24px;
}

.nav-logout-btn{
	font-size: 11px;
	background-color: #0091EA;
	border-color: #0091EA;
	padding: 8px 28px;
	border-radius: 3px;
	font-weight: lighter;
}

.nav-logout-btn:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 8px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 5px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #50565b;
	font-size: 14px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	padding-right: 0px;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}

.profile-bar{
	background-color: white;
	padding: 22px 0px;
	font-family: gotham_medium;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.fs-content{
	margin-left:3%;
	padding: 0px;
}

.profile-name{
	font-weight:bold;
	font-size: 22px;
	color: #3e3e3e;
	padding-top: 4px;
	margin-bottom: 0px;
}

.invest-text{
	color: #50565B;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 13px;
	margin-top: -4px;
}

.zero-fee{
	padding-top: 1.2%;
}

.zero-fee>img{
	height: 44px;
}

.info-container {
display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}

.highlight-text{
	font-size: 10px;
	color: #676767;
	display: block;

}

.highlight-bot-text{
	margin-top: -4px;
}

.investment-summary{
		background-color: white;
		font-family: gotham_medium;
		margin-top: 40px;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	
}

.verify-header{
    color: #999;
    font-size: 12px;
    margin-top: -10px;
    font-family: gotham_book;}


.verify-sub{
	color: #9e9e9e;
	font-size: 12px;
	margin-top: -10px;
}

.card-header{
	color: #3e3e3e;
	font-size: 13px;
	margin-bottom: 0px;
}

.card-sub{
	font-size: 12px;
	font-family: gotham_light;
	color: #9e9e9e;
	font-weight: bold;

}


.card-text-div{
	margin: 25px auto 10px;
}

.padding-ten{
	padding: 10px;
}

.agree-div{
	display: inline;
	margin-right: 15px;
}

.checkbox:hover{
	cursor: pointer;
}

.get-start-div{
	margin-bottom: 50px;
}

.checkbox>img{
	height: 18px;
}

.check-agree{
	margin-top: 20px;
}




#get-started-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    font-family: gotham_medium;
    border-radius: 2px;
    margin: 10px auto 20px;

}


#tax-free{
	margin-left: -14px;
}

#ckyc-header-div{
	padding: 40px 32% 40px;

}

#pancard-card,#poa-card,#sign-card{
	border-radius: 4px;
	background-color: white;
	box-shadow: 0px 0px 0px 2px rgba(189,189,189,0.2);
	padding: 10px;
	margin: 10px 0 0 0;

}

#pan-card-img,#poa-card-img,#sign-card-img{
	height: 38px;
	margin-top: 15px;
}

#ckyc-content-div{
	padding: 0% 8%;
}

#ckyc-selfie-div{
	padding: 0px 230px;
}


#agree-to{
	color: #9e9e9e;
	font-family: gotham_light;
	font-weight: bold;
}

#tandc{
	color: #0091EA;
	font-family: gotham_book;
	font-weight: bolder;
}

#tandc:hover{
	text-decoration: none;
}

#tandc-link:hover{
cursor: pointer;
text-decoration: none;	
}

#selfie{

}

#selfie-div{
	border : 1px dotted #0091EA;
}

input[type="checkbox"]{
	visibility: hidden;
}


