.profile-name {
    font-size: 22px;
    color: #333;
    padding-top: 4px;
    margin-bottom: 0px;
    font-weight: normal;
}

.invest-text {
    color: #777;
    font-family: gotham_book;
    font-weight: bold;
    font-size: 14px;
}

#search-input {
    border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 90%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 14px;
    font-family: gotham_book;
    font-weight: bold;
}

.last-t {
    font-family: gotham_book;
    font-weight: bold;
    font-size: 16px;
}

#search-email {
    margin-bottom: 0px;
    margin-top: -5px;
}

#srch-user-no{
    font-size: 14px;
    color: #333;
}

.srch-options {
    color: #333;
    text-align: center;
    font-size: 14px;
}

.port-result-det {
    text-align: center;
    margin-top: 20px;
    color: #50565B;
    font-family: gotham_book;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

.list-headings {
    font-size: 16px;
    color: #333;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: -11px;
    margin-bottom: -1px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: gotham_book;
    font-weight: bold;
}

.profile-image {
    height: 55px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 0px;
}