.footer-row{
	font-family: gotham_medium;
	font-size: 15px;
	
	margin-top: 2%;
	margin-bottom: 2%;

}

.footer-row>div>a:hover{
		text-decoration: none;
}

.footer-row>div>a{
	margin-right: 5.2%;
}

.footer-row>div>a>span{
	color: #2F3640;
	font-size: 20px;
}

.footer-comp-div{
	margin-left: 8px;
    margin-top: 68px;
}

.social-media{

}

.list-inline>li{

	color: #2F363F;
    margin: 0px 4px;
    font-family: gotham_book;
    font-weight: bold;
    font-size: 14px;
}
#footer-disc{
	font-size: 13px;
	font-family: gotham_book; 
	margin-top: 14px;
	color: #5F6369;
}

#footer-comp {
font-size: 13px;
    color: #b3b3b3;
    margin-left: -24px;
    margin-top: -10px;
}

#fb-icon{
	padding-left: 40%;

}

@media(min-width: 768px) and (max-width: 992px){
		.footer-row>div>a{
	margin-right: 5.2%;
}

	.footer-row>div>a>span {
    color: #2F3640;
    font-size: 13px;
}

.footer-comp-div{
	margin-left: 16px;
	
	}

		#footer-disc {
    font-size: 11px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #5F6369;
}

#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
}
	.list-inline>li {
    margin: 0px 4px;
    font-size: 14px;
}

}

@media(min-width: 500px) and (max-width: 767px){
		.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 7%;
		margin-top: 2%;
}


#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}

}

@media(min-width: 350px) and (max-width: 500px){
	.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 3%;
		margin-top: 2%;
}


	#footer-disc {
    font-size: 11px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #5F6369;
}

#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}
#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}

}


@media(min-width: 300px) and (max-width: 350px){

		.footer-row{
		margin-left: 1%;
	}



	.footer-row>div>a>span {
    margin-right: 2%;
    color: #2F3640;
    font-size: 14px;
    text-align: left;

}

.footer-comp-div{
	margin-left: 12px;
	margin-top: 55px;
}

.social-media{
		margin-left: 3%;
		margin-top: 2%;
}

	#footer-disc {
    font-size: 11px;
    font-family: gotham_book;
    margin-top: 14px;
    color: #5F6369;
}

#footer-comp{
	    font-size: 13px;
    color: #b3b3b3;
    margin-top: 0;
    text-align: center;
    margin-left: -30%;
    margin-top: -4%;
}
#footer-links{
	text-align: center;
}

#fb-icon{
	padding-left: 0px;
}
}