@font-face{
  font-family: gotham_medium;
  src : url(GothamRounded-Medium.otf);
}

@font-face{
  font-family: gotham_book;
  src : url(GothamRounded-Book.otf);
}

@font-face{
  font-family: gotham_light;
  src : url(GothamRounded-Light.otf);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-r-zero{
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.navbar{
	border-radius: 0px;
	padding-left: 12%;
	padding-right: 12%;
	background-color: white;
	    padding-top: 4px;
    padding-bottom: 0px;
    font-family: gotham_medium;
    margin-bottom: 0px;
    box-shadow: 0 5px 5px -5px #cccccc;
    z-index: 10001;

    
}

.navbar-brand>img{
	height: 24px;
}

.nav-logout-btn{
	font-size: 11px;
	background-color: #0091EA;
	border-color: #0091EA;
	padding: 8px 28px;
	border-radius: 3px;
	font-weight: lighter;
}

.nav-logout-btn:hover{
	background-color: #008BE0;
	border-color: #008BE0;
}

.navbar-right{
	margin-right: 0%;

}

.navbar-btn{
padding-top: 8px;
}

.navbar-toggle{
	border-color: none;
}

.container{
    width: 850px;
}

.icon-bar{
	background-color: gray;
}

ul.nav{
	margin-top: 5px;
	margin-bottom: -1px;
}

li.menu-text>a{
	color: #50565b;
	font-size: 16px;
}

li.menu-text:hover{
	background-color: none;
}

li.menu-text-active{
	border-bottom: 3px solid #0091EA;
}

body{
	background-color: #f7f7f7;
	padding-right: 0px;
	
}

.content{
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
}

.profile-bar{
	background-color: white;
	padding: 22px 0px;
	font-family: gotham_medium;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
	box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.fs-content{
	margin-left:3%;
	padding: 0px;
}

.profile-name{
	font-weight:bold;
	font-size: 22px;
	color: #3e3e3e;
	padding-top: 4px;
	margin-bottom: 0px;
}

.invest-text{
	color: #50565B;
	font-family: gotham_book;
	font-weight: bold;
	font-size: 13px;
	margin-top: -4px;
}

.zero-fee{
	padding-top: 1.2%;
}

.zero-fee>img{
	height: 44px;
}

.info-container {
display: block;
    margin-top: 0;
    margin-left: 41%;
    margin-top: -34px;
}

.highlight-text{
	font-size: 10px;
	color: #676767;
	display: block;

}

.highlight-bot-text{
	margin-top: -4px;
}

.investment-summary{
		background-color: white;
		font-family: gotham_medium;
		margin-top: 40px;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(189,189,189,0.3);
		
}

.is-head{
		text-align: center;
		font-size: 22px;
		margin-top: 30px;
}

.is-details{
	text-align: center;
	font-size: 16px;
		color: #696969;
		margin-top: -12px;
		font-family: gotham_book;
		font-weight: bolder;
}

.one{
	margin-top: -20px;
}

.inv-amount-block{
	width: 30%;
	margin-top: 20px;

}

.center-amount-block{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.invest-plan-text{
	font-family: gotham_medium;
	font-size: 16px;
	text-align: center;
	color: #3e3e3e;
}

.invest-plan-date{
	font-family: gotham_medium;
	font-size: 16px;
	text-align: center;
	color: #3e3e3e;
	margin-top: 20px;

}

.i-icon{
	margin-left: 10px;
	height: 22px;
	margin-top: -6px;
	cursor: pointer;
}

.invest-plan-radio{
	
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

span.radio{
	cursor: pointer;
	margin-left: 125px;
}

span.radio>img{
	height: 30px;
}

.custom-port-div,.conser-port-div,.mod-port-div,.aggr-port-div{
background-color: white;
    margin: 0px -10px;
    width: 18%;
    	height: 206px;
	background-repeat: no-repeat;
	width: 174px;
	color: #797979;
	font-family: gotham_medium;
	font-size: 18px;
	text-align: center;
}

.mod-port-div>img,.conser-port-div>img,.custom-port-div>img,.aggr-port-div>img{
	height: 158px;
}



.custom-port-div{
	

}

.port-text{
	    margin-top: 10px;
    position: relative;
    z-index: 10;
    margin-bottom: -35px;
    font-size: 16px;
}

.portfolio-type-div{
	padding: 10px 35px 10px 118px;
    margin: 20px 0px 40px 0px;
}

.portfolio-text-div{

}

.port-below-text{
	text-align: center;
	    font-size: 12px;
}

span.port-radio{
	margin-left: 12px;
	cursor: pointer;
}

span.port-radio>img{
	height: 36px;
}

.port-name{
margin:0px;
font-size: 11px;
font-family: gotham_medium;
text-align: center;
}

.port-perc{
    margin: 0px;
    font-size: 16px;
    font-family: gotham_medium;
    text-align: center;
}

.port-comp-data{
	border-bottom: 2px solid #dadada;
}

.canvas-in-div{
       margin-top: -115px;
    margin-bottom: 70px;
    margin-left: 0px;
}

.donut-chart{
	display: block;
	margin:0 auto;
    margin-left: -10px;
}

/*Gradient border Styling starts*/
	
.grad-border{
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid;
	    border-image:
      linear-gradient(to top, #dcdcdc, rgba(0, 0, 0, 0)) 1 100%;
}
	
/* Gradient Border Styling ends*/

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}

.table-name{

}

.show-less{
	color: #0091EA;
	font-size: 16px;
	margin-bottom: 0px;
	text-align: right;
	padding-right: 50px;
}

.table{
	margin-bottom: 0px;
}

.table-head{
	padding: 10px 0px;
	background-color: #EEEEEE;
	    /*border-bottom: 2px solid #dadada;*/
}

.modal-table-head{
	background-color: #f7f7f7;

}

.modal-table-head>th{
	border-bottom: none;
}

.fund-name,.modal-fund-name{
	width: 78%;
	border-right: 1px solid #dadada;
	font-size: 17px;
}

.modal-fund-name{
	border-right: none;
}

.fund-amount{
	text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.fund-amount-inner,.span-fund-amount-inner{
	margin-top: 0px;
	font-family: gotham_medium;
}

.span-fund-amount-inner{
	    text-align: left;
    font-size: 14px;

}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px 0px 0px 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.save-now-btn,
.save-now-btn:hover,
.save-now-btn:active,
.save-now-btn:visited,
.save-now-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.save-now-btn{
		background-color: #0091EA;
	border-color: #0091EA;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;
	font-family: gotham_book;
	font-weight: bold;
	    padding: 6px 24px;
	    border-radius: 2px;

}

.save-now-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}

.inv-now-btn,
.inv-now-btn:hover,
.inv-now-btn:active,
.inv-now-btn:visited,
.inv-now-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.inv-now-btn{
		background-color: #0091EA;
	border-color: #0091EA;
	margin-left: 20px;
	margin-bottom: 5px;
}

.inv-now-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}


.yes-p-btn,
.yes-p-btn:hover,
.yes-p-btn:active,
.yes-p-btn:visited,
.yes-p-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.yes-p-btn{
		background-color: #0091EA;
	border-color: #0091EA;
	margin-left: auto;
	margin-bottom: 5px;
	margin-right: auto;
	display: block;
	width: 40%;
	    margin-top: 30px;

}

.yes-p-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}


.no-p-btn,
.no-p-btn:hover,
.no-p-btn:active,
.no-p-btn:visited,
.no-p-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}

.no-p-btn{
		background-color: #0091EA;
	border-color: #0091EA;
	margin-left: auto;
	margin-bottom: 30px;
	margin-right: auto;
	display: block;
	margin-top: -10px;

}

.no-p-btn:active:hover{
	background-color: #0091EA;
	border-color: #0091EA;
}

.yes-p-btn,.no-p-btn{
	font-family: gotham_medium;
	width: 40%;
	border-radius: 2px;

}

span.checkbox{
	    margin-left: 0px;
    margin-right: 10px;
    margin-top: -10px;
}

span.checkbox:hover{
	cursor: pointer;
}

.currently-inv{

    font-size: 14px;
    color: #797979;
}

.span-fund-name,.modal-span-fund-name{
	color: #6f6f6f;
	font-family: gotham_medium;
}

.modal-span-fund-name{
	font-size: 14px;
	font-family: gotham_book;
	color: black;
}



.curr-span-amt{
	color: black;
}

.checkbox-div{

}

.modal-fund-name-div{
padding: 0px;
}

.modal-dialog{
	margin-top: 10vh;
}


/*.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/





.modal-title{
	text-align: center;
	font-family: gotham_medium;
	color: #797979;
}

.modal-backdrop{
	background-color: white;
	opacity: 0.8;
}

.modal-backdrop.in {
    opacity: 0.8;
}


.modal-dialog{
	width: 700px;
	vertical-align: middle;
}

.modal-header{
	border-bottom: none;
}

.modal-content {
    /* -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); */
    box-shadow: 0 1px 15px rgba(169, 169, 169, 0.5);
    border:none;
}

.inv-modal-p{
	text-align: center;
}

.inv-info-text,.inv-date,.col{
	    display: inline-block;
    padding: 0px 30px;
    font-family: gotham_book;
    font-size: 16px;
    margin: 6px 0px;
}

.inv-date{
	font-weight: bolder;
}

.inv-details-row{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 40px;
}

.col{

    padding : 0px 10px;
}

.cancel-inv{
	font-family: gotham_medium;
	font-size: 16px;
	margin-left: 20px;
}

.cancel-inv>img{
	height: 20px;
}

.cancel-inv-link:hover{
   text-decoration: none;
   cursor: pointer;
}

.amount-progress{
width: 74%;
    margin-left: auto;
    height: 22px;
    margin-right: auto;
    display: inline-block;
}

.cancel-inv-body{
		margin-top: -20px;
}

.modal-table-head{
	background-color: #f7f7f7;
}

.modal-table-head>th{
	background-color: #f7f7f7;
	border-bottom: none;
}

.inv-summary-dialog{
	width: 650px;
}

.inv-summary-body{
	margin-top: -20px;
}

.checkbox>img{
	height: 18px;
}



/* WITHDRAW FUNDS PAGE STARTS*/

.withdraw-info-text{
	font-size: 20px;
	color: #6b6b6b;
}

.withdraw-ul{
	    font-size: 20px;
    padding: 0px 75px;
    margin: 0px 0px 50px;
    color: #6b6b6b;
}

.withdraw-ul li{
	margin: 20px 0px;
}

.withdraw-radio-div{
	margin-left: 40px;
}

.wd-radio>img{
	height: 30px;
	margin-right: 10px;
}

.wd-radio:hover{
	cursor: pointer;
	}

.wd-amount-block{
    width: 25%;
    margin-top: -20px;
    margin-left: 85px;
    margin-bottom: 20px;
}

.wd-text{
	font-size: 20px;
	color: #6b6b6b;
	    display: inline-block;
    margin-bottom: 30px;
}

#w-s-text{
	    padding: 30px 40px 0px;
}

#wd-btn{
	display: block;
	margin: 20px auto;
	width: 140px;
	border-radius: 2px;
	color: white;
	background-color: #0091EA;
	border-color: #0091EA;
}



/* WITHDRAW FUNDS PAGE ENDS*/








#tax-free{
	margin-left: -14px;
}

#inv-rs,#inv-amount{
	border-radius: 2px;
}
#automated {
    margin-left: 8px;
}

#min-val{
	text-align: center;
	font-family: gotham_book;
	color: #797979;
	font-size: 16px;
}

#inv-amount{
	font-family: gotham_book;
}

#inv-amount:focus{
	outline: none;
	box-shadow: none;
}

#inv-rs{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#recom-spl{
	text-align: center;
	font-family: gotham_book;
	color: #797979;
	font-size: 19px;
	padding: 0px 150px;
}

#equity-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent,#ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent,#ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent,#ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent,#ffffff); /* Standard syntax */

}

#debt-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent,#fcfcfc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent,#fcfcfc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent,#fcfcfc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent,#fcfcfc); /* Standard syntax */


}


#gold-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #f3f3f3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #f3f3f3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #f3f3f3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #f3f3f3); /* Standard syntax */
}

#hybrid-div{

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #f7f7f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #f7f7f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #f7f7f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #f7f7f7); /* Standard syntax */
}

#equity-text,#modal-equity-text,#modal-elss-text{
	    margin-left: 40px;
    font-size: 18px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-top: 2px;
    padding-bottom: 4px;
}



#modal-equity-text,#modal-elss-text{
    font-size: 16px;
    /* color: #797979; */
    margin-bottom: 0;
    padding-bottom: 8px;
    font-family: gotham_medium;
    padding-top: 12px;
    padding-left: 60px;
}

#eq-show-less,#gold-show-less,#elss-show-less,#debt-show-less,#eq-show-more{
	color: #0091EA;
	font-size: 16px;
	margin-bottom: 0px;
	text-align: right;
	padding-right: 14px;
	cursor: pointer;
	padding-top: 4px;
}

#total-amt-inv{
	font-size: 20px;
	color: #0091EA;
	padding-left: 40px;
	padding-top: 4px;
}

#total-amt{
	    text-align: center;
    font-size: 20px;
}

#built-port{
	font-size: 20px;
	margin: 20px 0px;
	display: inline-block;
	padding-left: 220px;

}

#sche-sel-date,#month-start-date,#month-end-date,#one-sel-date{
	    border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 37%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 14px;
    font-family: gotham_medium;
   
    
}

#sche-sel-date:hover{
cursor: pointer;
text-decoration: none;
}

#month-start-date:hover{
cursor: pointer;
text-decoration: none;
}

#month-end-date:hover{
cursor: pointer;
text-decoration: none;
}

#one-sel-date:hover{
cursor: pointer;
text-decoration: none;
}


#cancel-inv-txt{
	margin-left: 10px;
	font-size: 14px;
}

#modal-disc{
	font-family: gotham_light;
	color: #797979;
	font-size: 13px;
	margin-left: 20px;
	margin-top: 20px;
	 padding: 0px 50px 0px 0px;
	 font-weight: bold;

}

#no-inv-text{
	    font-family: gotham_medium;
    font-size: 20px;
}


#as-can-inv{
	font-family: gotham_medium;
	font-size: 30px;
	padding: 0px 80px;
	color: black;
	text-align: center;

}

#perc-goal-rem{
	text-align: center;
	color: #797979;
	font-size: 24px;
	font-family: gotham_medium;
	padding: 0px 80px;
	margin-bottom: 40px;
}

#progress-div{
	margin-left: 94px;
}

#prog-zero{
	    margin: 0px 20px 0px 0px;
    display: inline-block;
    font-family: gotham_medium;
    color: #797979;
}

#prog-no{
	    margin: 0px 0px 0px 20px;
    display: inline-block;
    font-family: gotham_medium;
    color: #797979;
}

#inv-summary{
	font-size: 20px;
	color: black;
	font-family: gotham_medium;
	padding-left: 45px;
margin-top: 0px;
    margin-bottom: 15px;

}


#span-fund-amount-total{
		    padding-top: 15px;
    font-size: 14px;
    font-family: gotham_medium;
}



input[type=radio]{
	visibility: hidden;
}

input[type=checkbox]{
	visibility: hidden;
}


/* Custom Progress bar starts*/

progress,          /* All HTML5 progress enabled browsers */
{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


progress {
  border-radius: 2px; 
  width: 80%;
  height: 22px;
  margin-left:0%;
}
progress::-webkit-progress-bar {
 background-color: #eaeaea;
  border-radius: 2px;
  color: #18C3A1;
}
progress::-webkit-progress-value {
	background-image:
	   -webkit-linear-gradient(left, #18C3A1, #18C3A1);
   border-radius: 4px; 
}
progress::-moz-progress-bar {
  /* style rules */
}


/* Custom Progress bar ends*/



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.span-fund-name:hover{
	color: #0091EA;
	cursor: pointer;
}

.non_ver_pan{
	margin-top: 15px;
	font-size: 16px;
}

#begin_inv{
	font-size: 16px;	
}






