@media(min-width: 992px) and (max-width: 1200px){




}

@media(min-width: 768px) and (max-width: 992px){

		.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}



	.container{
		
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}

	.info-container {
	    display: block;
	    margin-top: 0;
	    margin-left: 33%;
	    margin-top: -36px;
	}

	.highlight-text {
    font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;
	}

	.highlight-bot-text {
    margin-top: -4px;
	}

	.zero-fee {
    padding-top: 0%;
    padding-left: 0px;
}
	.zero-fee>img {
    height: 36px;
    margin-top: 8px;
}

.one {
    margin-top: -15px;
    height: 30px;
}

.is-head {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.invest-plan-text {
    font-size: 14px;

}

.plan-date{
	font-size: 15px;
}

span.radio {
    cursor: pointer;
    margin-left: 115px;
}

.i-icon{
	height: 19px;
}

.portfolio-type-div {
    padding: 10px 35px 10px 75px;
    margin: 20px 0px 40px 0px;
}

span.port-radio {
    margin-left: 5px;
    cursor: pointer;
}

.canvas-in-div {
    margin-top: -115px;
    margin-bottom: 70px;
    margin-left: 10px;
}

.inv-details-row {
padding-left: 15px;
}

.save-now-btn{
    margin-bottom: 20px;
}

.fund-name{
	font-size: 15px;
}

.fund-amount{
	padding-top: 10px;
	font-size: 15px;
}


/*Withdraw page starts*/
    
    .wd-text{
        font-size: 18px;
    }

    .withdraw-ul{
        font-size: 18px;
    }
/*Withdraw page ends*/

#tax-free{
	margin-left: -14px;
}

#recom-spl {
    font-size: 17px;
    
}

#total-amt-inv{
	font-size: 18px;
	margin-top: 4px;
}

#built-port{

	padding-left: 40px;

}

#invDetModDialog{
        width: 500px;
}

#invDetailsModalBody{
    margin-top: -20px;
}


}


@media(min-width: 500px) and (max-width: 767px){

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

			.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}



	.container{
		
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.fs-content{
		text-align: center;
	}

	.inv-amount-block{
		width: 60%;
	}

	.info-container {
	    display: block;
	    margin-top: 0;
	    margin-left: 33%;
	    margin-top: -36px;
	}

	.highlight-text {
    font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;
	}

	.highlight-bot-text {
    margin-top: -4px;
	}

	.zero-fee {
    padding-top: 0%;
    padding-left: 0px;
}
	.zero-fee>img {
    height: 36px;
    margin-top: 8px;
}

.one {
    margin-top: -15px;
    height: 30px;
    z-index: 10;
    position: relative;
}

.is-head {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.invest-plan-date {

    margin-top: 10px;
}

.invest-plan-text {
    font-size: 20px;
    margin-bottom: 15px;

}

.inv-type-div{
    margin: 20px 0px;
}

.plan-date{
	font-size: 13px;
}

span.radio {
    cursor: pointer;
    margin-left: 237px;
}

.i-icon{
	height: 18px;
	margin-top: -3px;
}

.portfolio-type-div {
    padding: 10px 35px 0px 30px;
    margin: 30px 0px 0px 0px;
}

span.port-radio {
    margin-left: 0px;
    cursor: pointer;
}

.donut-chart{
	margin-left: 134px;
}

.fund-name{
	font-size: 15px;
}

.fund-amount{
	padding-top: 10px;
	font-size: 15px;
}

.mod-port-div>img, .conser-port-div>img, .custom-port-div>img, .aggr-port-div>img {
    height: 200px;
}

.custom-port-div, .conser-port-div, .mod-port-div, .aggr-port-div {
    background-color: white;
    /* margin: 0px -10px; */
    width: 18%;
    height: 40px;
    background-repeat: no-repeat;
    width: 174px;
    color: #797979;
    font-family: gotham_medium;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 60px;
}

.port-text {
    margin-top: 10px;
    position: relative;
    z-index: 10;
    margin-bottom: -66px;
    font-size: 20px;
}

.port-below-text {
display: none;
}

.span-fund-name {
    color: #6f6f6f;
    font-size: 14px;
}

span.port-radio>img {
    height: 30px;
}

.fund-amount-inner {
    
    font-size: 14px;
}

.currently-inv {

    font-size: 14px;
    color: #797979;
}

span.checkbox {
    margin-left: 11px;
    /* margin-right: 10px; */
    margin-top: 1px;
}

.checkbox-div{
    margin-top: -24px;
}

.fund-name-div{
	    margin-bottom: 10px;
}

.checkbox>img{
	height: 14px;
}

.inv-now-btn{
	font-size: 11px;
}

.save-now-btn{
    margin-bottom: 20px;
}

.modal-dialog {
    width: 480px;
    margin: 10vh auto;
}


.yes-p-btn, .no-p-btn {
    font-family: gotham_medium;
    width: 55%;
    border-radius: 2px;
    font-size: 14px;
}


/*Withdraw page starts*/
    
    .wd-text{
        font-size: 18px;
        text-align: center;
        display: block;
    }

    .withdraw-ul{
        font-size: 18px;
        text-align: center;
    }

    .withdraw-radio-div{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .wd-amount-block {
    width: 40%;
    margin-top: -20px;
    margin-left: auto;
    margin-bottom: 20px;
    display: table;
    margin-right: auto;
}

.withdraw-info{
    margin-top: 70px;
}

.withdraw-info-text{
    text-align: center;
}

#withdraw-info{
    margin-top: 60px;
}
/*Withdraw page ends*/


#progress-div {
    margin-left: 60px;
}

#as-can-inv{
    font-size: 18px;
}

#perc-goal-rem {

    font-size: 17px;
    font-family: gotham_medium;

}

#prog-no,#prog-zero {
    margin: 0px 0px 0px 10px;
}

#prog-zero {
    margin: 0px 10px 0px 0px;
}

#prog-no {
    margin: 0px 0px 0px 10px;
}



#tax-free{
	margin-left: -14px;
}

#recom-spl {
        font-size: 14px;
    padding: 0px 80px;

    
}

#total-amt-inv{
	font-size: 14px;
	margin-top: 4px;
}

#total-amt {
   text-align: center;
    font-size: 12px;
    padding-top: 12px;

}

#built-port{

	    padding-left: 70px;
    font-size: 16px;

}

#equity-text {
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 6px;
}

#eq-show-less, #gold-show-less, #elss-show-less, #debt-show-less, #eq-show-more {

    font-size: 14px;

}

#total-amt-inv {
    font-size: 14px;
    color: #0091EA;
    padding-left: 20px;
}

#invDetModDialog{
        width: 500px;
}

#invDetailsModalBody{
    margin-top: -20px;
}

#sche-sel-date,#month-start-date,#month-end-date,#one-sel-date{
width: 25%;
font-size: 20px;
   
    
}

#custom-image,#conser-image,#moder-image,#aggr-image{
    display: none;
}

#to{
    font-size: 20px;
    margin: 0px 14px;
}


	

}

@media(min-width: 350px) and (max-width: 500px){

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

			.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}

.xs-pad-zero{
    padding: 0px
}



	.container{
		
		width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	.fs-content{
		text-align: center;
	}

	.inv-amount-block{
		width: 84%;
	}

	.info-container {
	    display: block;
	    margin-top: 0;
	    margin-left: 33%;
	    margin-top: -36px;
	}

	.highlight-text {
    font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;
	}

	.highlight-bot-text {
    margin-top: -4px;
	}

	.zero-fee {
    padding-top: 0%;
    padding-left: 0px;
}
	.zero-fee>img {
    height: 36px;
    margin-top: 8px;
}

.one {
    margin-top: -15px;
    height: 30px;
    z-index: 10;
    position: relative;
}

.is-head {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.invest-plan-date {

    margin-top: 10px;
}

.invest-plan-text {
    font-size: 14px;

}

.inv-details-row{
    padding: 0px;
}

.plan-date{
	font-size: 12px;
}

span.radio {
    cursor: pointer;
    margin-left: 160px;
}

span.radio>img {
    height: 26px;
}



.portfolio-type-div {
    padding: 10px 35px 10px 30px;
    margin: 20px 0px 40px 0px;
}

span.port-radio {
    margin-left: 5px;
    cursor: pointer;
}

.donut-chart{
	margin-left: 60px;
}

.fund-name{
	font-size: 15px;
}

.fund-amount{
	padding-top: 10px;
	font-size: 15px;
}

.mod-port-div>img, .conser-port-div>img, .custom-port-div>img, .aggr-port-div>img {
    height: 200px;
}

.custom-port-div, .conser-port-div, .mod-port-div, .aggr-port-div {
    background-color: white;
    /* margin: 0px -10px; */
    width: 18%;
    height: 206px;
    background-repeat: no-repeat;
    width: 174px;
    color: #797979;
    font-family: gotham_medium;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 60px;
}

.port-text {
    margin-top: 10px;
    position: relative;
    z-index: 10;
    margin-bottom: -32px;
    font-size: 14px;
}

.port-below-text {
    text-align: center;
    font-size: 11px;
}

.span-fund-name {
    color: #6f6f6f;
    font-size: 12px;
}

span.port-radio>img {
    height: 30px;
}

.fund-amount-inner {
    
    font-size: 12px;
}

.currently-inv {

    font-size: 12px;
    color: #797979;
}


span.checkbox {
    margin-left: 11px;
    /* margin-right: 10px; */
    margin-top: 1px;
}

.checkbox-div{
	margin-top: -24px;
}
.checkbox>img{
	height: 14px;
}

.inv-now-btn{
	font-size: 9px;
}

.save-now-btn{
    margin-bottom: 20px;
}

.modal-dialog {
    width: 300px;
    margin: 10vh auto;
}

.yes-p-btn, .no-p-btn {
    font-family: gotham_medium;
    width: 90%;
    border-radius: 2px;
    font-size: 12px;
}

.amount-progress{
    width: 65%;
}




.i-icon {
    height: 18px;
    margin-top: 0px;
    margin-left: 6px;
}


.invest-plan-text {
    font-size: 18px;
}


.portfolio-type-div {
    padding: 10px 35px 0px 30px;
    margin: 50px 0px -20px 0px;
}


.custom-port-div, .conser-port-div, .mod-port-div, .aggr-port-div {
    height: 40px;
}

.port-below-text{
    display: none;
}

.port-text{
    font-size: 18px;
    margin-bottom: -65px;
}

/*Withdraw page starts*/
    
    .wd-text{
        font-size: 16px;
        text-align: center;
        display: block;
    }

    .withdraw-ul{
        font-size: 16px;
        text-align: center;
    }

    .withdraw-radio-div{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .wd-amount-block {
    width: 50%;
    margin-top: -20px;
    margin-left: auto;
    margin-bottom: 20px;
    display: table;
    margin-right: auto;
}

.withdraw-info{
    margin-top: 70px;
}

.withdraw-info-text{
    font-size: 16px;
    text-align: center;
}

#withdraw-info{
    margin-top: 60px;
}

#wd-btn{
    width: 110px;
    font-size: 12px;
}
/*Withdraw page ends*/




#progress-div {
    margin-left: 10px;
}

#as-can-inv{
    font-size: 18px;
    padding: 0px;
}

#perc-goal-rem {

    font-size: 17px;
    font-family: gotham_medium;
    padding: 0px;

}

#prog-no,#prog-zero {
    margin: 0px 0px 0px 10px;
    font-size: 12px;
}

#prog-zero {
    margin: 0px 10px 0px 0px;
}

#prog-no {
    margin: 0px 0px 0px 10px;
}


#tax-free{
	margin-left: -14px;
}

#recom-spl {
        font-size: 14px;
    padding: 0px 40px;

    
}

#total-amt-inv{
	font-size: 14px;
	margin-top: 4px;
}

#total-amt {
    text-align: center;
    font-size: 11px;
}

#built-port{

	    padding-left: 10px;
    font-size: 16px;

}

#equity-text {

    font-size: 11px;
    padding-left: 9px;
    padding-bottom: 6px;
}

#eq-show-less, #gold-show-less, #elss-show-less, #debt-show-less, #eq-show-more {

    font-size: 11px;
    padding-right: 6px;


}




#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date {
    font-size: 17px;
    width: 32%;
}

#custom-image,#conser-image,#moder-image,#aggr-image{
    display: none;
}

#to{
    font-size: 20px;
    margin: 0px 14px;
}       



}

@media(min-width: 300px) and (max-width: 350px){


	html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	#automated,#tax-free,#zero-fee{
		display: none;
	}

			.navbar{
			padding-left: 2%;
	padding-right: 2%;
	}




.navbar-right{
	margin-right: 1%;

}



	.container{
		
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.fs-content{
		text-align: center;
	}

	.inv-amount-block{
		width: 84%;
	}

	.info-container {
	    display: block;
	    margin-top: 0;
	    margin-left: 33%;
	    margin-top: -36px;
	}

	.highlight-text {
    font-size: 11px;
    margin-top: 6px;
    margin-left: 1px;
	}

	.highlight-bot-text {
    margin-top: -4px;
	}

	.zero-fee {
    padding-top: 0%;
    padding-left: 0px;
}
	.zero-fee>img {
    height: 36px;
    margin-top: 8px;
}

.one {
    margin-top: -15px;
    height: 30px;
    z-index: 10;
    position: relative;
}

.is-head {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.inv-details-row{
    padding: 0px;
}

.xs-pad-zero{
    padding: 0px;
}

.invest-plan-date {

    margin-top: 10px;
}

.invest-plan-text {
    font-size: 12px;

}

.plan-date{
	font-size: 14px;
}

span.radio {
    cursor: pointer;
    margin-left: 138px;
}

span.radio>img {
    height: 26px;
}

.i-icon {
    height: 13px;
    margin-top: 0px;
    margin-left: 6px;
}


.portfolio-type-div {
    padding: 10px 35px 10px 30px;
    margin: 20px 0px 40px 0px;
}

span.port-radio {
    margin-left: 5px;
    cursor: pointer;
}

.donut-chart{
	margin-left: 35px;
}

.fund-name{
	font-size: 15px;
}

.fund-amount{
	padding-top: 10px;
	font-size: 15px;
}

.save-now-btn {
    margin-bottom: 20px;
    width: 30%;
}

.modal-dialog {
    width: 300px;
    margin: 10vh auto;
}


.mod-port-div>img, .conser-port-div>img, .custom-port-div>img, .aggr-port-div>img {
    height: 200px;
}

.custom-port-div, .conser-port-div, .mod-port-div, .aggr-port-div {
    background-color: white;
    /* margin: 0px -10px; */
    width: 18%;
    height: 206px;
    background-repeat: no-repeat;
    width: 174px;
    color: #797979;
    font-family: gotham_medium;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 60px;
}

.port-text {
    margin-top: 10px;
    position: relative;
    z-index: 10;
    margin-bottom: -32px;
    font-size: 14px;
}

.port-below-text {
    text-align: center;
    font-size: 11px;
}

.span-fund-name {
    color: #6f6f6f;
    font-size: 11px;
}

span.port-radio>img {
    height: 30px;
}

.fund-amount-inner {
    
    font-size: 11px;
}

.currently-inv {

    font-size: 12px;
    color: #797979;
}


span.checkbox {
    margin-left: 11px;
    /* margin-right: 10px; */
    margin-top: 1px;
}

.checkbox-div{
	margin-top: -24px;
}
.checkbox>img{
	height: 14px;
}

.inv-now-btn{
	font-size: 8px;
}

.yes-p-btn, .no-p-btn {
    font-family: gotham_medium;
    width: 90%;
    border-radius: 2px;
    font-size: 12px;
}

.amount-progress{
    width: 65%;
}


.i-icon {
    height: 18px;
    margin-top: 0px;
    margin-left: 6px;
}


.invest-plan-text {
    font-size: 18px;
}


.portfolio-type-div {
    padding: 10px 35px 0px 30px;
    margin: 50px 0px -20px 0px;
}


.custom-port-div, .conser-port-div, .mod-port-div, .aggr-port-div {
    height: 40px;
}

.port-below-text{
    display: none;
}

.port-text{
    font-size: 18px;
    margin-bottom: -65px;
}


/*Withdraw page starts*/
    
    .wd-text{
        font-size: 14px;
        text-align: center;
        display: block;
    }

    .withdraw-ul{
        font-size: 16px;
        text-align: center;
        padding: 0px 40px;
    }

    .withdraw-radio-div{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .wd-amount-block {
    width: 60%;
    margin-top: -20px;
    margin-left: auto;
    margin-bottom: 20px;
    display: table;
    margin-right: auto;
}

.withdraw-info{
    margin-top: 70px;
}

.withdraw-info-text{
    font-size: 14px;
    text-align: center;
}

#withdraw-info{
    margin-top: 40px;
}

#wd-btn{
    width: 110px;
    font-size: 12px;
}
/*Withdraw page ends*/




#progress-div {
    margin-left: 10px;
}

#as-can-inv{
    font-size: 18px;
    padding: 0px;
}

#perc-goal-rem {

    font-size: 17px;
    font-family: gotham_medium;
    padding: 0px;

}

#prog-no,#prog-zero {
    margin: 0px 0px 0px 10px;
    font-size: 12px;
}

#prog-zero {
    margin: 0px 10px 0px 0px;
}

#prog-no {
    margin: 0px 0px 0px 10px;
}


#tax-free{
	margin-left: -14px;
}

#recom-spl {
        font-size: 14px;
    padding: 0px 20px;

    
}

#total-amt-inv{
	font-size: 10px;
    padding-right: 4px;
}

#total-amt {
    text-align: center;
    font-size: 11px;
}

#built-port{

	    padding-left: 6px;
    font-size: 13px;

}

#equity-text {

    font-size: 11px;
    padding-left: 9px;
    padding-bottom: 6px;
}

#eq-show-less, #gold-show-less, #elss-show-less, #debt-show-less, #eq-show-more {

font-size: 10px;
    padding-right: 4px;


}


#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date {
        font-size: 15px;
    width: 35%;
}

#custom-image,#conser-image,#moder-image,#aggr-image{
    display: none;
}

#to{
    font-size: 20px;
    margin: 0px 14px;
} 



}