@media(min-width: 1400px) {
	
}

@media(min-width: 992px) and (max-width: 1200px){

	.logo-div {
    margin-top: 66px;
	}

	.social-links>li {
    margin: 0px 6px;
	}
}

@media(min-width: 768px) and (max-width: 992px){

	.logo-div {
	    margin-top: 40px;
	}

	.social-links>li {
    margin: 0px 6px;
}

}

@media(min-width: 500px) and (max-width: 767px){

		html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


	.content{
		width: 450px;
		margin-top: 110px;
	}

	.login-logo {
    height: 30px;
	}

	.logo-div {
    margin-top: 40px;
	}

	.login-info-text{
		font-size: 20px;
	}

	.login-sub-text{
		font-size: 16px;
	}

	.disc-div{
		margin-left: 0px;
	}

	.social-media{
		        margin: -7px 26%;
    margin-top: 0;
	}

	.social-links>li {
    margin: 0px 21px;
}

	.footer-link>ul>li{
margin: 10px 4.2% 10px 0%;
font-family: gotham_book;
font-weight: bold;
color: #424242;
font-size: 14px;
text-decoration: none;
text-align: center;
}

	.footer-links{
	    text-align:center;
	}

	.footer-link{
		margin-left: 10px;
	}



	.modal-dialog{
		    
		    width: 450px;
		    margin: 12% auto;
	}

	#copyright-text{
		text-align: center;
		margin-top: 14px;
	}

	#email,#password{
		border-bottom: 1px solid gainsboro;
		width: 56%;
		font-size: 14px;
	}

	#login-btn,#signup-btn{
		font-size: 12px;
		padding: 10px 35px;
	}

	#signup-btn{
	padding: 10px 35px;
    margin-bottom: 38px;
    font-size: 12px;
	}

	#disc-text{
		text-align: center;
		font-size: 12px;
	}

	
}

@media(min-width: 350px) and (max-width: 500px){

			html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	.content{
		width: 320px;
    margin-top: 90px;

	}

	.logo-div {
    margin-top: 32px;
	}

	.login-logo {
    height: 30px;
	}

	.login-sub-text {
    font-family: gotham_light;
    font-size: 14px;
    margin-top: -10px;
    font-weight: bolder;
	}

	.disc-div{
		margin-left: 0px;
		text-align: center;
	}

	.footer-links{
    text-align:center;
	}

	.footer-link{
		margin-left: 10px;
	}

		.social-media{
		        margin: 7px 26%;
    margin-top: 0;
	}

	.social-links>li {
    margin: 0px 10px;
		}


	.modal-dialog{
		    
		    width: 250px;
		    margin: 12% auto;
	}

	.verify-btn {
    background-color: #0091EA;
    border-color: #0091EA;
    color: white;
    font-family: gotham_medium;
    padding: 4px 20px;
    margin-bottom: 20px;
    font-size: 14px;
}


	#email,#password{
		border-bottom: 1px solid gainsboro;
		width: 64%;
		font-size: 14px;
	}

	#trbl-log{
		margin-left: 125px;
		font-size: 11px;
	}

	#copyright-text{
		text-align: center;
	}

	#we-have{
		font-size: 18px;
	}

	#sms{
		font-size: 14px;
	}

	#didn-t {
    font-size: 14px;
		}
}

@media(min-width: 300px) and (max-width: 350px){


	html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

	.content{
		width: 270px;
    margin-top: 90px;

	}

	.logo-div {
    margin-top: 32px;
	}

	.login-logo {
    height: 30px;
	}

	.login-info-text{
		font-size: 20px;
	}

	.login-sub-text {
    font-family: gotham_light;
    font-size: 13px;
    margin-top: -10px;
    font-weight: bolder;
	}

		.footer-links{
    text-align:center;
	}

	.footer-link{
		margin-left: 10px;
	}

	.disc-div{
		margin-left: 0px;
		text-align: center;
		margin-bottom: 6px;
	}

	.footer-link>ul>li {

    font-size: 12px;

	}

		.social-media{
		        margin: 7px 25%;
    margin-top: 0;
	}

	.social-links>li {
    margin: 0px 10px;
	}

	.soc-img>a>img{
		height: 16px;
	}

		.modal-dialog{
		    
		    width: 250px;
		    margin: 12% auto;
	}


	#email,#password{
		border-bottom: 1px solid gainsboro;
		width: 77%;
		font-size: 13px;
	}

	#trbl-log{
		margin-left: 125px;
		font-size: 11px;
	}

	#copyright-text{
		text-align: center;
		font-size: 10px;
	}

	#disc-text{
		font-size: 10px;
	}

	#login-btn, #signup-btn {

    font-size: 12px;
	padding: 8px 30px; 
	}

	#signup-btn {
    padding: 8px 30px;
    margin-bottom: 38px;
}




}
