
.input-group-addon{
	border : none;
	background-color: transparent;
}

select {
    width: 130px !important;
    display: block;
    margin-left: auto;
     margin-right:0px !important; 
    border-radius: 3px;
    padding: 6px !important;
    font-family: gotham_book;
    border-color: gainsboro;
    margin-top: 4px;
}

.complete-btn{
    margin-left: 220px;
    margin-top: 20px;
}


.catagory{
    background-color: #f8f8f8;
    border-bottom: 1px solid #dbdbdb;
}

.catagory-name{
    display: inline-block;
    font-size: 16px;
}

.catagory-checkicon{
        vertical-align: middle;
        font-size: 22px !important;
            padding: 10px 8px;
}

.active-checkicon{
	color: #00bc6b !important;
}

.btn-primary {
    color: #fff;
    background-color: #0091ea !important;
    border-color: #0091ea !important;
    padding:10px 20px;
}

.user-imp{
    color: #ffd600 !important;
}

#search_nach_user{

	outline: none !important;
	border:none;
	box-shadow: none;
	border-bottom: 1px solid gainsboro;
	border-radius: 0px;
	font-family: gotham_book;
}

#nach_user_sidebar{
	height: 124vh;
	overflow-y: scroll;
}


.nach_user_name{
	margin-bottom: 0px;
	margin-right: 30px;
}

.nach_user_name:hover{
	cursor: pointer;
}

.nach_user_pan{
	font-family: gotham_book;
	margin-bottom: 0px;
}

.nach-info-badge{
	float: right;
	background-color: #0091EA;
	padding: 8px;
	border-radius: 50px;
	font-family: gotham_book;
	font-size: 12px !important;
}


.nach_user_container{
	padding-top: 10px;
	padding-bottom: 10px;
}

.active-nach-user{
	border-left: 1px solid #0091EA;
}

#active_user_name{
	    margin-bottom: 5px;
    font-size: 18px;
}

#active_user_pan{
	font-family: gotham_book;
}

.material-icons{
	color:#bbb;
}

#active-user-up-cont{
	    padding-top: 10px;
    padding-bottom: 10px;
}


.other_active_details{
	    font-family: gotham_book;
    font-size: 16px;
    margin-bottom: 0px;
}

.other_active_sub_details{
	font-size: 12px;
    font-family: gotham_book;
    margin-bottom: 3px;
}

.file-pos-alert{
	font-size: 12px;
    font-family: gotham_book;
    color: #0CD39B;
}

.file-neg-alert{
	font-size: 12px;
    font-family: gotham_book;
    color: red;
}

select {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	padding: 3px;
	font-family: gotham_book;
	border-color: gainsboro;
}

.active_nach_user{
	border-left: 3px solid #0091EA;
}


.open_tab{
	font-size: 16px !important;
	margin-left: 10px;
	margin-top: 5px;
}

.search-bar {

     margin-top: 0px; 
     padding-left: 0px;
     padding-right: 0px;
}

.header-cont {
    padding-bottom: 15px;
        padding-top: 15px;
}

.border-bot {
    border-bottom: 1px solid gainsboro;
}


.nach_user_container:hover{
	cursor: pointer;
	background-color: #fafafa;
}


.material-icons:hover{
	cursor: pointer;
}

.navbar{
	z-index: 9 !important;
}


    #scheduleInvModal{
    margin-top: 5%;
}


#great{
        font-family: gotham_medium;
    color: #0091EA;
}

#you-have{
        font-family: gotham_book;
    font-size: 16px;
}

#notify-done{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-color: #0091EA;
    background-color: #0091EA;
    color: white;
    margin: 15px auto 10px;
    font-size: 16px;
    font-family: gotham_book;
    border-radius: 2px;
}

.user-nach-details{
	margin-bottom: 0px;
	font-family: gotham_book;
}
.input-mod{
    width: 70%;
    border-bottom: 1px solid #a1a1a1 !important;
    border: none;
    margin-top: 10px; 
    display: inline-block;
    font-family: gotham_book;
}

.input-mod:focus{
    outline:none;
}

.filter-span{
    font-size: 16px;
    margin-right: 2px;
}

.filter-select{
    display: inline-block !important;
    outline-style: none;
}