/*PENDING ORDERS PAGE*/
    

    .pending-det-info{
        font-size: 13px;
        text-align: center;
        font-family: gotham_book;
        border-right: 1px solid gray;
        margin-bottom: 0px;

    }

    #pending-inv-amount{
        font-size: 18px;
        font-family: gotham_book;
        margin-bottom: 0px;
    }

    #sip_placed_date,#order_placed_date{
        font-family: gotham_book;
        font-weight: normal;
    }

    #sip_placed,#order_placed{
        font-family: gotham_book;
        font-weight: bold;
        font-size: 13px;
    }

    .pending-det-info::first-child{
        text-align: left;
    }


    #pan_holder{
        text-align: left;
    }

    .pend-det-info-cont{
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 5px;
    }

    .pend_inv_name{
        font-size: 18px;
    }

    .pending-order-details-cl{
        color: gray !important;
    }

    .pending-details-container{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid gainsboro;
    }


    .pending-details-container:hover{
        background-color: #f3f3f3;
        cursor: pointer;
        transition: 0.5s;
    }

    .pending-details-scheme{
        display: inline;
        margin-left: 10px;
    }

    .close-pending-details{
        font-size: 18px !important;
        color: gray;
    }

    .pending-portfolio-details{
        font-family: gotham_book;
    }

    .pending-bse-details{
        font-family: gotham_book;
        display: inline;
    }

    .pending-amount-details{
        font-family: gotham_book;
        font-size: 18px;
    }

    .pending-details-scheme-container{
        margin: 10px auto;
    }

    .border-top{
        border-top: 1px solid gainsboro;
    }

    #confirm-pending-btn,#confirm-revoke-btn{
        background-color: #0091EA;
        border-color: #0091EA;
        border-radius: 2px;
        color: white;
        font-size: 12px;
        width: 100px;
        margin: 10px auto;
    }

    .bold{
        font-weight: bold;
    }




    #scheduleInvModal{
    margin-top: 5%;
}


#great{
        font-family: gotham_medium;
    color: #0091EA;
}

#you-have{
        font-family: gotham_book;
    font-size: 16px;
}

#notify-done{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-color: #0091EA;
    background-color: #0091EA;
    color: white;
    margin: 15px auto 10px;
    font-size: 16px;
    font-family: gotham_book;
    border-radius: 2px;
}

#allotment-status-form,#redemption-status-form{
    display: inline-block;
}


/*PENDING ORDERS PAGE ENDS*/