.table-header{
    font-weight: 400;
    color: #555555;
}

.table-content{
    margin-bottom: 0px;
    color: #555555;
    font-weight: 400;
    font-size: 15px;
}

.active-acc-header>a{
    color: #0091EA !important;
    font-weight: 400;
    border-bottom: 3px solid #0091EA;
    padding: 30px;
}

.container-border{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}


.table > thead > tr > th {
     vertical-align: middle !important;
}

.table{
    margin-bottom: 0px !important;
}

td.fund-name-content>p {
    padding-left: 18px;
}

th.fund-name-header>p {
    padding-left: 18px;
}


.table-container-header{
    /* margin-left: 16px; */
    font-size: 18px;
    font-weight: 400;
    color: #555555;
    /* margin-top: 15px; */
    margin: 5px 0px 0px 25px;
    padding: 15px 0px;
    margin-top: 0px;
}


#acc-statement-header-ul>li>a{
    font-size: 18px;
    margin: 10px 30px;
    color: #555555;
}

#acc-statement-header-ul>li>a:hover{
    color: #0091EA;
}


#acc-statement-header{
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}

#acc-statement-header-ul{
    margin-top: 0px;
    margin-bottom: 20px;
}

.acc-table-wrapper{
    margin-top: -16px;
}



#acct-info-statement{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 16px;
    color: #555555;
}

#acct-info-container{
    padding: 10px 0px;
}

table>thead>tbody>tr{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.p-tb-five{
    /*padding-top: 5px !important;
    padding-bottom: 5px !important;*/
    padding-top: 50px !important;
    height: 50px !important;
    vertical-align: middle !important;
} 

.table>tbody>tr>td{
	padding-top: 15px !important;
}




.table-row:hover{
    background-color: #f8f8f8;
    box-shadow: 0 5px 5px -5px #d7d7d7;
    transition: 0.4s;
}

.table-detail-info{
	margin-left: 20px;
	font-weight: 300;
	font-size: 18px;
}

.table-container-header span:first-child{
	
	padding-right: 20px;
	border-right: 2px solid #E6E6E6
}


.table > tbody >tr:last-child  td {
    /*color: #0091EA !important;*/
}


.modal-body{
    margin: 0px !important;
}

#modal-header{
    color: #555555 !important;
}

#inactive-parent{
        padding: 25px 20px 20px;
    background-color: #0091EA;
    color: white;
    border-radius: 5px;
/*    margin-top: -25px;
    position: relative;
    z-index: -10;*/
    font-size: 18px;
    box-shadow: 0px 0px 10px #a7a7a7;
}

#inactive-info .material-icons{
    vertical-align: middle !important;
}


#inactive-info ~ span{
    margin-left: 20px;
}

#alert-holder{
    z-index: 0;
    position: relative;
    margin-top: -25px
}

#inactive-parent a{
    color: white;
    position: relative;
    z-index: 20;
};

.navbar-custom{
    z-index: 25 !important;
}
