#settings-sidebar{
	height: 240px;
}

#settings-nav{
	padding-left: 0px;

	text-align: center;
}

#settings-nav>li{
	list-style: none;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 16px;
}

.p-l-15{
	padding-left: 15px !important;
}

.sub-tab-heading{
	margin-left: 15px;
    font-size: 16px;
    margin-bottom: 25px;
}

#settings-nav a {
	color: #555555;
    text-decoration: none;
    display: block;
    margin-left: 50px;
    margin-top: -25px;
}

.active-settings-nav > a{
	color: #0091EA !important;
}


.input-field{


  background-color: #ffffff;
  border: medium none;
  transition: background-color 0.3s ease 0s;
  padding: 7px 0px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  color: #555555;
  font-size: 14px;


}

.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label.input-label{
	position: absolute;
	top: 10px;
	left: 15px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}

input:focus ~ label.input-label , input:valid ~ label.input-label{
	top: -12px;
	font-size: 11px;
	
	color: #0091EA;
}




input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}

input:valid ~ label.input-label , input:disabled ~ label.input-label {
	top: -12px;
	font-size: 11px;
	
	color: #555555;
}

input:focus ~ label.input-label{
		top: -12px;
	font-size: 11px;
	color: #0091EA;
}


#submit-personal{
	margin-left: 30px;
}

#bank-details-info{
	padding-left: 30px;
	margin-top: 5px;
}

#add-nominee-btn{
	border-radius: 5px;
	background-color: #F3F3F3;
	margin-right: 20px;
	color: #555555;
}

#change-password-tab,#bank-details-tab,#nominee-details-tab,#bank-details-info,#add-nominee-btn{
	display: none;
}


.inactive-sidemenu{
	font-weight: 300;
    color: #333333;
}


.activate-acc-menu{
	text-align: left !important;
}

.inactive-menu{
	text-align: left !important;
	opacity: 0.5;
}

.activate-tick{
	font-size: 12px !important; 
	border-radius: 50px;
	background-color: #04D298;
	padding: 4px;
	margin: 0px 15px;
	color: white !important;
}

.non-active-tick{
	font-size: 12px !important; 
	border-radius: 50px;
	padding: 4px;
	margin: 0px 15px;
	color: white !important;
	background-color: #E1E1E1;
}

#kyc-info-text{
	margin-left: 20px;
	font-size: 14px;
	margin-left: 50px;
	margin-top: 10px;
	font-weight: 400;
}

select{
        border: none;
    font-weight: 400;
    background-image: url(/icons/arrow_down_32.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
    background-color: #fdfdfd;
}

.radio-label{
	margin-bottom: 0px;
}

.radio-label>span{
	background-color: #efefef;
	width: 80px;
	color: #0091EA;
	padding: 8px 5px;
	text-align: center;
	font-weight: 500;
}

input[type=radio]{
	display: none;
}

.radio-inline{
	padding-left: 0px !important;

}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: -5px !important;
}

.form-helper{
	margin-bottom: 0px;
}

.mini-text{
	margin-bottom: 0px;
	font-size: 10px;
	color: #333333;
}

.modal-dialog{
	width: 300px !important;
}

#modal-body{
	padding: 15px 20px !important;
	margin: 0px !important;
}

.modal-header{
	border-bottom: none !important;
}

.ekyc-btn{
	width: 100px !important;
}

#ekyc-tab{
	display: none;
}

.mb-10{
	margin-bottom: 10px;
}

.kyc-form-container{
	    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

.kyc-form-container span{
	margin-left: 5px;
}

.kyc-form-container img{
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#kyc-info-header{
	font-size: 12px;
}

.kyc-form-container:hover{
	cursor: pointer;
}


.form-helper{
	font-size: 12px;
}

input[type=file]{
	display: none !important;
}

.acc-activate-forms{
	margin-bottom: 20px;
}


.p-tb-20{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.bank-label{
	padding: 5px !important;
    width: 70px !important;
    font-size: 12px !important;
}

.download-form{
    font-size: 12px;
    margin-top: 2px;
    padding-top: 2px;
    padding-left: 0px;
    margin-bottom: 5px;
}

.file-container{
	box-shadow: 0px 0px 8px #ccc;
    border-radius: 4px;
    padding: 10px 0px 0px;
}

.occupation-menu,.bank-menu{
	background-color: transparent !important;
    color: #555555 !important;
    text-align: left;
    padding-left: 0px;
    font-size: 14px;
    width: 100% !important; 
    border-color: #e6e6e6 !important;
    border-radius: 2px;
    outline: none;
    border:none;
    border-bottom: 1px solid #e6e6e6;
    text-shadow: none;
}

.open>#bank-dropdown {
    display: block;
    width: 99%;
    box-shadow: 0px 1px 4px gainsboro;
    border-radius: 0px;
    margin-top: -1px;
    margin-left: 1px;
        height: 306px;
    overflow-y: scroll;
}

.open>#acctype-dropdown{
	display: block;
    width: 99%;
    box-shadow: 0px 1px 4px gainsboro;
    border-radius: 0px;
    margin-top: -1px;
    margin-left: 1px;
}

.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	padding-left: 20px;
}


.dropdown-menu>li>a{
	text-align: left;
}


.dropdown-menu>li>a {
    color: #777777 !important;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px 10px 20px;
}

.dropdown-menu>li>a:hover{
	background-color: #0091EA !important;
	color: white !important;
	background-image: none;
}
.dropdown-menu>li>a:last-child{
	border-bottom: none;
	border-bottom: 1px solid #e6e6e6;
	white-space: normal;
	padding-right: 10px;

}

 .open>.dropdown-toggle.btn-primary{
	padding-left: 20px;
}

.dropdown-menu>li:hover >a{
	background-color: #0091EA !important;
	color: white !important;
}

#acc-type-icon{
	    vertical-align: middle;
    	float: right;
    	color: gray;
}

.upload-filename{
	margin-bottom: 5px;
    border-top: 1px solid #e6e6e6;
    padding-top: 3px;
    display: none;
    word-break: break-all;

}

#ifsc-code{
	text-transform: uppercase;
}


#why-ekyc-header{
	margin-bottom: 10px;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 25px;
}

.why-ekyc-content{
	    padding: 0px 30px;
}

#edit-personal {
	margin-left: -113px;
}
