@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){
	#sidebar-container{
		padding-right: 15px;
	}

	#settings-nav>li{
		font-size: 14px;
	}

	.radio-label>span {
	    width: 60px !important;
	    font-size: 13px;
	}

	#submit-personal{
		width: 100px;
	}

	#settings-sidebar {
	  height: auto !important;
	}

}

@media(min-width: 500px) and (max-width: 767px){
	#sidebar-container{
		padding-right: 0px;
		margin-bottom: 15px;
	}

	.input-field{
		width: 90%;
		margin-bottom: 15px;
	}


	#settings-sidebar {
	  height: auto !important;
	}

	#settings-nav a {
    margin-left: 42px;
 }


	#settings-nav a {
    color: #555555;
    text-decoration: none;
    display: block;

	}

	#settings-nav {
	    /* padding-left: 0px; */
	    /* display: inline-flex; */
	}


	#settings-nav>li{
		border-bottom: transparent;

	}


	select{
		width: 90%;
	}

	#footer-section{
		text-align: center;
	}
}

@media(min-width: 350px) and (max-width: 500px){
	#sidebar-container{
		padding-right: 0px;
		margin-bottom: 15px;
	}


	#settings-nav a {
    color: #555555;
    text-decoration: none;
    display: block;
    margin-left: 37px;
    margin-top: -25px;
	}

	#settings-sidebar {
	  height: auto !important;
	}

	#settings-nav>li{
		border-bottom: transparent;
	}


	#settings-nav a {
    margin-left: 42px;
   
	}

	#settings-nav {
	    padding-left: 0px;
	    display: inline-flex;
	}
	.input-field{
		width: 90%;
		margin-bottom: 15px;
	}

	select{
		width: 90%;
	}

	#footer-section{
		text-align: center;
	}
}

@media(min-width: 300px) and (max-width: 350px){
		
	#sidebar-container{
		padding-right: 0px;
		margin-bottom: 15px;
	}

	#settings-nav a {
    color: #555555;
    text-decoration: none;
    display: block;
    margin-left: 37px !important;
    margin-top: -25px !important;
        font-size: 12px;
	}


	#settings-sidebar {
	  height: auto !important;
	}

	#settings-nav>li{
		border-bottom: transparent;
		padding-bottom: 0px !important; 

	}

	.non-active-tick,.activate-tick {
    margin: 0px 9px !important;
	}

	#settings-nav {
	    padding-left: 0px;
	    display: inline-flex;
	}

	.input-field{
		width: 90%;
		margin-bottom: 15px;
	}

	select{
		width: 90%;
	}

	#footer-section{
		text-align: center;
	}

	#kyc-info-text {
    font-size: 12px !important;
    margin-left: 38px !important;
	}
}