#blog1{
    background-image: url(../../icons/pexels-photo.jpg);
}

#blog2{
    background-image: url(../../icons/piggy-bank.jpg);
}

#blog3{
    background-image: url(../../icons/mutual-funds.jpg);
}

#blog4{
    background-image: url(../../icons/warren-buffet.png);
}

.blog-jumbo-section{
    height: 55vh;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
}

.next-article{
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
}

#next-article1{
  background-image: url(../../icons/mutual-funds.jpg);
}

#next-article-2{
  background-image: url(../../icons/pexels-photo.jpg);
}

#next-article3{
  background-image: url(../../icons/piggy-bank.jpg);
}


.navbar-custom{
  background-color: transparent !important;
  box-shadow: none !important;
}


.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1) !important;
  transition: background-color 300ms linear;
}

.custom-container{
  width: 800px !important;
  font-family: 'Roboto Slab', serif;
}

.blog-header{
    font-size: 40px;
    padding-right: 40%;
    line-height: 50px;
        margin: 50px auto;
}

.content-text{
  font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    /* letter-spacing: 0.2px; */
    word-spacing: 1px;
}

#footer-section{
  margin-top: 0px;
}

#next-art-div{
  color: white !important;
  margin: 50px auto; 
}

.next-art-name{
  color: white;
  padding-right: 0%;
  font-size: 40px;
  line-height: 50px;
  padding-top: 30px;
}

.blog-sub-headers{
      font-size: 22px;
    color: #333333;
    font-weight: 500;
    margin: 20px auto;
    word-spacing: 1px
}


.right-arrow{
  font-size: 46px !important;
  float: right;
  margin-top: 50%;
}

.blog-images{
  margin: 30px auto;
}

.next-art-name > a{
  color: white !important
}


/*how do i save on taxex with mutual funds*/

#tax-saving-instruments{
      list-style-type: upper-roman;
    margin-left: 50px;
    font-size: 16px;
}

#tax-saving-instruments li{
  padding-left: 15px;
}


/*Responsivesness*/


@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){

}

@media(min-width: 500px) and (max-width: 767px){
    .custom-container{
      width: auto !important;
    }

    .blog-header{
      padding-right: 0px;
    }
}

@media(min-width: 350px) and (max-width: 500px){
    .custom-container{
      width: auto !important;
    }

    .blog-header{
      padding-right: 0px;
      font-size: 28px;
    }
}

@media(min-width: 300px) and (max-width: 350px){
    .custom-container{
      width: auto !important;
    }

    .blog-header{
      padding-right: 0px;
    }
}