#timer-holder{
    margin-top: -40px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

#ekyc-header{
	font-size: 24px;
	color: #555555;
	font-weight: 500;
	margin-bottom: 0px;
}

.ekyc-sub-header{
	font-size: 16px;
	color: #555555;
	margin-bottom: 0px;
}

#header-container{
	margin: 20px auto;
}

#ekyc-container{
	transition: 0.5s;
	padding: 0px;
}

#part2,#part3{
	display: none;
}

.card-holder img{
	margin-bottom: 30px;
	height: 50px;
}

.card-holder{
	width: 210px;
	padding: 20px;
	border :1px solid #E6E6E6;
	border-radius: 4px;
	display: inline-block;
	margin: 20px;

}


.card-header{
	font-size: 20px;
    color: #555555;
    font-weight: 500;
}

.card-info{
	margin-bottom: 25px;
    line-height: 1.2;
}

#card-container{
	text-align: center;
	margin-bottom: 40px;
}

#sample-video{
	font-size: 16px;
	color: #0091EA;
	margin-bottom: 30px;
	display: block;
}

.videocam{
	background-image: url('../img/videocam.png');
}

#sample-video ~ a{
	font-size: 16px;
	width: 150px;
	font-weight: 500;
}

#sample-video ~ a>i{
	vertical-align: middle;
	margin-left: 5px !important;
}

#back{
	margin: 10px auto;
	margin-bottom: -10px;
}

#back span{
	color: #555555;
	font-size: 16px;
	font-weight: 500;
}

#back i {
	vertical-align: middle;
	font-size: 34px !important;
	font-weight: 500;
	color: #555555 !important;
}

.material-icons:hover{
	background-color: transparent !important;
}


#preview{
	width: 100%;
}

.btn-black {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 9px; 
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    /* border-radius: 8px; */
    color: #fff;
    text-align: center;
    width: 20%;
    margin: 0px 3px;
}
.is-black {
    background: rgba(0, 0, 0, 0.8);
}

#cam-button{
	margin-top: -100px;
}

#cam-button  button i {
	    vertical-align: middle;
    margin-left: 5px !important;
}

#cam-button button{
	font-size: 16px;
}


#cam-button button:hover{
	color: #0091EA;
}

#ekyc-info-text{
	font-size: 16px;
	color: #555555;
	margin-bottom: 20px;
}

/*#ekyc-part2-header,#ekyc-info-text{
	display: none;
}
*/

#ekyc-part2-header{
	font-size: 24px;
    color: #555555;
    font-weight: 500;
    margin-bottom: 0px;
}

.modal-dialog{
	width: 300px !important;
}

#modal-body{
	padding: 15px 20px !important;
	margin: 0px !important;
}

.modal-header{
	border-bottom: none !important;
}

#sample-video{
	width: 100%;
}


