.login-info-text{
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 10px;
}

#reset-btn,#go_back{
	margin-top: 25px;
	margin-left: 0px;
	margin-right: 10px;
}

#button-div{
	text-align: left;
}

.email-error{
	font-size: 14px !important;
}

.password_reset_success{
	    text-align: left;
    font-size: 16px;
    color: #0091EA
}

