@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){
	#left-fund-container{
		padding-left: 40px;
	}

	.inv-type-text{
		font-size: 15px;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 45%;
	}

	#portfolio-text{
		font-size: 14px;
	}

	.fund-heading{
		font-size: 16px;
	}

	.total-text{
		font-size: 18px;
	}

	.inv-scheme-name, .inv-scheme-amount{
		font-size: 16px;
	}

	.inner-header{
		font-size: 16px;
	}

	.detail-header{
		font-size: 14px;
	}

	.detail-content{
		font-size: 14px;
	}

	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 18px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}
}

@media(min-width: 500px) and (max-width: 767px){
	#left-fund-container{
		padding: 0px;
	    text-align: left;
	    margin-left: 20px;
	}

	#left-fund-container>div{
		border-right: none;
		margin-bottom: 30px;
		margin-left: 50px;
	}

	#inv-amount ~ label{
		left: 0px;
	}

	.inv-type-text{
		text-align: left;
	}

	#section-container{
		    padding: 45px 30px 10px 30px;
	}

	.total-text{
		font-size: 16px;
	}

	#footer-section{
		text-align: center;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 30%;
	}

	.inv-scheme-name, .inv-scheme-amount {
    	font-size: 18px;	
	}

	.inner-header{
		font-size: 16px;
	}

	.detail-header{
		    font-size: 16px;
	}

	.detail-content {
	    font-size: 15px;
	    width: auto !important;
	    height: 30px;
	    overflow-x: scroll;
	}
	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 16px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}

	.graph-duration{
		font-size: 14px;
	}

	.return-content{
		font-size: 18px;
	}

	.custom-amount{
		width: 70%;
		font-size: 14px;
	}

	.form-group {
    margin-left: 30px !important;
	}
	
}

@media(min-width: 350px) and (max-width: 500px){

	.inv-type-text{
		font-size: 15px;
		margin-left: 10px;
	}

	#left-fund-container{
		padding: 0px;
	    text-align: left;
	    margin-left: 30px;
	}

	#left-fund-container>div{
		border-right: none;
		margin-bottom: 30px;

	}

	.inv-amount {
    width: 80%;
    font-size: 20px !important;
    /* padding: 10px 15px; */
	}

	#inv-amount ~ label{
		left: 0px;
	}

	.inv-type-text{
		text-align: left;
	}

	#section-container{
		    padding: 45px 30px 10px 30px;
	}

	.total-text{
		font-size: 16px;
	}

	#footer-section{
		text-align: center;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 45%;
		margin-left: 10px;
	}

	.inv-scheme-name, .inv-scheme-amount {
    	font-size: 16px;	
	}

	.inner-header{
		font-size: 16px;
	}

	.detail-header{
		font-size: 14px;
		    margin-top: 10px;
	}

	.detail-content {
	    font-size: 14px;
	    width: auto !important;
	    height: 30px;
	       padding-right: 5px;
	}

	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 16px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}

	.scheme-container {
    	padding: 14px !important;
	}

	.graph-duration{
		font-size: 12px;
	}

	.return-content{
		font-size: 18px;
	}

	#portfolio-text{
		font-size: 14px;
	}

	.scheme-details-container >div{
		    padding: 0px 10px;
	}

	.fund-heading{
		font-size: 16px;
	}

	.custom-amount{
		width: 100%;
		font-size: 14px;
	}

	.inv-scheme-amount > span{
		text-align: center;
		display: block;
	}


	#inv-amount ~ label {
    position: absolute;
    top: 7px;
    left: 0px;
    margin-bottom: -10px !important;
    color: #555555;
    font-weight: 400;
    transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
    pointer-events: none;
    font-size: 20px;
	}

	
}

@media(min-width: 300px) and (max-width: 350px){
		.inv-type-text{
		font-size: 15px;
		margin-left: 10px;
	}

	#inv-amount ~ label {
    position: absolute;
    top: 6px;
    left: 0px;
    margin-bottom: -10px !important;
    color: #555555;
    font-weight: 400;
    transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
    pointer-events: none;
    font-size: 18px;
	}

	#portfolio-header {
    font-size: 18px;
	}

	#left-fund-container{
		padding: 0px;
	    text-align: left;
	    margin-left: 10px;
	}

	#left-fund-container>div{
		border-right: none;
		margin-bottom: 30px;

	}

	#inv-amount ~ label{
		left: 0px;
	}

	.inv-type-text{
		text-align: left;
	}

	#section-container{
		    padding: 45px 30px 10px 30px;
	}

	#inv-amount {
    width: 90%;
    font-size: 18px !important;
	}

	.input-field {
    border-bottom: 1px solid #BFBFBF !important;
    font-size: 14px;
	}

	.portfolio-menu{
    background-color: transparent !important;
    color: #555555 !important;
    text-align: left;
    padding-left: 0px;
    font-size: 14px;
    width: 93% !important;
    border-color: #bcbcbc  !important;
    border-radius: 2px;
    outline: none;
    margin: 22px 0px 20px !important;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #bcbcbc !important;
    box-shadow: none;
}

	#minimum-text {
    font-size: 12px;
	}

	.total-text{
		font-size: 16px;
	}

	#footer-section{
		text-align: center;
	}


	.scheme-container {
    	padding: 8px !important;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 45%;
		margin-left: 10px;
	}

	.inv-scheme-name, .inv-scheme-amount {
    	font-size: 16px;	
    	    padding: 5px;
	}

	.inner-header{
		font-size: 14px;
	}

	.detail-header{
		font-size: 14px;
		    margin-top: 10px;
	}

	.detail-content {
	    font-size: 12px;
	    width: auto !important;
	    height: 30px;
	       padding-right: 5px;
	}
	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 16px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}

	.graph-duration{
		font-size: 12px;
	}

	.return-content{
		font-size: 14px;
	}

	#portfolio-text{
		font-size: 14px;
	}

	.scheme-details-container >div{
		    /*padding: 10px 10px 0px 10px !important;*/
	}

	.fund-heading{
		font-size: 16px;
	}

	.custom-amount{
		width: 100%;
		font-size: 14px;
	}

	.inv-scheme-amount > span{
		text-align: center;
		display: block;
	}

	#infoModal > .modal-dialog {
    width: 250px !important;
	}
}