input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}


#inv-amount{
	width: 70%;
	font-size: 20px !important;
	/*padding : 10px 15px;*/
}

#inv-amount ~ label {
    position: absolute;
    top: 2px;
    left: 0px;
    margin-bottom: -10px !important;
    color: #555555;
    font-weight: 400;
    transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
    pointer-events: none;
    font-size: 20px;
}

#inv-amount:focus ~ label, #inv-amount:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #0091EA;
}


select {
    width: 70%;
    font-size: 20px;
    margin-top: 60px;
    padding: 0px;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

select option{
	font-size: 20px;
}

select option>p{
	border-bottom: 1px solid #E6E6E6;
}

#left-fund-container{
	padding-left: 120px;
}

#minimum-text{
	margin-top: 5px;
}

input[type=radio]{
	display: none;
}

input[type=radio] ~ label{
	color: gray !important;
}

.form-group p:first-child{
	margin-bottom: 0px;
}


.inv-type-text{
	font-size: 18px;
	color: #555555;
}

.investment-date{
	font-size: 14px;
}

#section-container {
    padding: 80px 50px 50px 50px;
}

#portfolio-header{
	font-size: 22px;
    color: #555555;
    font-weight: 500;
    margin-bottom: 10px;

}

#portfolio-text{
	font-size: 16px;
}

.inv-scheme-name,.inv-scheme-amount{
	font-size: 20px;
	color: #555555;
	margin-bottom: 0px;
}

.inv-scheme-amount{
	font-size: 22px;
}


#total-inv-amount{
	color: #0091EA;
}

.scheme-container, .total-container {
    padding: 10px 20px;
    transition: .1s;
}

.scheme-container{
	padding: 20px;
	transition: 0.1s;
}

.scheme-container:hover{
	border-left: 3px solid #0091EA;
}

.scheme-container:active{
    border-left: 3px solid #0091EA;
}

.card-selected{
	cursor: pointer;
	background-color: white;
	border : 1px solid #E6E6E6;
}

.scheme-container:hover {
    cursor: pointer;
    background-color: white;
    /* border: 1px solid #E6E6E6; */
    /* border-left: 3px solid #0091EA; */
}

.set-height{
    height: auto;
    display: block;
}

.inner-header{
	font-size: 18px;
	color: #555555;
	margin-top: 15px;
}

.detail-header{
	font-size: 16px;
	font-weight: 500;
	color: #555555;
}

.detail-content{
	 font-size: 16px;
    color: #555555;
    width: 140px;
}

.scheme-nav{
	margin: 0px 10px;
}

.scheme-nav, .scheme-change, .scheme-perc {   
 font-size: 18px;
    color: #0091ea;
    margin-top: 10px;
    font-weight: 500;
}

.nav-det-container{
	margin: 20px 0px;
    float: left;
}


.duration-header{

}

.graph-duration{
	font-size: 16px;
    color: #555555;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.active-duration-holder{
    margin-top: 10px;
}


.graph-duration:hover{
	cursor: pointer;
}

.return-content{
	font-size: 22px;
    display: inline-block;
}

.abs{
    float: right;
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
}

.active-duration {
    color: #0091EA;
    border-bottom: 3px solid #0091EA;
}

.scheme-details-container{
	display: none;
}

.total-text {
    font-weight: 500;
    font-size: 20px;
    color: #0091EA;
    margin-bottom: 0px;
}

#invest-btn {
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
}

.border-blue-left{
	border-left: 3px solid #0091EA;
}


/*.scheme-change{
	font-size: 22px;
}

.scheme-perc{
	font-size: 22px;
	color: #555555;
}*/

.box-shadow-no-top {
    box-shadow: 0px 5px 5px rgba(232, 232, 232, 0.5);
}



#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date {
    color: rgb(0, 145, 234);
    font-weight: 600;
    font-size: 16px !important;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    width: 24%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 0px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: none;
    background-color: transparent;
}

#to, #sip-duration {
    display: none;
}

#sip-duration{
	width: 20%;
	margin-top: 15px;
}

#to{
	margin: 0px 10px;
}

.fund-heading {
margin-bottom: 0px;
    background-color: white;
    color: #555555;
    padding: 10px 0px;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.w-20 {
    width: 20%;
    float: left;
}

.modal-header{
	border-bottom: none;
}

#infoModal > .modal-dialog{
	width: 300px !important;	
}

#modal-body{
	padding: 15px 20px;
	margin: 0px;
}


.custom-amount{
    background-color: transparent;
    border: medium none;
    transition: background-color 0.3s ease 0s;
    padding: 0px 0px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    width: 80%;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
    font-size: 20px !important;
    margin-left: 10px;
}

.custom-amount:hover{
    background-color: transparent;
}


.noti-image{
	height: 60px;
    margin-bottom: 25px;
}

/*#infoModal > .modal-dialog > .modal-content{
	height: 200px;
}*/


.payment-info{
	margin-bottom: 5px;
}

#payment-type-form .p-r-zero{
	text-align: center;

}

.payment-container{
	margin-bottom: 20px;
}

#mandate-info{
	font-size: 12px;
	line-height: 1.2;
}


.payment-btn{

	width: 80px;
	margin-bottom: 20px;

}

.opa-5{
	opacity: 0.5;
}

#payment-alert{
	display: block;
	text-align: center;
	color: #FD353A;
    margin-top: 5px;
    font-size: 12px;

}

.red-bottom{
	border-bottom: 1px solid red;
}

#minimum-text{
	color: red;
	display: none;
}

.min-danger{
	    margin-left: 40px;
    font-size: 16px !important;
    color: #FD353A !important;
    display: inline-block;
    margin-top: 5px !important;
     width: 80%;
}

.popup-btn{
	margin: 15px auto;
	border-radius: 3px;
	
}

#showInfo .modal-dialog{
    width: 300px !important;
}

#showInfo{
    z-index: 10000000;
}

.close{
    display: block !important;
}

.form-group {
    margin-bottom: 30px;
}

.fund-type-arrow{
    vertical-align: middle !important;
    font-size: 32px !important;
    color: gray;

}

.fund-heading span{
    margin-left: 15px;
}

.dropdown-toggle:focus{
    color: #555555 !important;
    background-color: transparent !important;
}

.dropdown-toggle:focus .port-type-icon{
    color: white !important;
}


.dropdown-toggle:active{
    border:none;
    outline: none;
}


.portfolio-menu,.sip-duration-menu,.sip-date-menu{
    background-color: transparent !important;
    color: #555555 !important;
    text-align: left;
    padding-left: 0px;
    font-size: 14px;
    width: 70% !important; 
    border-color: #e6e6e6 !important;
    border-radius: 2px;
    outline: none;
    margin: 60px 0px 20px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #e6e6e6 !important;
    box-shadow: none;
}

#sip-duration-dropdown,#sip-date-dropdown{
    display: inline-block;
}

.sip-duration-menu,.sip-date-menu{
    width: 100% !important;
    margin: 15px 0px 20px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 2px solid #e6e6e6 !important;
    display: none;
    padding-right: 0px !important;
}

.sip-duration-menu .dropdown-menu>li>a,#sip-date-dropdown .dropdown-menu>li>a{
    font-size: 14px;
    padding: 10px 0px 5px 10px;
}

.sip-duration-menu .dropdown-menu,#sip-date-dropdown .dropdown-menu{
    min-width: 90px !important;
    width: 100% !important;
}

.sip-dur-select,.sip-date-select{
    text-align: left;
    font-size: 14px !important;
    padding: 10px 0px 5px 10px !important;
}

.portfolio-menu:active,
.portfolio-menu:focus,
.sip-duration-menu:active,
.sip-duration-menu:focus,
 {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.open>.dropdown-menu {
display: block;
    width: 69.5%;
    box-shadow: 0px 1px 4px gainsboro;
    border-radius: 0px;
    margin-top: -21px;
    margin-left: 1px;
}

.dropdown-menu>li>a{
    text-align: left;
    font-size: 20px;
}


.dropdown-menu>li>a {
    color: #777777 !important;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px 10px 20px;
}

.dropdown-menu>li>a:hover{
    background-color: #0091EA !important;
    color: white !important;
    background-image: none;
}
.dropdown-menu>li>a:last-child{
    border-bottom: none;
    border-bottom: 1px solid #e6e6e6;
}

.dropdown-menu>li>a{
    border-bottom: 1px solid #e6e6e6;
}



.dropdown-menu>li:hover >a{
    background-color: #0091EA !important;
    color: white !important;
}

#port-type-icon,#sip-type-icon{
        vertical-align: middle;
        float: right;
        color: gray;
}

#sip-type-icon{
        font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.sid-a-tag{
    float: right;
    color: #0091EA;
}

#sid-span{
    font-weight: 600;
}

#sid-icon{
    width: 100%;
}

.payment-table>thead>tr>th:nth-child(3){
    width: 160px;
}
.payment-table>thead>tr>th:nth-child(4){
    width: 120px;
}

.payment-table>tbody>tr:last-child{
    border-bottom: 1px solid gainsboro;
}

#showPaymentInfo .modal-body{
    padding: 0px;
    padding-bottom: 10px;   
}

#showPaymentInfo .modal-body .table>thead:first-child>tr:first-child>th{
    padding-left: 20px;
}

#showPaymentInfo .modal-body .table>tbody>tr>td {
    padding: 15px 20px !important;
}

#showPaymentInfo .modal-body p{
    margin-bottom: 0px;
}

#close-pn{
    width: 100px;
}

#mandate-btn{
    width: 150px;
}

#netbanking-btn{
    width: 150px;
}