.today-date{

}

.inv-sum-amount{
	font-size: 24px;
    color: #555555;
    margin-bottom: 0px;
}



.container-card{
	   /* border: 1px solid #E6E6E6;*/
	    height: 260px;
	    box-shadow: 0px 0px 4px rgba(210, 210, 210, 0.6);
}

.imp-content{
	font-size: 16px;
    color: #555555;
    font-weight: 400;
}


#inv-sum-content-div{
	padding: 20px 15px;
}

#add-inv-card{
	background-color: #0091EA;
	color: white;
	font-size: 22px;
}

#add-inv-card p{
	padding: 40px;
	padding-bottom: 30px;
}

a#invest-btn{
	background-color: white;
	font-size: 16px;
	text-align: center;
	width: 125px;
	padding: 12px 0px;
	font-weight: 500;
	color: #0091EA;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

a#invest-btn:hover{
	cursor: pointer;
}

#goal-info,#bse-info{
	margin-right: 15px;
	font-size: 14px;
	background-color: #F2F2F2;
	padding: 3px 11px;
	border-radius: 50%;
	color: #555555;
}

.sub-cont-amount{
	font-size: 20px;
	color: #555555;
}


.inner-number-value{
	font-size: 18px;
	color: #555555;
}


.benchmark-holder{
	padding-top : 20px;
}

#edit-goal,#save-goal{
	font-size: 12px;
}

#goal-away-text{
	    padding: 25px 0px 5px;
}

.portfolio-split{
	font-size: 28px;
	color: #555555;
}

.portfolio-returns{
	font-size: 28px;
}

.portfolio-amount-info{

}

.portfolio-amount-value{
	font-size: 22px;
	color: #555555;
}

.portfolio-details-holder{
	padding-bottom: 15px;
}

.portfolio-details-container{

}

#goal-perc{
	z-index: 10;
	position: absolute;
	top: 38%;
	left: 43%;
	font-size: 28px;
	color: #555555;
}


.return-radio-divs{
	display: inline;
	margin-left: 15px;
}



.xirr-radio-div span {
    padding: 5px 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #0091EA;
    background-color: #0091EA;
    color: white;
    font-size: 12px;
}

.abs-radio-div span {
    padding: 5px 12px;
    margin-left: -15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0091EA;
    background-color: #f1f1f1;
    font-size: 12px;
}


.radio-inline{
	padding-left: 0px !important;
}

#edit-goal:hover,#save-goal:hover{
	cursor: pointer;
}

#goal-chart{
	margin-left: 15px;
}

#inv-sum-content-div  .inv-sum-amount:last-child{
	margin-top: -3px;
}

#return-div{
	margin-top: -15px;
}

#goal-amount{
	background-color: transparent;
	width: 80%;
	font-size: 18px;
	outline: none;
	text-align: center;
}

#growth-type{
	padding: 5px;
	margin-left: 10px;
	border-radius: 3px;
	color: #0091EA;
}

#growth-type:hover{
	background-color: #f3f3f3;
	cursor: pointer;
	transition: 0.3s;
}

#avg-returns {
    margin-bottom: 0px;
    margin-top: 5px !important;
}

.modal-dialog{
	width: 300px !important;
}

#modal-header{
	border-bottom: none !important;
	color: #555555 !important;
}

.goal-info{
	padding: 0px 30px 20px;
    margin-bottom: 0px;

}

#modal-body{
	margin: 0px !important;
	padding-bottom: 0px 0px 20px !important;
}


#okay-goal{
	    font-size: 16px;
    width: 75px;
    padding: 5px;
}

.modal-backdrop {

    background-color: white !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .7;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5) !important;
    box-shadow: 0 0px 15px rgba(202, 202, 202, 0.5) !important;
}


.modal-header {
    padding: 20px 15px 0px !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .7;
}

.modal-content {
    background-color: #fff;
     border: none !important;  
    border-radius: 6px;
    outline: 0;
}

#goal-info:hover{
	cursor: pointer;
}

#goal-chart-div{
	margin-left: -15px;
}


.bse-material{
	vertical-align: middle;
    font-size: 30px !important;
}


.bse-material:hover{
	background-color: none!important;
	cursor: text !important;
}

.p-b-20{
	padding-bottom: 10px !important;
}

.portfolio-details-holder{
	padding-bottom: 10px;
}

#bse-date{
	float: right;
    font-size: 12px;
    margin-right: 20px;
    display: block;
    margin-top: 3px;
}

#inactive-parent{
	    padding: 25px 20px 20px;
    background-color: #0091EA;
    color: white;
    border-radius: 5px;
/*    margin-top: -25px;
    position: relative;
    z-index: -10;*/
    font-size: 18px;
    box-shadow: 0px 0px 10px #a7a7a7;
}

#inactive-info .material-icons{
	vertical-align: middle !important;
}


#inactive-info ~ span{
	margin-left: 20px;
}

#alert-holder{
	z-index: 0;
	position: relative;
	margin-top: -25px
}

#inactive-parent a{
	color: white;
	position: relative;
	z-index: 20;
};

.navbar-custom{
	z-index: 25 !important;
}


