@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

	.navbar-nav>li>a {
		font-size: 14px !important;
		padding-top : 20px !important;
	}

	.nav-user-name,.nav-user-details{
		display: none;
	}

	.xirr-radio-div span,.abs-radio-div span{
		width: 50px;
	}

	#nav-invest-btn{
		width: 120px;
	}

	#goal-chart {
	    margin-left: 0px;
	    height: 180px;
	}

	#goal-perc{
		top: 34%;
    	left: 34%;
    	font-size: 26px !important;
	}

	#add-inv-card p{
		font-size: 20px !important;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 26px !important;
	}

	.portfolio-details-holder{
		padding: 0px 10px !important;
	}

	.portfolio-amount-value {
    	font-size: 18px !important;
    }

    #port-comp-container{
    	padding: 20px 0px;
    }


	.border-xs-right{
		border-right: 1px solid #e6e6e6 ;
	}

}

@media(min-width: 768px) and (max-width: 992px){

	.navbar-nav>li>a {
		font-size: 14px !important;
		padding-top : 20px !important;
		padding: 20px 5px !important
	}

	.nav-user-name,.nav-user-details{
		display: none;
	}

	.xirr-radio-div span,.abs-radio-div span{
		width: 50px;
	}

	.section-header{
		font-size: 14px !important;
	}

	.cont-header{
		font-size: 13px !important;
	}

	.inv-sum-amount{
		font-size: 18px !important;
	}

	.sub-cont-amount{
		font-size: 16px !important;
	}

	.imp-content{
		font-size: 14px !important;
		margin-bottom: 0px !important;
	}

	#nav-invest-btn{
		width: 100px;
    	font-size: 13px !important;
	}

	#goal-chart {
	    margin-left: 0px !important;
	    height: 170px;
	}

	#goal-perc{
		top: 32% !important;
		left: 50% !important;
		font-size: 22px!important;
	}

	.inner-number-value{
		font-size: 16px !important;
	}

	.benchmark-holder{
		padding-top: 10px !important;
	}

	a#invest-btn{
		width: 110px !important;
		padding: 10px 0px !important;
	}

	#one-day-bse {
	    display: inline-block;
	    text-align: left;
	    margin-left: 23px;
	}

	#add-inv-card p{
		font-size: 18px!important;
    	padding: 35px !important;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 16px!important;
		margin-top: 5px;
	}

	.portfolio-comp-container{
		padding : 0px;
	}

	.portfolio-details-holder{
		padding: 0px 10px !important;
	}

	.portfolio-amount-value {
    	font-size: 14px!important;
    }

    #port-comp-container{
    	padding: 20px 0px;
    }

    .section-header-info{
    	font-size: 10px!important;
    }

    .nav-logo{
    	height: 20px;
    }


	.border-xs-right{
		border-right: 1px solid #e6e6e6 ;
	}



    #inactive-info ~ span {
    margin-left: 10px !important;
    width: 70vw !important;
    font-size: 18px;
	}
	
	#bse-date {
    display: none !important;
	}
	#portfolio-comp-container{

		border-right: none;
	}

}

@media(min-width: 500px) and (max-width: 767px){

	#inv-summary-header{
 		padding: 20px 0px 50px;
	}

	.xs-widthres{
		width: 50% !important;
	}

	.cont-header{
		font-size: 15px!important;
	}

	.inv-details-container{
		margin-bottom: 15px;
	}

	#returns-holder{
		margin-top: 0px;
	}

	#returns-text-holder{
		margin-top: -10px;
	}

	.benchmark-holder{
		padding-top: 10px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 57px;
	}

	#add-inv-card{
		height: auto !important;
		margin-top: 15px;
	}

	#add-inv-card p {
	    padding: 10px;
	    padding-bottom: 0px;
	    padding-top: 25px;
	    font-size: 18px!important;
	}

	a#invest-btn{
		width: 130px !important;
		padding: 8px 0px !important;
		margin-bottom: 20px;
	}

	#key-benchmark{
		padding-right: 0px;
	}
	#debt-comp-container{
		border-right: none !important ;
	}
	.portfolio-comp-container{
		margin: 20px 0px !important;
		border-right: 1px solid #e6e6e6 !important;
	}

	#portfolio-comp-container{
		margin: 20px 0px;
		width: 100%;
		text-align: center;
		border-bottom:none;

	}

	.portfolio-split,.portfolio-returns{
		font-size: 24px !important;
    	margin-top: 5px;

	}

	.border-xs-bottom{
	    border-bottom: 1px solid #e6e6e6;
	}
	.border-xs-right{
		/*border-right: none !important ;*/
	}

	.xs-hr{
		height: 1px;
		background-color: #e6e6e6;
	}

		#goal-chart {
	    margin-left: 0px;
	    height: 170px;
	}

	#goal-perc{
		top: 34% !important;
		left: 40% !important;
		font-size: 24px!important;
	}

	.sub-cont-amount{
		margin-top: 0px;
		font-size: 18px !important; 
	}

	.container-card{
		height: 300px;
	}

	.benchmark-holder .pl-30{
		padding-left: 10px;
	}

	.benchmark-holder .pr-30{
		padding-right: 10px;
	}

	.inner-number-value{
		font-size: 16px !important;
	}

	#one-day-bse {
    display: inline-block;
    text-align: left;
    margin-left: -5px;
	}

	#add-inv-card p {
    padding: 20px !important;

	}

	.text-right {
	    text-align: left;
	/*    margin-left: 22px;*/
	}

	.padding-xs-zero{
		padding: 0px;
	}

	.portfolio-amount-value{
		font-size: 20px!important;
	}

	.imp-content{
		    margin-bottom: 0px;
		font-size: 14px!important;
	}

	.sub-cont-header{
		margin-bottom: 0px;
	}

	 .contenthead-left{
    	text-align: left;
    }


    #inactive-info ~ span {
    margin-left: 10px !important;
    width: 70vw !important;
    display: inline-flex !important;
    font-size: 18px;
	}

	#bse-date {
    display: none !important;
	}
}

@media(min-width: 350px) and (max-width: 500px){
	#inv-summary-header{
 		padding: 10px 0px 70px;
	}

	#inv-summary-header div:nth-child(2){
		padding : 0px;
	}

	#goal-header{

	}	
	.cont-header{
		font-size: 16px!important;
	}

	.inv-sum-amount{
		font-size: 16px !important;
	}

	.inv-details-container{
		margin-bottom: 15px;
	}

	#returns-holder{
		margin-top: 0px;
	}

	#returns-text-holder{
		margin-top: -10px;
	}

	.benchmark-holder{
		padding-top: 10px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 57px;
	}

	#add-inv-card{
		height: auto !important;
		margin-top: 15px;
	}

	#add-inv-card p {
	    padding: 10px !important;
    	padding-bottom: 0px !important;
    	padding-top: 15px !important;
    	font-size: 16px!important;
	}

	a#invest-btn{
		width: 115px !important;
		padding: 8px 0px !important;
		    margin-bottom: 20px;
	}

	#key-benchmark{
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 10px;
	}

	.portfolio-comp-container{
		margin: 20px 0px;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #e6e6e6;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 24px!important;
    	margin-top: 5px;

	}

	.border-xs-right{
		border-right: none !important;
	}

	.xs-hr{
		height: 1px;
		background-color: transparent;
	}

		#goal-chart {
	    margin-left: 0px;
	    height: 180px;
	}

	#goal-perc{
		top: 34% !important;
    	left: 40% !important;
	    font-size: 24px!important;
	}

	.sub-cont-amount{
		margin-bottom: 0px;
	}

	.container-card{
		height: 250px;
	}

	.benchmark-holder .pl-30{
		padding-left: 20px;
	}

	.benchmark-holder .pr-30{
		padding-right: 20px;
	}

	.inner-number-value{
		font-size: 16px !important;
	}

	#one-day-bse {
	    display: inline-block;
	    text-align: left;
	    margin-left: 4px;
	}

	.text-right {
	    text-align: left;

	}

	.padding-xs-zero{
		padding: 0px;
	}

	.portfolio-amount-value{
		font-size: 20px!important;
	}

	.imp-content{

		font-size: 16px!important;
	}

	.sub-cont-header{
		margin-bottom: 0px;
	}

	#goal-div,#key-benchmark{
		width: 100%;
	}

	#footer-section{
		text-align: center;
	}
	 .contenthead-left{
    	text-align: left;
    }


    #inactive-info ~ span {
    margin-left: 10px !important;
    width: 53vw !important;
    display: inline-flex !important;
    font-size: 16px;
	}

	.inv-detailsleft
	{
		padding-left: 0px;
	}



	.inv-detailsright{

			padding-right: 0px;
	}


}

@media(min-width: 300px) and (max-width: 350px){

	.section-header{
		padding-left: 16px !important;
	}


	.inv-detailsleft
	{
		padding-left: 0px;
	}



	.inv-detailsright{

			padding-right: 0px;
	}


	#inv-summary-header{
 		padding: 10px 0px 70px;
	}

	#inv-summary-header div:nth-child(2){
		padding : 0px;
	}

	#goal-header{

	}

	.cont-header{
		font-size: 12px !important;
	}



	.inv-details-container{
		margin-bottom: 15px;
	}

	#returns-holder{
		margin-top: 0px;
	}

	#returns-text-holder{
		margin-top: -10px;
	}

	.benchmark-holder{
		padding-top: 10px;
	}

	#one-day-bse {
	    display: inline-block;
	    text-align: left;
	    margin-left: -5px;
	}

	#add-inv-card{
		height: auto !important;
		margin-top: 15px;
	}

	#add-inv-card p {
	    padding: 10px !important;
    	padding-bottom: 0px !important;
    	padding-top: 15px !important;
    	font-size: 16px !important;
	}

	a#invest-btn{
		width: 115px !important;
		padding: 8px 0px !important;
		margin-bottom: 20px !important;
	}

	#key-benchmark{
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 10px;
	}

	.portfolio-comp-container{
		margin: 20px 0px;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #e6e6e6;
	}

	#portfolio-comp-container{
		margin: 20px 0px;
		width: 100%;
		text-align: center;
		border-bottom:none;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 24px !important;
    	margin-top: 5px;

	}

	.border-xs-right{
		border-right: none !important;
	}

	.xs-hr{
		height: 1px;
		background-color: transparent;
	}

		#goal-chart {
	    margin-left: 0px;
	    height: 180px;
	}

	#goal-perc{
		top: 34% !important;
	    left: 47% !important;
	    font-size: 24px !important;
	}

	.sub-cont-amount{
		margin-bottom: 0px;
		font-size: 18px !important;
	}

	.container-card{
		height: 250px;
	}

	.benchmark-holder .pl-30{
		padding-left: 20px !important;
	}

	.benchmark-holder .pr-30{
		padding-right: 20px;
	}

	.inner-number-value{
		font-size: 14px !important;
	}

	.text-right {
	    text-align: left;
	/*    margin-left: 22px;*/
	}

	.padding-xs-zero{
		padding: 0px;
	}

	.portfolio-amount-value{
		font-size: 20px !important;
	}

	.imp-content{

		font-size: 12px !important;
	}

	.sub-cont-header{
		margin-bottom: 0px;
	}

	#goal-div,#key-benchmark{
		width: 100%;
	}

	#footer-section{
		text-align: center;
	}

	.navbar-brand {
		padding-top: 10px !important;
	}



	.cont-header {
	    font-size: 14px !important;
	}

	.inv-sum-amount {
	    font-size: 17px !important;
	}

	#goal-perc {
	    top: 35%;
	    left: 40%;
	    font-size: 24px !important;
	}

	.sub-cont-amount {
    	font-size: 20px !important;
    }

    .contenthead-left{
    	text-align: left;
    }

    #inactive-info ~ span {
    margin-left: 10px !important;
    width: 53vw !important;
    display: inline-flex !important;
    font-size: 14px;
	}
    
    #bse-date {
    font-size: 10px !important;
	}

	#goal-chart {
    margin-left: 12px !important;
	}

	.section-header-info {
     margin-top: 0px !important; 
	}
}