#media-kit{
	background-color: #0091EA;
    padding: 70px 0px;
    color: white !important;
}

#press-release{
	padding: 0px 0px 50px;
}

.usage-info{
	 padding: 0px 150px 0px 0px;
}

#media-header{
	margin-bottom: 50px;
	color: white !important;
}

#download-card{
	background-color: white;
	border-radius: 5px;
	height: 190px;
    width: 185px;
	text-align: center;
	box-shadow: 0px 0px 20px rgba(144, 144, 144, 0.5);
}

section {
    margin: 0px auto !important;
}

#kit-icon{
	color: #555555;
    margin-top: 30%;
    font-size: 60px;
}

#kit-icon:hover{
	cursor: default;
	background-color: transparent !important;
}

.navbar {
     margin-bottom: 0px !important; 

}

#kit-link{
	color: #555555;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    transition:0.3s;

}

#kit-link:hover{
	color: #0091ea;

}

#press-header{
	color: #555555;
	margin-top: 50px;
	margin-bottom: 50px;
}

.press-image{
	height: 50px;
}

.press-info{
	margin-top: 10px;
	padding: 0px 150px 0px 0px;
}

.link-arrow{
	margin-left: 10px;
}

.press-links{
	color: #0091EA;
}

.press-link:hover{
	cursor: pointer;
	color: #0091EA !important;
}



@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){

	.usage-info {
	    padding: 0px 70px 0px 0px;
	}

	.press-info{
		    padding: 0px 80px 0px 0px;
	}


	#kit-link{
		font-size: 16px;
	}


}

@media(min-width: 500px) and (max-width: 767px){

	#media-header{
		text-align: center;
	}

	#download-card{
		margin-top: 50px;
	}

	.usage-info {
	    padding: 0px 70px 0px 0px;
	}

	.press-info{
		    padding: 0px 80px 0px 0px;
	}


	#kit-link{
		font-size: 16px;
	}

	#download-card{
		margin-top: 30px;
	}

		.usage-info {
	    text-align: center;
    	padding: 0px 20px;
	}

	.press-info{
		    padding: 0px 80px 0px 0px;
	}

	#press-header{
		text-align: center;
	}

	#press-release {
	    padding: 0px 0px 50px;
	    text-align: center;
	}

	.press-info{
		padding: 0px 40px;
	}


	#kit-link{
		font-size: 16px;
	}

	#download-card{
		margin-top: 30px;
	}

}

@media(min-width: 350px) and (max-width: 500px){

	#media-header{
		text-align: center;
	}

	.usage-info {
	    padding: 0px 70px 0px 0px;
	}

	.press-info{
		    padding: 0px 80px 0px 0px;
	}


	#kit-link{
		font-size: 16px;
	}

	#download-card{
		margin-top: 30px;
	}


		.usage-info {
	    text-align: center;
    	padding: 0px 20px;
	}

	.press-info{
		    padding: 0px 80px 0px 0px;
	}

	#press-header{
		text-align: center;
	}

	#press-release {
	    padding: 0px 0px 50px;
	    text-align: center;
	}

	.press-info{
		padding: 0px 40px;
	}


	#kit-link{
		font-size: 16px;
	}

	#download-card{
		margin-top: 30px;
	}

}

@media(min-width: 300px) and (max-width: 350px){
	
	#media-header{
		text-align: center;
	}

	.usage-info {
	    text-align: center;
    	padding: 0px 20px;
	}

	.press-info{
		    padding: 0px 80px 0px 0px;
	}

	#press-header{
		text-align: center;
	}

	#press-release {
	    padding: 0px 0px 50px;
	    text-align: center;
	}

	.press-info{
		padding: 0px 40px;
	}


	#kit-link{
		font-size: 16px;
	}

	#download-card{
		margin-top: 30px;
	}
}