#modal-header{
	color: #555555 !important;
    font-size: 16px;
}

#modal-body{
	padding: 0px;
	margin :20px auto;
}

#modal-body .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-weight: 500;
    color: #555555;
}

#modal-body .table>tbody>tr>td{
	padding: 12px !important;
}


.modal-backdrop {

    background-color: white !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .7;
}

.modal-content {
    background-color: #fff;
     border: none !important;  
    border-radius: 6px;
    outline: 0;
}


.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5) !important;
    box-shadow: 0 0px 15px rgba(202, 202, 202, 0.5) !important;
}


.modal-img{
	height: 80px;
	padding-bottom: 20px;
}

.modal-info-text{
	    font-size: 20px;
    color: #555555;
    margin-bottom: 20px;
}

.modal-body  a{
	font-weight: 500;
	display: block;
    margin: 10px auto 30px;

}

.popup-btn{
    margin: 15px auto 20px !important;
    border-radius: 3px;
    width: 100px;
}

