
@media(min-width: 1600px)  and (max-width: 3840px){

	.sm-logout{
	display: none !important;
	}
}

@media(min-width: 1400px) and (max-width: 1600px){

	.sm-logout{
	display: none !important;
	}

}

@media(min-width: 1200px) and (max-width: 1400px){

	.sm-logout{
	display: none !important;
	}
}


@media(min-width: 992px) and (max-width: 1200px){

	.navbar-nav>li>a {
		font-size: 14px !important;
		padding-top : 20px !important;
	}

	.nav-user-name,.nav-user-details{
		display: none;
	}

	.xirr-radio-div span,.abs-radio-div span{
		width: 50px;
	}

	#nav-invest-btn{
		width: 120px;
	}

	.sm-logout{
	display: none !important;
	}
}

@media(min-width: 768px) and (max-width: 992px){

	.navbar-nav>li>a {
		font-size: 14px !important;
		padding-top : 20px !important;
		padding: 20px 5px !important
	}

	.nav-user-name,.nav-user-details{
		display: none;
	}

    .nav-logo{
    	height: 20px;
    }

    #nav-invest-btn{
		width: 100px;
    	font-size: 13px;
	}

	.navbar-brand {
	    padding: 20px 0px!important;
	    margin-left: 10px !important;
	    margin-right: 10px !important;
	}

	.sm-logout{
	display: none !important;
	}
}

@media(min-width: 500px) and (max-width: 767px){


	.nav-logo {
	    height: 26px !important;
	}

	.navbar-default .navbar-toggle{
		border:none;
	}

	.navbar-custom{
		text-align: center;
		padding-bottom: 10px !important;
	}

	#nav-notification{
		display: none;
	}

	.navbar-right li:nth-child(3),li:nth-child(4){
		/* display: inline-block; */
		margin-top: 20px;
	}

	.navbar-right li:nth-child(3){
		display: none;
	}

	#nav-initial{
		margin-top: -10px;
		display: none !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: transparent !important;
	}

	.navbar-default .navbar-toggle{
		border-color: transparent !important;
	}
	#nav-invest-btn {
    margin-top: 10px !important;
     display: none; 
	}

	.lg-logout{
	display: none !important;
	}


}

@media(min-width: 350px) and (max-width: 500px){
		
	.nav-logo {
	    height: 26px !important;
	}

	.navbar-custom{
		text-align: center;
		padding-bottom: 10px !important;
	}

	#nav-notification{
		display: none;
	}

	.navbar-right li:nth-child(3),li:nth-child(4){
		display: inline-block;
		
	}

	.navbar-right li:nth-child(3){
		display: none;
	}

	#nav-initial{
		margin-top: -10px;
		display: none !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: transparent !important;
	}

	.navbar-default .navbar-toggle{
		border-color: transparent !important;
	}
	#nav-invest-btn {
    margin-top: 10px !important;
     display: none; 
	}

	.lg-logout{
	display: none !important;
	}

}

@media(min-width: 300px) and (max-width: 350px){
	.nav-logo {
	    height: 24px !important;
	}

	.navbar-custom{
		text-align: center;
		padding-bottom: 10px !important;
	}

	#nav-notification{
		display: none;
	}

	.navbar-right li:nth-child(3),li:nth-child(4){
		display: inline-block;
		margin-top: 20px;
	}

	.navbar-right li:nth-child(3){
		display: none;
	}

	#nav-initial{
		margin-top: -10px;
		display: none !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: transparent !important;
	}

	.navbar-default .navbar-toggle{
		border-color: transparent !important;
	}

	#nav-invest-btn {
    margin-top: 10px !important;
     display: none; 
	}

	.lg-logout{
	display: none !important;
	}

}

#nav1-notification{
	display: none;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: transparent; 
}