/*CSS for Dropdown*/



.navbar-default .dropdown-menu.notify-drop {
  min-width: 360px !important;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
  box-shadow: 0px 0px 40px rgba(206, 206, 206, 0.8);
  border-radius: 4px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 0px;
  max-height: 359px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid gainsboro;
  padding: 10px 0px 10px 0px;
}
/*.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #f1f1f1;
}*/
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #f1f1f1;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: gainsboro;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin: 0px 10px;
    /*margin-left: 25px;*/
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
	font-size: 12px;
    /* font-weight: 600; */
    top: -6px;
    margin: 10px 0px 0px 0px;
    padding: 0px 3px;
    /* border: 1px solid gainsboro; */
    position: relative;
    background-image: none;
    display: inline-block;
    border-radius: 2px;
    color: #555555;
    margin-left: 10px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid gainsboro;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

.navbar-nav>li>a.dropdown-toggle{
	padding: 0px !important;
    background-color:0 white !important;
    background-image: none;
    outline: none;
    box-shadow: none;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image: none !important;
	box-shadow: none !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent !important;
}