
.fund-name-header{
    width: 220px;
}

.fund-name-content{
    font-size: 16px;
}


.folio-number-header{
    width: 130px;
}

.container-border{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}


th.fund-name-header>p{
    padding-left: 18px;
}

td.fund-name-content>p{
    padding-left: 18px;

}

.total-content-data{
    color: #0091EA !important;
    font-weight: 500 !important;
    font-size: 18px;
    margin-bottom: 0px;
}


.portfolio-table-section{
    margin-bottom: 15px;
}

#export-portfolio-btn{
    float: right;
}

.no-port{
    margin-left: 25px;
    font-size: 16px;
    margin-top: -15px;

}

.acc-table-wrapper{
    overflow-y: none;
    
}


.table>thead>tr>th {
    padding-bottom: 2px;
}




