#register-container{
	height: 550px;
    padding: 50px;

}

.logo{
	display: block;
	height: 30px;
	margin-left: 15px;
}

.heading{
	color: #555555;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 20px;
}

.sub-heading{
	    font-size: 16px;
    color: #555555;
	padding-top: 5px;
    font-size: 14px;
    padding-right: 250px;
}

ul{
	list-style-type: none;
    padding: 0px;
}

.social-icon{
	height: 20px;
}

ul li{
	display: inline;
	margin-right: 15px;
}

#footer-container{
	margin-top: 25%;
}

#mf-disclaimer {
    font-size: 12px;
    line-height: 15px;
    padding-right: 30px;
}


.input-field{
	width: 75% !important;
}


.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label{
	position: absolute;
	top: 10px;
	left: 0px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}




#second-col{
	padding-left: 100px;
}

#form-container{
	margin-top: 25px;
}

.register-btn{
	margin-top: 10px;
	width: 100px !important;
}

#register-form{
	display: none;
}

#forgot-password{
	margin-right: 110px;
	font-size: 12px;
	margin-top: 5px;
}


#forgot-password:hover{
	cursor: pointer;
	color: #0091EA;
}
.active-form{
	color: #0091EA;
}

.form-heading:hover{
	cursor: pointer;
}

#otpModal .modal-dialog{
	width: 365px;
}

.otp-field{
	width: 100% !important;
}

#we-have{
	font-size: 20px;
    color: #555;
    font-weight: 500;
    margin-top: 15px;
}

#sms{
	font-size: 14px;
    color: #555;
    font-weight: 400;
}

#didn-t{
	margin-top: 25px;
}

#verify-btn{
	width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#otp-container {
    padding: 30px 40px;
}

#resend{
	color: #0091EA;
}

#resend:hover{
	cursor: pointer;
}

#otp_success_msg{
	text-align: center;
    color: #0091EA;
}

#otp1,#otp2,#otp3,#otp4{
	font-size: 26px;
    text-align: center;
}

#login-link{
	/*text-decoration: underline;*/
	color: #0091EA;
	font-weight: 500;
}

#submit ~ span{
	margin-left: 10px;
	    color: #555555 !important;
}



#right-footer-container{
	display: none;
}