@media(min-width: 1800px){
	#register-section{
		display: flex;
	    align-items: center;
	    height: 94vh;
	}
}

@media(min-width: 1600px){
	#register-section{
		display: flex;
	    align-items: center;
	    height: 94vh;
	}
}

@media(min-width: 1400px) {
	#register-section{
		display: flex;
	    align-items: center;
	    height: 94vh;
	}
}


@media(min-width: 992px) and (max-width: 1200px){
	#register-section{
		display: flex;
	    align-items: center;
	    height: 94vh;
	}
	.sub-heading{
		padding-right: 130px;
	}

	#second-col{
		padding-left: 70px;
	}
}

@media(min-width: 768px) and (max-width: 992px){
	#register-section{
		display: flex;
	    align-items: center;
	    height: 94vh;
	}
	.sub-heading{
		padding-right: 0px;
	}

	#second-col{
		padding-left: 40px;
    	padding-right: 0px;
	}

	#register-container {
	    height: 550px;
	    padding: 50px 25px;
	}

	.heading {
	    color: #555555;
	    font-size: 20px;
	    font-weight: 500;
	    margin-bottom: 5px;
	    margin-top: 25px;
	}

	.footer-links{
		margin: 0px 5px 0px 0px;
	}

	.register-btn{
		width: 65px !important;
	}
}

@media(min-width: 500px) and (max-width: 767px){

	#right-footer-container{
		display: block;
	}

	.logo ~div.border-right{
		border:none;
		padding-left: 0px;
	}

	#footer-container{
		display: none !important;
	}

	#second-col{
		padding-left: 0px;
	}

	#register-container{
		height: 650px;
		margin: 5%;
	}

	.logo{
		margin-left: 0px;
	}

	.sub-heading{
    	padding-right: 100px;
	}

}

@media(min-width: 350px) and (max-width: 500px){


		#right-footer-container{
		display: block;
	}

	.logo ~div.border-right{
		border:none;
		padding-left: 0px;
		padding-right: 0px;
	}

	#footer-container{
		display: none !important;
	}

	#second-col{
		padding-left: 0px;
	}

	#register-container{
		height: auto !important;
		margin: 5%;
	}

	.logo{
		margin-left: 0px;
	}

	.sub-heading{
    	padding-right: 0px;
	}

	.input-field{
		width: 100% !important;
	}

	#submit ~ span {
    /* margin-left: 10px; */
	    color: #555555 !important;
	    display: block;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.form-group{
		margin-bottom: 0px !important;
	}

	#mf-disclaimer{
		padding-right:0px;
	}

	#register-container{
	    padding: 50px 25px;
	}

	#forgot-password{
		margin-right: 0px;
		display: block;
	}

}

@media(min-width: 300px) and (max-width: 350px){
			#right-footer-container{
		display: block;
	}

	.logo ~div.border-right{
		border:none;
		padding-left: 0px;
		padding-right: 0px;
	}

	#footer-container{
		display: none !important;
	}

	#second-col{
		padding-left: 0px;
	}

	#register-container{
		height: auto !important;
		margin: 5%;
	}

	.logo{
		margin-left: 0px;
	}

	.sub-heading{
    	padding-right: 0px;
	}

	.input-field{
		width: 100% !important;
	}

	#submit ~ span {
    	margin-left: 0px;
	    color: #555555 !important;
	    display: block;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.form-group{
		margin-bottom: 0px !important;
	}

	#mf-disclaimer{
		padding-right:0px;
	}

	#register-container{
	    padding: 50px 25px;
	}

	#forgot-password{
		margin-right: 0px;
		display: block;
	}

	.heading{
		font-size: 20px !important;
	}
}