@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){
	.sub-heading{
		padding-right: 130px;
	}

	#second-col{
		padding-left: 70px;
	}
}

@media(min-width: 768px) and (max-width: 992px){
	.sub-heading{
		padding-right: 0px;
	}

	#second-col{
		padding-left: 40px;
    	padding-right: 0px;
	}

	#register-container {
	    height: 550px;
	    padding: 50px 25px;
	}

	.heading {
	    color: #555555;
	    font-size: 20px;
	    font-weight: 500;
	    margin-bottom: 5px;
	    margin-top: 25px;
	}

	.footer-links{
		margin: 0px 5px 0px 0px;
	}
}

@media(min-width: 500px) and (max-width: 767px){

}

@media(min-width: 350px) and (max-width: 500px){

}

@media(min-width: 300px) and (max-width: 350px){
	
}