#settings-sidebar{
	height: 240px;
}

#settings-nav{
	padding-left: 0px;
}

#settings-nav>li{
	list-style: none;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 16px;
}

#settings-nav>li>a:hover{
	color: #0091EA;
}

#settings-nav a {
	color: #555555;
	text-decoration: none;
}

.active-settings-nav > a{
	color: #0091EA !important;
}


.input-field{


  background-color: #ffffff;
  border: medium none;
  transition: background-color 0.3s ease 0s;
  padding: 7px 0px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  color: #555555;
  font-size: 14px;


}

.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label{
	position: absolute;
	top: 10px;
	left: 15px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}

input:valid ~ label , input:disabled ~ label {
	top: -12px;
	font-size: 11px;
	
	color: #555555;
}

input:focus ~ label{
		top: -12px;
	font-size: 11px;
	color: #0091EA;
}

input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}


#submit-personal{
	margin-left: 30px;
}

#bank-details-info{
	padding-left: 30px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#add-nominee-btn{
	border-radius: 5px;
	background-color: #F3F3F3;
	margin-right: 20px;
	color: #555555;
}

#change-password-tab,#bank-details-tab,#nominee-details-tab,#bank-details-info,#add-nominee-btn{
	display: none;
}


.inactive-sidemenu{
	font-weight: 300;
    color: #333333;
}


.modal-dialog{
	width: 300px !important;
}

#modal-body{
	padding: 15px 20px !important;
	margin: 0px !important;
}

.modal-header{
	border-bottom: none !important;
}


#submit-nominee{
	margin-bottom: 25px;
    margin-left: 30px !important;
    margin-top: 15px;

}


#nom-label{
	color: #c5c5c5 !important;
	    margin-left: 10px;
    display: block;
    margin-top: 0px
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    display: none;
}

.checkbox-row{
	
}


.calendar-icon{
	color: #95989A !important;
}

.calendar-icon:hover{
	cursor: text !important;
}

