.tax-statement-heading{
	font-size: 22px;
    font-weight: 400;
    padding: 20px 15px;
    margin-bottom: 0px;
}

.tax-financial-year{
	margin-left: 15px;
}

.tax-action-holder{
	padding: 20px 0px;		
	text-align: center; 
	margin-bottom: 0px;
}

.tax-action-holder span:nth-child(2){
	margin-left: 10px;
	margin-top: -5px;
}

.tax-action-holder>span>i{
	margin-top: 5px !important;
}

.tax-action-holder span:first-child{
	vertical-align: -webkit-baseline-middle;
}