#upgrade-card{
	padding: 0px;
}

body,html{
	font-family: 'Roboto', sans-serif !important;
	background-color: #f7f7f7 !important;
}

#upgrade-section{
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px 0px 15px #d4d4d4;
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;
}

.header{
	font-size: 28px;
	color: #777777;
	margin-top: 25px;
}

.list-inline{
	text-align: center;
}

#version{
	font-size: 20px;
    color: #777777;
    font-weight: 500;
}

#follow{
	font-weight: 400;
    margin-top: 25px;
    color: #777777;
}


.social-list{
	margin: 0px 3px;
    margin-top: 10px;
}

.footer-social{
	height: 18px;
}

#copy{
	color: #555555;
	margin: 20px auto;
}

#back-text{
	z-index: -2;
    font-size: 60px;
    color: #d2d2d2;
    opacity: 0.2;
    font-weight: 500;
    margin-bottom: -85px;
}
