@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){

}

@media(min-width: 500px) and (max-width: 767px){
	#withdraw-info-list li{
		font-size: 14px;
		    padding-left: 20px;

	}

	.table-container-header {
	    /* margin-left: 16px; */
	    font-size: 22px;
	    font-weight: 400;
	    color: #555555;
	    /* margin-top: 15px; */
	    /* margin: 15px 0px 15px 25px; */
	    padding: 15px 25px;
	    margin-bottom: 0px;
	}

	.table>tbody>tr>td{
		width: 65px !important;
	}

	#withdraw-summary {
    	height: 200px;
    	margin-top: 25px;
    	text-align: center;
	}
}


#withdraw-summary {
    height: auto !important;
}


@media(min-width: 993px) and (max-width: 1200px){

	#withdraw-summary {
	    height: 284px;
	}


}


@media(min-width: 768px) and (max-width: 992px){

	#withdraw-summary {
	    height: 260px;
	    width: 227px ;
	}


}


@media(min-width: 350px) and (max-width: 500px){
	#withdraw-info-list li{
		font-size: 14px;
	}

	.table-container-header {
	    /* margin-left: 16px; */
	    font-size: 18px;
	    font-weight: 400;
	    color: #555555;
	    /* margin-top: 15px; */
	    /* margin: 15px 0px 15px 25px; */
	    padding: 15px 25px;
	    margin-bottom: 0px;
	}

	.table>tbody>tr>td{
		width: 65px !important;
	}

	.table>tbody>tr>td:nth-child(3){
		text-align: center;
	}

	.table>tbody>tr>td:nth-child(1){
		width: 120px !important;
	}

	#withdraw-summary {
    	height: auto!important;
    	width: auto !important;
    	margin-left: auto;
    	margin-right: auto;
    	display: block;
    	margin-top: 25px;
	}

	.input-field{
		font-size: 12px !important;
    	width: 80px;	}

	.withdraw-fund-name {
	    margin-bottom: 0px;
	    margin-left: 5px;
	    font-size: 14px;
	    font-weight: 500;
	}

	.current-invested, .pending-withdraw {
    	margin-left: 5px;
    }

    .table>tbody>tr>td:nth-child(3) label{
		margin-bottom: 0px;
	}

    .table>tbody>tr>td:nth-child(3) span{
		display: block;
	}
}

@media(min-width: 300px) and (max-width: 350px){
		#withdraw-info-list li{
		font-size: 14px;
	}

	.table-container-header {
	    margin-left: 16px;
	    font-size: 18px;
	    font-weight: 400;
	    color: #555555;
	    /* margin-top: 15px; */
	    /* margin: 15px 0px 15px 25px; */
	    padding: 15px 0px;
	    margin-bottom: 0px;
	}

	.table>tbody>tr>td{
		width: 65px !important;
	}

	.table>tbody>tr>td:nth-child(3){
		text-align: center;
	}

	.table>tbody>tr>td:nth-child(1){
		width: 120px !important;
	}

	#withdraw-summary {
    	height: auto !important;
    	margin-top: 25px;
    	text-align: center;
	}

	.input-field{
		font-size: 12px !important;
    	width: 80px;	}

	.withdraw-fund-name {
	    margin-bottom: 0px;
	    margin-left: 5px;
	    font-size: 14px;
	    font-weight: 500;
	}

	.current-invested, .pending-withdraw {
    	margin-left: 5px;
    }

    .table>tbody>tr>td:nth-child(3) label{
		margin-bottom: 0px;
	}

    .table>tbody>tr>td:nth-child(3) span{
		display: block;
	}

	#withdraw-summary-details{
		padding: 0px;
	}
}